<div class="panel-border panel-border-without-menu">
    <div id="parameters-selection">
        <div class="parameter-level" ng-repeat="level in levels" ng-if="areElementsSelected(level)">
            <div class="parameters-selection-head">{{level}}</div><div class="parameters-add" ng-click="parametersWindow($event, 1, level)">+</div>
            <div class="parameters-selection-body">
                <div ng-repeat="parameter in parameterSelection[level]" class="parameter-row">
                    <div ng-repeat="operator in parameter.operators track by $index">
                        <div ng-if="operator.name != 'effectiveValue'">
                            <div ng-click="openParameterPanel(parameter, $event, level)" class="parameter-key"><span ng-if="$index == 0">{{parameter.name}}</span></div>
                            <div class="parameter-operator" ng-click="openOperatorPanel(parameter, operator, $event, level)">{{operator.name}}</div>
                            <div class="operator-value">
                                <span ng-if="!operator.range">
                                    <input ng-model="operator.low.current" ng-blur="changeValue(parameter.name, operator, operator.low, level, false, 'blur')" ng-keyup="changeValue(parameter.name, operator, operator.low, level, false, $event)"> 
                                </span>
                                <span ng-if="operator.range"> 
                                    <input class="range-input range-left" ng-model="operator.low.current" ng-init="operator.low.old = operator.low.current" ng-blur="changeValue(parameter.name, operator, operator.low, level, true, 'blur')" ng-keyup="changeValue(parameter.name, operator, operator.low, level, true, $event)"> to
                                    <input class="range-input" ng-model="operator.high.current" ng-init="operator.high.old = operator.high.current"  ng-blur="changeValue(parameter.name, operator, operator.high, level, true, 'blur')" ng-keyup="changeValue(parameter.name, operator, operator.high, level, true, $event)">
                                </span>
                            </div>
                        </div>
                        <div ng-if="operator.name == 'effectiveValue'">
                            <div class="parameter-key"></div>
                            <div class="parameter-operator">-></div>
                            <div class="operator-value operator-value-effective">
                                <span ng-if="!operator.range">{{operator.low.current}}</span>
                                <span ng-if="operator.range">{{operator.low.current}} to {{operator.high.current}}</span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
    <div id="parameters-control-panel" ng-if="data.view.parameterOperatorPanel > 0" ng-style="{'top': parameterPanelTop, 'left': parameterPanelLeft}">
        <div id="control-panel-parameters">
            <div ng-repeat="parameter in parameters" ng-class="{'selected': parameter.name == panelParameter.name}" class="control-panel-parameter control-panel-button push-button" ng-click="addParameterToPanel(parameter)">{{parameter.name}}</div>
        </div>
        <div id="control-panel-operators">
            <div ng-repeat="operator in operators" ng-if="operator.name != 'effectiveValue'" ng-class="{'selected': operator.name == panelOperator.name}" class="control-panel-operator control-panel-button push-button" ng-click="addOperatorToPanel(operator)">{{operator.name}}</div>
        </div>
        <div class="control-panel-cancel control-panel-button push-button" ng-click="data.view.parameterOperatorPanel = 0">
            Cancel
        </div>
    </div>
    
    <div class="single-panel control-panel" ng-if="data.view.parameterPanel.display" ng-style="{'left': data.view.parameterPanel.left + 'px', 'top': data.view.parameterPanel.top + 'px'}">
        <div ng-repeat="parameter in parameters" ng-class="{'selected': parameter.name == data.view.parameterPanel.selected}" class="control-panel-parameter control-panel-button push-button" ng-click="changeParameter(parameter)">{{parameter.name}}</div>
        <div class="control-panel-cancel control-panel-button push-button" ng-click="removeParameter()">
            Remove
        </div>
    </div>
    
    <div class="single-panel control-panel" ng-if="data.view.operatorPanel.display" ng-style="{'left': data.view.operatorPanel.left + 'px', 'top': data.view.operatorPanel.top + 'px'}">
        <div ng-repeat="operator in operators" ng-if="operator.name != 'effectiveValue'" ng-class="{'selected': operator.name == data.view.operatorPanel.selected}" class="control-panel-parameter control-panel-button push-button" ng-click="changeOperator(operator)">{{operator.name}}</div>
        <div class="control-panel-cancel control-panel-button push-button" ng-click="removeOperator()">
            Remove
        </div>
    </div>
    
    <!--   
    <div id="inspector" class="standard-padding">
        <div ng-repeat="sequence in data.sequences">
            <div class="inspector-branche" style="display: block" ng-repeat="master in sequence.masters"  ng-if="master.edit && master.type != 'test'">
                <div class="inspector-header">
                    <arrow></arrow>
                    <span ng-class="{'inspector-inactive' : !master.edit[data.viewState]}">{{master.displayName}}</span>
                </div>
                <div class="inspector-branche" ng-repeat="glyph in master.children" ng-if="glyph.edit">
                    <div class="inspector-header">
                        <arrow></arrow>
                        <span>{{glyph.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -effectiveValue
</div>
