<ul id="design-space-tabs">
    <li ng-repeat="space in data.designSpaces" ng-click="selectDesignSpace($index)" ng-class="{selected : $index == data.currentDesignSpace}">
        <div><img ng-src="{{ 'img/' + space.type + '.png'}}">
        </div>
        <div>
            {{space.name}}
        </div>
    </li>
    <li class="add-design-space" ng-click="addDesignSpace()">
        +
    </li>
</ul>
<!-- end of tabs -->

<div class="design-space" ng-class="{unconfigured : data.designSpaces[data.currentDesignSpace].type =='x'}">
    <div ng-show="data.designSpaces[data.currentDesignSpace].type == 'x'">
        <div class="choose-space-type">
            <div class="choose-space-type-button" ng-click="data.designSpaces[data.currentDesignSpace].type = 'Explore'">
                <img src="img/Explore.png">
                <br>
                Explore
            </div>
        </div>
        <div class="choose-space-type">
            <div class="choose-space-type-button" ng-click="data.designSpaces[data.currentDesignSpace].type = 'Control'">
                <img src="img/Control.png">
                <br>
                Control
            </div>
        </div>
    </div>
    
    <div class="drop-area" ng-show="data.designSpaces[data.currentDesignSpace].type != 'x'">
        <control ng-if="data.designSpaces[data.currentDesignSpace].type == 'Control'">
            <div class="slider-input-container" ng-repeat="axis in data.designSpaces[data.currentDesignSpace].axes" ng-style="{'top': ($index * 50 + 45) + 'px'}">
                <input ng-model="data.designSpaces[data.currentDesignSpace].axes[$index].value" class="slider-input-output">%
            </div>
            <select class="left-label-select" ng-change="changeMainMaster()" ng-model="data.designSpaces[data.currentDesignSpace].mainMaster" ng-options="index as master.master.name for (index, master) in data.designSpaces[data.currentDesignSpace].masters" ng-style="{'top': ((data.designSpaces[data.currentDesignSpace].masters.length - 2) * 50 + 43) + 'px'}" ng-if="data.designSpaces[data.currentDesignSpace].masters.length > 2"></select>
        </control>
        <explore ng-if="data.designSpaces[data.currentDesignSpace].type == 'Explore'"></explore>
        <button ng-if="data.designSpaces[data.currentDesignSpace].type == 'Control' && data.designSpaces[data.currentDesignSpace].masters.length == 3" class="triangle-button" ng-click="data.designSpaces[data.currentDesignSpace].triangle = !data.designSpaces[data.currentDesignSpace].triangle">
            Triangles: {{!data.designSpaces[data.currentDesignSpace].triangle}}
        </button>
    </div> 
    <div id="temp-output"><div ng-if="data.designSpaces[data.currentDesignSpace].type == 'Control'" ng-repeat="outp in output track by $index">{{outp}}</div></div>
</div>