.*
*.py[cod]
/users
localconfig.py
/node_modules
test.err
/bower*
.DS_Store
_site
.index.html.swp
.venv
/static
/users
/docs
/sessions
app/lib/obtainJS/

app/lib/ufoJS/

next/app/lib/ufoJS/

next/app/lib/obtainJS/
