<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_left_lc_bar</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>i</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_left_lc_round</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>g</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>q</string>
	</array>
	<key>@MMK_R_right_lc_bar</key>
	<array>
		<string>d</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_right_lc_round</key>
	<array>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>p</string>
	</array>
	<key>All Glyphs</key>
	<array>
		<string>space</string>
		<string>exclam</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>dotlessi</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>minus</string>
		<string>Hcircumflex</string>
		<string>hcircumflex</string>
		<string>quotesinglbase</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>scircumflex</string>
		<string>edotaccent</string>
		<string>sacute</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>oe</string>
		<string>Lacute</string>
		<string>fl</string>
		<string>i.dot</string>
		<string>nacute</string>
		<string>quotedblbase</string>
		<string>ij</string>
		<string>racute</string>
		<string>endash</string>
		<string>fi</string>
		<string>emdash</string>
		<string>v_u</string>
		<string>v_e</string>
		<string>c_pa</string>
		<string>v_a</string>
		<string>v_oa</string>
		<string>v_rhu</string>
		<string>c_pha</string>
		<string>kana</string>
		<string>v_o</string>
		<string>v_ea</string>
		<string>v_ee</string>
		<string>v_uu</string>
		<string>component_3</string>
		<string>component_2</string>
		<string>component_1</string>
		<string>component_5</string>
		<string>v_aa</string>
		<string>v_ao</string>
		<string>v_ai</string>
		<string>v_au</string>
		<string>component_6</string>
		<string>v_ae</string>
		<string>component_4</string>
		<string>a.alt</string>
		<string>boucle</string>
	</array>
	<key>Punctation</key>
	<array>
		<string>guillemotleft</string>
		<string>guillemotright</string>
	</array>
	<key>left_bar</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>i</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
		<string>u</string>
		<string>ij</string>
		<string>racute</string>
	</array>
	<key>right_bar</key>
	<array>
		<string>d</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>q</string>
		<string>u</string>
		<string>ij</string>
		<string>fi</string>
		<string>ij</string>
		<string>fl</string>
	</array>
</dict>
</plist>
