body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.slider-menu {
    width:360px;
    display:block;
    height:100%;
    border-right: 2px solid #eeeeee;
    position:fixed;
}

.sliders {
    margin-top: -30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}
.sliders span {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
canvas {
    background-color: #fffeef;
}

.caption {
    font-size: 11px;
    text-align: left;
    padding-left: 10px;
}

.lead {
    font-size: 14px;
}

a {
    color:#2b2b2b;
    text-decoration:none;
}

#glyph {
    background-color: #fffeef;
    margin-bottom:20px;
    padding-top:50px;
    padding-bottom:50px;
}

#glyphsWord {
    background-color: #fffeef;
    margin-bottom:20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#xheight {
    background-color: #fffeef;
    margin-bottom:20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#paragraphWord {
    background-color: #fffeef;
    margin-bottom:20px;
    padding-top:5px;
}

.container-fluid {
    padding-top: 30px;
    width: 100%;
    text-align: center;
}
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1.5em;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > a {
    decoration: none;
    margin:0;
}

@media (min-width: 768px) {
  .masthead-brand {
    margin-top: 7px;
    float: left;
  }
  .masthead-nav {
    margin-top: 5px;
    float: right;
  }
  .masthead {
    z-index:1;
    position: fixed;
    width:100%;
    background-color: #eeeeee;
    height: 30px;
  }
}
@media (max-width: 768px) {
    .masthead {
        height: 80px;
    }
}
.masthead {
    background-color: #eeeeee;
}

.masthead .feature-nav {
    width:350px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.masthead .feature-nav > li {
  display: inline;
}

.btn-black {
    background-color: #57595b;
    color:white;
    border-radius: 50px;
    padding:0px 6px 0px 6px;
}

.slider-block {
    display:inline;
    width:400px;
}
.dg.main {
    padding-top: 40px;
}

.dg.a {
    margin: 0 auto !important;
    float: none !important;
}
