<div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Adjustment Masters <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="#">New</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">Set Scripts…</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">Quick Export...</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">Delete...</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">Create Sequence</a>
        </li>
        <li>
            <a href="#">Delete Sequence...</a>
        </li>
    </ul>
</div>