<ul id="design-space-tabs">
    <li ng-repeat="space in data.designSpaces track by space.id" ng-click="selectDesignSpace(space)" ng-class="{selected : space == data.currentDesignSpace}">
        <localmenu class="localmenu localmenu-inside" class="left" ng-if="space == data.currentDesignSpace">
            <div class="lm-head" ng-mousedown="data.selectMenu('designspace')">
                <div class="rename" ng-model="space.name"></div>&nbsp;
            </div>
            <div class="lm-body" ng-if="data.localmenu.designspace">
                <div class="lm-button" ng-mouseup="addDesignSpace()">New</div>
                <div class="lm-button" ng-mouseup="duplicateDesignSpace()">Duplicate</div>
                <div class="lm-divider"></div>
                <div class="lm-button" ng-mouseup="removeDesignSpace()">Delete…</div>
            </div>
        </localmenu>
        <div class="rename" ng-model="space.name" ng-if="space != data.currentDesignSpace"></div>
        
    </li>
    <li ng-click="addDesignSpace()" ng-if="data.designSpaces.length < 8">
        +
    </li>
</ul>
<!-- end of tabs -->

<div class="design-space drop-area" ng-class="{unconfigured : data.currentDesignSpace.type =='x'}">
    <div class="design-space-container" ng-show="data.currentDesignSpace.type == 'x'">
        Drag a master from the left panel into this Design Space. When you drop your first master, an instance of it is created. You will need at least
        two masters to affect interpolation to your instance.
    </div>
    
    <div class="" ng-show="data.currentDesignSpace.type != 'x'">
        <control ng-if="data.currentDesignSpace.type == 'Control'">
            <div class="slider-input-container" ng-repeat="axis in data.currentInstance.axes" ng-style="{'top': ($index * 50 + 40) + 'px', 'left': (designSpaceWidth / 2 - 75) + 'px'}">
                <input valuefield id="designspace-input-{{$index}}" counter="{{$index}}" ng-model="axis.value" ng-blur="redrawAxesFromInput($index, 'blur')" ng-keyup="redrawAxesFromInput($index, $event)" class="slider-input-output">
            </div>
            <select id="slack-master-select" class="left-label-select" ng-change="changeMainMaster()" ng-model="data.currentDesignSpace.mainMaster" ng-options="data.currentDesignSpace.axes.indexOf(axis) as data.findMaster(axis.masterName).displayName for (index, axis) in data.currentDesignSpace.axes" ng-style="{'top': (data.currentDesignSpace.mainMaster * 50 + 44) + 'px', 'left': '10px'}"></select>
        </control>
        <explore ng-if="data.currentDesignSpace.type == 'Explore'"></explore>
    </div> 
</div>