<ul id="design-space-tabs">
    <li ng-repeat="space in data.designspaces track by space.id" ng-click="selectDesignspace(space)" ng-class="{selected : space == data.currentDesignspace}">
        <localmenu class="localmenu localmenu-inside" class="left" ng-if="space == data.currentDesignspace">
            <div class="lm-head" ng-mousedown="data.selectMenu('designspace')">
                <div class="rename" ng-model="space.name"></div>&nbsp;
            </div>
            <div class="lm-body" ng-if="data.localmenu.designspace">
                <div class="lm-button" ng-mouseup="addDesignspace()">New</div>
                <div class="lm-button" ng-mouseup="duplicateDesignspace()">Duplicate</div>
                <div class="lm-divider"></div>
                <div class="lm-button" ng-mouseup="removeDesignspace()">Delete…</div>
            </div>
        </localmenu>
        <div class="rename" ng-model="space.name" ng-if="space != data.currentDesignspace"></div>
        
    </li>
    <li class="add-designspace" ng-click="addDesignspace()" ng-if="data.designspaces.length < 8">
        +
    </li>
</ul>
<!-- end of tabs -->

<div class="design-space drop-area" ng-class="{unconfigured : data.currentDesignspace.type =='x'}">
    <div class="design-space-container" ng-show="data.currentDesignspace.type == 'x'">
        <img src="img/hello.svg" height="100%" width="auto">
    </div>
    
    <div class="" ng-show="data.currentDesignspace.type != 'x'">
        <control ng-if="data.currentDesignspace.type == 'Control'">
            <div class="slider-input-container" ng-repeat="axis in data.currentInstance.axes" ng-style="{'top': ($index * 50 + 56) + 'px', 'left': (designspaceWidth / 2 - 75) + 'px'}">
                <input valuefield id="designspace-input-{{$index}}" counter="{{$index}}" ng-model="axis.value" ng-blur="redrawAxesFromInput($index, 'blur')" ng-keyup="redrawAxesFromInput($index, $event)" class="slider-input-output">
            </div>
            <select id="slack-master-select" ng-if="data.currentDesignspace.axes.length > 2" class="left-label-select" ng-change="changeMainMaster()" ng-model="data.currentDesignspace.mainMaster" ng-options="data.currentDesignspace.axes.indexOf(axis) as data.findMaster(axis.masterName).displayName for (index, axis) in data.currentDesignspace.axes" ng-style="{'top': (data.currentDesignspace.mainMaster * 50 + 60) + 'px', 'left': '10px'}"></select>
        </control>
        <explore ng-if="data.currentDesignspace.type == 'Explore'"></explore>
    </div> 
</div>