<ul id="design-space-tabs">
    <li ng-repeat="space in data.designSpaces track by space.id" ng-click="selectDesignSpace(space)" ng-class="{selected : space == data.currentDesignSpace}">
        <!--<<div>img ng-src="{{ 'img/' + space.type + '.png'}}"></div>-->
        <localmenu class="localmenu localmenu-inside" class="left" ng-if="space == data.currentDesignSpace">
            <div class="lm-head" ng-mousedown="data.selectMenu('designspace')">
                <div class="rename" ng-model="space.name"></div>&nbsp;
            </div>
            <div class="lm-body" ng-if="data.localmenu.designspace">
                <div class="lm-button" ng-mouseup="addDesignSpace()">New</div>
                <div class="lm-button" ng-mouseup="duplicateDesignSpace()">Duplicate</div>
                <div class="lm-divider"></div>
                <div class="lm-button" ng-mouseup="removeDesignSpace()">Delete…</div>
            </div>
        </localmenu>
        <div class="rename" ng-model="space.name" ng-if="space != data.currentDesignSpace"></div>
        
    </li>
    <li ng-click="addDesignSpace()">
        +
    </li>
</ul>
<!-- end of tabs -->

<div class="design-space drop-area" ng-class="{unconfigured : data.currentDesignSpace.type =='x'}">
    <div class="design-space-container" ng-show="data.currentDesignSpace.type == 'x'">
        Drag a master from the left panel into this Design Space. When you drop your first master, an instance of it is created. You will need at least
        two masters to affect interpolation to your instance.
        <!--
        <div class="choose-space-type">
            <div class="choose-space-type-button" ng-click="data.currentDesignSpace.type = 'Control'">
                <img src="img/Control.png">
                <br>
                Control
            </div>
        </div>
        
        <div class="choose-space-type under-construction">
            <div class="choose-space-type-button" ng-click="data.currentDesignSpace.type = 'Explore'">
                <img src="img/Explore.png">
                <br>
                Explore
            </div>
        </div>
        -->
    </div>
    
    <div class="" ng-show="data.currentDesignSpace.type != 'x'">
        <control ng-if="data.currentDesignSpace.type == 'Control'">
            <div class="slider-input-container" ng-repeat="axis in data.currentInstance.axes" ng-style="{'top': ($index * 40 + 45) + 'px'}">
                <input ng-hide="data.currentInstance.axes.length == 2 && $index == 1" counter="{{$index}}" ng-model="axis.value" class="slider-input-output">
            </div>
            <select class="left-label-select" ng-change="changeMainMaster()" ng-model="data.currentDesignSpace.mainMaster" ng-options="index as data.findMaster(master.masterName).displayName for (index, master) in data.currentDesignSpace.masters" ng-style="{'top': ((data.currentDesignSpace.masters.length - 2) * 50 + 43) + 'px'}" ng-if="data.currentDesignSpace.masters.length > 2"></select>
        </control>
        <explore ng-if="data.currentDesignSpace.type == 'Explore'"></explore>
        <!--
        <button ng-if="data.currentDesignSpace.type == 'Control' && data.currentDesignSpace.masters.length == 3" class="triangle-button" ng-click="data.currentDesignSpace.triangle = !data.currentDesignSpace.triangle">
            Triangles: {{!data.currentDesignSpace.triangle}}
        </button>
        -->
    </div> 
</div>