<localmenu class="localmenu" class="left">
    <div class="lm-head" ng-mousedown="data.selectMenu('masters')">
        <b>Masters</b>
    </div>
    <div class="lm-body" ng-if="data.localmenu.masters">
        <div class="lm-button" ng-mouseup="importUfo()">Import ufo…</div>
        <div class="lm-divider"></div>
        <div class="lm-button" ng-mouseup="duplicateMasters()">Duplicate</div>
        <div class="lm-divider"></div>
        <div class="lm-button" ng-mouseup="deleteMasters()">Delete…</div>
    </div>
</localmenu>

<div class="panel-border panel-border-with-menu">
    <div id="masters-list">
        <ul>
            <li ng-repeat="sequence in data.sequences">
                <ul ui-sortable="sortableOptionsMasters" ng-model="sequence.masters" class="list-ul">
                    <li master="{{master.id}}" sequence="{{sequence.id}}" display="{{master.display}}" ng-repeat="master in sequence.masters" class="list-li" ng-class="{'selected': master.edit}">
                        <span class="list-sequence-col" ng-class="{start : $first && !$last, end : $last, middle : $middle, solo : $first && $last}" ng-mouseover="whileDrag(master, $index)" ng-mousedown="startDrag(master, $index)">
                            <svg height="12" width="12">
                                <circle cx="6" cy="6" r="6" class="diamond">
                            </svg> 
                        </span>
                        <span class="list-view-col ag" type="master" mastername="{{master.name}}" masterag="{{master.ag}}" ng-model="master.ag" ng-click="toggleDisplay(master)" ng-class="{'selected': master.display}"></span>
                        <span class="list-edit-col rename" ng-model="master.displayName" ng-class="{'selected': master.edit}"></span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div id="masters-tools">
        <div title="import ufo" id="import-ufo" ng-click="importUfo();" class="master-tool push-button">
            <img src="img/importUfo.png">
        </div>
        <div title="duplicate master(s)" id="duplicate-master" ng-click="duplicateMasters();" class="master-tool push-button">
            <img src="img/duplicateMaster.png">
        </div>
    </div>
</div>