<div id="project">
    <localmenu class="localmenu" class="left">
        <div class="lm-head" ng-mousedown="data.selectMenu('project')">
            <b>Project</b> <span id="project-name" ng-model="data.projectName" class="project-rename"></span>
        </div>
        <div class="lm-body" ng-if="data.localmenu.project">
            <div class="lm-button" ng-mouseup="newDocument()">New</div>
            <div class="lm-divider"></div>
            <div class="lm-button" ng-mouseup="renameProject()">Rename Project</div>
            <div class="lm-divider"></div>
            <div class="lm-button" ng-mouseup="closeDocument()">Close</div>
        </div>
    </localmenu>
</div>
<!-- end of project -->

<div id="view-buttons">
    <div ng-repeat="menuItem in data.view.menuItems" ng-click="data.view.viewState = $index" class="menu-item" ng-class="{'menu-item-current': $index == data.view.viewState }">
        {{menuItem}}
    </div>
</div>
<!-- end of view buttons -->

<div id="help" class="unselectable">
    <localmenu class="localmenu right">
        <div class="lm-head" ng-mousedown="data.selectMenu('help')">
            <b>Help</b>
        </div>
        <div class="lm-body" ng-if="data.localmenu.help">
            <div class="lm-button"><a href="https://github.com/metapolator/metapolator" target="_blank">Github Project</a></div>
            <div class="lm-button"><a href="https://github.com/metapolator/metapolator/wiki/faq" target="_blank">FAQ</a></div>
            <div class="lm-button"><a title="Browse existing feature requests and bug reports on our Github issue tracker" href="https://github.com/metapolator/metapolator/issues" target="_blank">Github Issues</a></div>
            <div class="lm-button"><a title="To report a bug or request a feature, create a new issue in our Github issue tracker" href="https://github.com/metapolator/metapolator/issues/new" target="_blank">New Issue</a></div>
            <div class="lm-divider"></div>
            <div class="lm-button"><a title="To ask questions about usage or anything in general, post on our G+ Community page" href="https://metapolator.com" target="_blank">metapolator.com</a></div>
            <div class="lm-button"><a title="To ask questions about usage or anything in general, post on our G+ Community page" href="https://twitter.com/metapolator" target="_blank">@metapolator</a></div>
            <div class="lm-button"><a title="To ask questions about usage or anything in general, post on our G+ Community page" href="https://plus.google.com/communities/110027004108709154749" target="_blank">+Metapolator</a></b></div>
            <div class="lm-button">
            <form id="help-paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <a href="javascript:{}" onclick="document.getElementById('help-paypal').submit(); return false;">Donate</a>
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="CMQZM2FJDP4VA">
            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
            </form>
            </div>
            <div class="lm-divider"></div>
            <div class="lm-button"><a title="To look behind the curtain and see the true underlying reality, take the red pill" href="http://metapolator.com/red-pill-demo/" target="_blank">Open Tech View in New Tab</a></b></div>
            </div>
        </div>
    </localmenu>
</div>