<div id="parameters-selection">
    <div class="parameters-selection-head">Master</div><div class="parameters-add" ng-click="parametersWindow($event, 1, 'master')">+</div>
    <div class="parameters-selection-body">
        <div ng-repeat="parameter in filteredMasterParameters=(data.sequences | mastersInEditFilter)" class="parameter-row">
            <div class="parameter-normal">
                <div class="parameter-key">{{parameter.name}}</div>
                <div class="parameter-operator">{{parameter.operator}}</div>
                <div class="parameter-value"><input ng-model="parameter.value" ng-change="editParameter(parameter.name, parameter.operatorer, parameter.value)"></div>
            </div>
        </div>
    </div>
    
    <div class="parameters-selection-head">Glyph</div><div class="parameters-add" ng-click="parametersWindow($event, 2, 'glyph')">+</div>
    <div class="parameters-selection-body">
        <div ng-repeat="parameter in filteredGlyphParameters=(data.sequences | glyphsInEditFilter)" class="parameter-row">
            <div class="parameter-normal">
                <div class="parameter-key">{{parameter.name}}</div>
                <div class="parameter-operator">{{parameter.operator}}</div>
                <div class="parameter-value"><input ng-model="parameter.value" ng-change="editParameter(parameter.name, parameter.operatorer, parameter.value)"></div>
            </div>
        </div>
    </div>
</div>


<div id="parameters-control-panel" ng-if="data.parametersPanel > 0" ng-style="{'top': parameterPanelTop, 'left': parameterPanelLeft}">
    <div id="control-panel-parameters">
        <div ng-repeat="parameter in parameters" ng-class="{'selected': parameter == windowParameter}" class="control-panel-parameter control-panel-button" ng-click="addParameter(parameter)">{{parameter}}</div>
    </div>
    <div id="control-panel-operators">
        <div ng-repeat="operator in operators" ng-class="{'selected': operator == windowOperator}" class="control-panel-operator control-panel-button" ng-click="addOperator(operator)">{{operator}}</div>
    </div>
    <div class="control-panel-cancel control-panel-button" ng-click="data.parametersPanel = 0">
        Cancel
    </div>
</div>

<div id="parameter-slider"></div>

<div id="inspector">
    <div class="inspector-header">
        <span>{{data.projectName}}</span>
    </div>
    <div ng-repeat="sequence in data.sequences">
        <div class="inspector-branche" style="display: block" ng-repeat="master in sequence.masters"  ng-if="master.edit && master.type != 'test'">
            <div class="inspector-header">
                <arrow></arrow>
                <span ng-class="{'inspector-inactive' : !master.edit}">{{master.name}}</span>
            </div>
            <div class="inspector-branche" ng-repeat="glyph in master.glyphs" ng-if="glyph.edit">
                <div class="inspector-header">
                    <arrow></arrow>
                    <span>{{glyph.value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
