<div class="panel-border">
    <div id="specimen-toolbar">
        <localmenu class="localmenu lm-specimen" class="left">
            <div class="lm-head" ng-mousedown="data.selectMenu('specimen1')">
                <input ng-model="selectedSpecimen.text" placeholder="Type text here..." ng-blur="data.localmenu.specimen1 = false; data.localmenu.specimen2 = false;">
            </div>
            <div class="lm-body" ng-if="data.localmenu.specimen1">
                <div class="lm-button" ng-repeat="specim in specimen" ng-if="specim != selectedSpecimen" ng-mouseup="selectSpecimen(specim)">{{specim.name}}</div>
            </div>
        </localmenu>

        <input type="text" id="size-nr" ng-model="fontSize" size="3" class="specimen-tool">
        <div title="Drag to Change Font Size" class="custom-widget-wrapper">
            <size-rope></size-rope>
        </div>
        <input placeholder="Mixer" type="text" id="filter" ng-model="filterOptions.filter" size="7" class="specimen-tool">
        <div title="Sprinkled | 50–50 | Exclusive Mixing" class="custom-widget-wrapper">
           <strict ng-if="selectedSpecimen.name != 'Glyph Range'"></strict>
        </div>
        <div class="fontby-container">
            <span class="toolbar-label">Font by: </span>
            <localmenu class="localmenu lm-fontby right" ng-if="selectedSpecimen.name != 'glyph range'">
                <div class="lm-head" ng-mousedown="data.selectMenu('fontby1')">
                    {{filterOptions.selectedFontby}}
                </div>
                <div class="lm-body" ng-if="data.localmenu.fontby1">
                    <div class="lm-button" ng-repeat="fontby in fontbys" ng-if="fontby != filterOptions.selectedFontby" ng-mouseup="selectFontby(fontby)">{{fontby}}</div>
                </div>
            </localmenu>
        </div>
    </div>


    <div id="specimen-content" viewport-watcher>
        <!-- standard view -->
        <div id="non-glyph-range">
            <ul id="specimen-ul-1">
                <li ng-repeat="glyph in filteredGlyphs track by glyph.glyphId" ng-style="{'height': (fontSize * lineHeight) + 'px'}"><!--
                    --><glyph mastername="{{glyph.master.name}}" sequence="{{glyph.master.sequenceId}}" master="{{glyph.master.masterId}}" glyph="{{glyph.glyphName}}" ng-style="{'height': fontSize + 'px'}" class="spec-glyph-box unselectable"></glyph><!--
                --></li>
            </ul>
        </div>
    </div>
</div>
