<localmenu class="localmenu lm-specimen toolbar-set" class="left">
    <div class="lm-head" ng-mousedown="data.selectMenu('specimen1')">
        <input ng-model="selectedSpecimen.text" placeholder="Type text here..." ng-trim="false" ng-keyup="data.localmenu.specimen1 = false; data.localmenu.specimen2 = false;">
    </div>
    <div class="lm-body" ng-if="data.localmenu.specimen1">
        <div ng-repeat-start="specimenCat in specimen">
            <div class="lm-button" ng-repeat="specim in specimenCat" ng-class="{'lm-selected': specim == selectedSpecimen}" ng-mouseup="selectSpecimen(specim)">
                {{specim.name}}
            </div>
        </div>
        <div ng-repeat-end class="lm-divider" ng-if="!$last"></div>
    </div>
</localmenu>

<div class="toolbar-set">
    <input type="text" ng-model="fontSize" size="3" class="specimen-tool size-nr">
    <div title="Drag to Change Font Size" class="specimen-tool size-rope">
        <size-rope></size-rope>
    </div>

    <localmenu class="localmenu lm-lineheight specimen-tool">
        <div class="lm-head" ng-mousedown="data.selectMenu('lineheight')">
            <div ng-if="lineHeightSetting != 'Custom'" class="lineheight-icon-head" >
                <img ng-src="img/{{lineHeightSetting}}.png" title="{{lineHeightSetting}}">
            </div>
            <input class="lineheight-custom" ng-if="lineHeightSetting == 'Custom'" ng-model="data.customLineHeight" ng-focus="updateLineHeightCustom('blur')" ng-keyup="updateLineHeightCustom($event)">
        </div>
        <div class="lm-body" ng-if="data.localmenu.lineheight">
            <div class="lm-button" ng-click="changeLineHeightSetting(option)" ng-repeat="option in lineHeightOptions track by $index" ng-class="{'lm-selected': option == lineHeightSetting}">
                {{option}}
            </div>
            <div class="lm-divider"></div>
            <div class="lm-button" ng-click="changeLineHeightSetting('Custom')" ng-class="{'lm-selected': lineHeightSetting == 'Custom'}">
                Custom
            </div>
        </div>
    </localmenu>
</div>
    
<div class="toolbar-set">
    <input ng-if="selectedSpecimen.name != 'Glyph Range'" placeholder="Mix glyphs…" type="text" id="filter" ng-model="filterOptions.filter" ng-trim="false" size="7" class="specimen-tool">
    <input ng-if="selectedSpecimen.name == 'Glyph Range'" placeholder="Filter" type="text" id="filter" ng-model="filterOptions.filter" ng-trim="false" size="7" class="specimen-tool">
    <div title="Set how glyphs are mixed with the specimen" class="specimen-tool strict-box">
        <strict ng-if="selectedSpecimen.name != 'Glyph Range'"></strict>
    </div>   
</div>


<div class="toolbar-set fontby-container">
    <localmenu class="localmenu lm-fontby right" ng-if="selectedSpecimen.name != 'glyph range'">
        <div class="lm-head" ng-mousedown="data.selectMenu('fontby1')">
            <div class="lm-head-label">Font by: {{filterOptions.selectedFontby}}</div>
        </div>
        <div class="lm-body" ng-if="data.localmenu.fontby1">
            <div class="lm-button" ng-repeat="fontby in fontbys" ng-class="{'lm-selected': fontby == filterOptions.selectedFontby}" ng-mouseup="selectFontby(fontby)">
                {{fontby}}
            </div>
        </div>
    </localmenu>
</div>