<div class="panel-border panel-border-without-menu">
    <div id="specimen-toolbar">
        <localmenu class="localmenu lm-specimen" class="left">
            <div class="lm-head" ng-mousedown="data.selectMenu('specimen1')">
                <input ng-model="selectedSpecimen.text" placeholder="Type text here...">
            </div>
            <div class="lm-body" ng-if="data.localmenu.specimen1">
                <div class="lm-button" ng-repeat="specim in specimen" ng-if="specim != selectedSpecimen" ng-mouseup="selectSpecimen(specim)">{{specim.name}}</div>
            </div>
        </localmenu>
        
        <input type="text" id="size-nr" ng-model="fontSize" size="3" class="specimen-tool">
        <size-rope></size-rope>
        <input placeholder="filter" type="text" id="filter" ng-model="filterOptions.filter" size="7" class="specimen-tool">
        <strict ng-if="selectedSpecimen.name != 'glyph range'"></strict>
        <div class="fontby-container">
            <span class="toolbar-label">Font by: </span>
            <localmenu class="localmenu lm-fontby right" ng-if="selectedSpecimen.name != 'glyph range'">
                <div class="lm-head" ng-mousedown="data.selectMenu('fontby1')">
                    {{filterOptions.selectedFontby}}
                </div>
                <div class="lm-body" ng-if="data.localmenu.fontby1">
                    <div class="lm-button" ng-repeat="fontby in fontbys" ng-if="fontby != filterOptions.selectedFontby" ng-mouseup="selectFontby(fontby)">{{fontby}}</div>
                </div>
            </localmenu>
        </div>
    </div>

    <div id="specimen-content" rubberband viewport-watcher>
        <!-- standard view -->
        <div id="non-glyph-range" ng-if="selectedSpecimen.name != 'glyph range'">
            <ul id="specimen-ul-0">
                <li ng-repeat="glyph in filteredGlyphs track by glyph.glyphId" ng-style="{'height': (fontSize * lineHeight) + 'px'}"><!--
                    --><glyph id="glyph-spec1-{{$index}}" mastername="{{glyph.master.name}}" sequence="{{glyph.master.sequenceId}}" master="{{glyph.master.masterId}}" glyph="{{glyph.glyphName}}" ng-style="{'height': fontSize + 'px'}" class="spec-glyph-box catchme unselectable" ng-class="{'master-edit': glyph.master.edit,'selected-glyph':askIfEditGlyph(glyph.glyphName, glyph.master.masterId, glyph.master.sequenceId)}"></glyph><!--
                --></li>
            </ul>
        </div>

        <!-- glyph range -->
        <div id="glyph-range" ng-if="selectedSpecimen.name == 'glyph range'">
            <div ng-repeat="sequence in data.sequences">
                <ul id="specimen-ul-0" class="glyph-range-master glyph-range" ng-model="master.glyphs" ng-repeat="master in sequence.masters" ng-if="master.display || master.edit[0]">
                    <li ng-style="{'height': (fontSize * lineHeight) + 'px', 'margin': (fontSize / 5) + 'px'}" ng-repeat="glyph in filteredRangeGlyphs=(master.glyphs | rangeFilter:filterOptions.filter)" class="no-rubberband spec-glyph-box-range"><!--
                        --><glyph id="glyph-spec1-{{$index}}" mastername="{{master.name}}" sequence="{{sequence.id}}" master="{{glyph.id}}" glyph="{{glyph.name}}" ng-style="{'height': fontSize + 'px'}" class="spec-glyph-box catchme unselectable no-rubberband" ng-class="{'master-edit': master.edit[0],'selected-glyph':(glyph.edit && master.edit[0])}"></glyph><!--
                    --></li>
                </ul>
            </div>
        </div>
    </div>
</div>
