<div id="splash-left">
    <img id="splash-logo" src="img/metapolator-logo.svg">
</div>
<div id="splash-right">
    <h1>Metapolator</h1>
    <h2>For Designing Typeface Families</em></h2>
    <p>Firefox users will see this dialog disappear in a moment,<br />
      and if you see a <em>Warning: Unresponsive script</em> error<br />
      then tick the box and click <em>Continue</em>.</p>
    <p>Not using Firefox? <a href="https://github.com/metapolator/metapolator/wiki/Getting-Started">Learn more…</a></p>
</div>