<div id="splash-left">
    <img id="splash-logo" src="img/metapolator-logo.svg">
</div>
<div id="splash-right">
    <h1>Metapolator</h1>
    <h2>Free Font Editor for Designing Typeface Families</h2>

    <p>Run in latest Firefox, or check <a href="https://github.com/metapolator/metapolator/wiki/Getting-Started-with-Metapolator-Demo">how to run in Chrome/Chromium.</a></p>
    <!--
    <p>
    If this message does not disappear after a short moment: <h2>Your Browser may be incompatible</h2>
    </p>
    <p>
    You can either use a current version of FireFox or Chromium/Google Chrome.
    </p>
    <p>
    In order to run Metapolator in <strong>Chrome</strong> or <strong>Chromium</strong>
    </p>
    <ol>
    <li>
    Make sure that <a href="chrome://flags/#enable-javascript-harmony">chrome://flags/#enable-javascript-harmony</a> is <strong>disabled</strong> (it is by default).
    </li>
    <li>
    Close all running instances of Chromium/Chrome.
    </li>
    <li>
    Then start it from the command-line like so:
    <pre># if the command for your chrome-browser is "chrome"
    $ chrome --js-flags="--harmony --harmony_proxies"

    # in a current *ubuntu linux that might be for chromium:
    $ chromium-browser --js-flags="--harmony --harmony_proxies"

    # and for chrome
    $ google-chrome-stable --js-flags="--harmony --harmony_proxies"
    </pre>
    </li>
    </ol>-->
</div>

<div id="splash-loading-bar">
    Loading...
</div>
