<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.binarySource</key>
	<string>/Users/simonegli/Documents/Work/Sean3/sean_template.otf</string>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/mapauln/Dropbox/Sharing/TypeDesignStudio/Projects/2014/#2_Metapolator/Sean/sean_hairline.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>702</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>722</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<integer>339</integer>
			<key>y</key>
			<integer>315</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>mask</string>
	</array>
	<key>com.typemytype.robofont.mask.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>uni00A0</string>
				<string>uni2000</string>
				<string>uni2001</string>
				<string>uni2002</string>
				<string>uni2003</string>
				<string>uni2004</string>
				<string>uni2005</string>
				<string>uni2006</string>
				<string>uni2007</string>
				<string>uni2008</string>
				<string>uni2009</string>
				<string>uni200A</string>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>Abreve</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>Cacute</string>
				<string>Ccircumflex</string>
				<string>D</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Ebreve</string>
				<string>F</string>
				<string>G</string>
				<string>Gcircumflex</string>
				<string>Gbreve</string>
				<string>H</string>
				<string>Hcircumflex</string>
				<string>I</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Itilde</string>
				<string>Ibreve</string>
				<string>J</string>
				<string>Jcircumflex</string>
				<string>K</string>
				<string>L</string>
				<string>Lacute</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>Nacute</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>Obreve</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>Racute</string>
				<string>S</string>
				<string>Sacute</string>
				<string>Scircumflex</string>
				<string>Scedilla</string>
				<string>Scaron</string>
				<string>T</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Utilde</string>
				<string>Ubreve</string>
				<string>Uring</string>
				<string>V</string>
				<string>W</string>
				<string>Wcircumflex</string>
				<string>Wgrave</string>
				<string>Wacute</string>
				<string>Wdieresis</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Ycircumflex</string>
				<string>Ydieresis</string>
				<string>Ygrave</string>
				<string>Z</string>
				<string>Zacute</string>
				<string>Zcaron</string>
				<string>AE</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>Dcroat</string>
				<string>IJ</string>
				<string>OE</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>abreve</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>cacute</string>
				<string>ccircumflex</string>
				<string>d</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>ebreve</string>
				<string>f</string>
				<string>g</string>
				<string>gcircumflex</string>
				<string>gbreve</string>
				<string>h</string>
				<string>hcircumflex</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>lacute</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>nacute</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>obreve</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>racute</string>
				<string>s</string>
				<string>sacute</string>
				<string>scircumflex</string>
				<string>scedilla</string>
				<string>scaron</string>
				<string>t</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>utilde</string>
				<string>ubreve</string>
				<string>uring</string>
				<string>v</string>
				<string>w</string>
				<string>wcircumflex</string>
				<string>wgrave</string>
				<string>wacute</string>
				<string>wdieresis</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>ycircumflex</string>
				<string>ygrave</string>
				<string>z</string>
				<string>zacute</string>
				<string>zcaron</string>
				<string>ordfeminine</string>
				<string>germandbls</string>
				<string>ae</string>
				<string>oslash</string>
				<string>thorn</string>
				<string>ij</string>
				<string>oe</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>uni2010</string>
				<string>uni2011</string>
				<string>figuredash</string>
				<string>endash</string>
				<string>emdash</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>asterisk</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>exclamdown</string>
				<string>question</string>
				<string>questiondown</string>
				<string>slash</string>
				<string>backslash</string>
				<string>bar</string>
				<string>brokenbar</string>
				<string>at</string>
				<string>ampersand</string>
				<string>section</string>
				<string>paragraph</string>
				<string>bullet</string>
				<string>plus</string>
				<string>minus</string>
				<string>plusminus</string>
				<string>divide</string>
				<string>multiply</string>
				<string>equal</string>
				<string>less</string>
				<string>greater</string>
				<string>logicalnot</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>yen</string>
				<string>Euro</string>
				<string>florin</string>
				<string>asciicircum</string>
				<string>asciitilde</string>
				<string>acute</string>
				<string>grave</string>
				<string>circumflex</string>
				<string>breve</string>
				<string>tilde</string>
				<string>dieresis</string>
				<string>ring</string>
				<string>cedilla</string>
				<string>copyright</string>
				<string>registered</string>
				<string>trademark</string>
				<string>degree</string>
				<string>uni00AD</string>
				<string>.004</string>
				<string>Acute</string>
				<string>Breve</string>
				<string>Cedilla</string>
				<string>Circumflex</string>
				<string>Dieresis</string>
				<string>Grave</string>
				<string>Ssmall</string>
				<string>kana</string>
				<string>fi</string>
				<string>fl</string>
				<string>v_e</string>
				<string>v_a</string>
				<string>v_aa</string>
				<string>v_i</string>
				<string>v_ii</string>
				<string>v_u</string>
				<string>v_uu</string>
				<string>v_rhu</string>
				<string>v_rlu</string>
				<string>v_ae</string>
				<string>v_ea</string>
				<string>v_ee</string>
				<string>v_ai</string>
				<string>v_ao</string>
				<string>v_oa</string>
				<string>v_o</string>
				<string>v_au</string>
				<string>c_ka</string>
				<string>c_kha</string>
				<string>c_ga</string>
				<string>c_gha</string>
				<string>c_nga</string>
				<string>c_ca</string>
				<string>c_cha</string>
				<string>c_ja</string>
				<string>c_jha</string>
				<string>c_nya</string>
				<string>c_tta</string>
				<string>c_ttha</string>
				<string>c_dda</string>
				<string>c_ddha</string>
				<string>c_nna</string>
				<string>c_ta</string>
				<string>c_tha</string>
				<string>c_da</string>
				<string>c_dha</string>
				<string>c_na</string>
				<string>c_nanukta</string>
				<string>c_pa</string>
				<string>c_pha</string>
				<string>c_ba</string>
				<string>c_bha</string>
				<string>c_ma</string>
				<string>c_ya</string>
				<string>c_ra</string>
				<string>c_ranukta</string>
				<string>c_la</string>
				<string>c_lla</string>
				<string>c_llanukta</string>
				<string>c_va</string>
				<string>c_ssa</string>
				<string>c_sha</string>
				<string>c_sa</string>
				<string>c_ha</string>
				<string>component_1</string>
				<string>component_2</string>
				<string>component_3</string>
				<string>component_4</string>
				<string>component_5</string>
				<string>ddadeva_viramadeva_ddadeva</string>
				<string>c_va.alt</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2000</string>
		<string>uni2001</string>
		<string>uni2002</string>
		<string>uni2003</string>
		<string>uni2004</string>
		<string>uni2005</string>
		<string>uni2006</string>
		<string>uni2007</string>
		<string>uni2008</string>
		<string>uni2009</string>
		<string>uni200A</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Abreve</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>D</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Ebreve</string>
		<string>F</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Ibreve</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Obreve</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>T</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>IJ</string>
		<string>OE</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>abreve</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>d</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ebreve</string>
		<string>f</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>lacute</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>obreve</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>s</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>ordfeminine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>ij</string>
		<string>oe</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>figuredash</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>slash</string>
		<string>backslash</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>section</string>
		<string>paragraph</string>
		<string>bullet</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>divide</string>
		<string>multiply</string>
		<string>equal</string>
		<string>less</string>
		<string>greater</string>
		<string>logicalnot</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Euro</string>
		<string>florin</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>acute</string>
		<string>grave</string>
		<string>circumflex</string>
		<string>breve</string>
		<string>tilde</string>
		<string>dieresis</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>uni00AD</string>
		<string>.004</string>
		<string>Acute</string>
		<string>Breve</string>
		<string>Cedilla</string>
		<string>Circumflex</string>
		<string>Dieresis</string>
		<string>Grave</string>
		<string>Ssmall</string>
		<string>kana</string>
		<string>fi</string>
		<string>fl</string>
		<string>v_e</string>
		<string>v_a</string>
		<string>v_aa</string>
		<string>v_i</string>
		<string>v_ii</string>
		<string>v_u</string>
		<string>v_uu</string>
		<string>v_rhu</string>
		<string>v_rlu</string>
		<string>v_ae</string>
		<string>v_ea</string>
		<string>v_ee</string>
		<string>v_ai</string>
		<string>v_ao</string>
		<string>v_oa</string>
		<string>v_o</string>
		<string>v_au</string>
		<string>c_ka</string>
		<string>c_kha</string>
		<string>c_ga</string>
		<string>c_gha</string>
		<string>c_nga</string>
		<string>c_ca</string>
		<string>c_cha</string>
		<string>c_ja</string>
		<string>c_jha</string>
		<string>c_nya</string>
		<string>c_tta</string>
		<string>c_ttha</string>
		<string>c_dda</string>
		<string>c_ddha</string>
		<string>c_nna</string>
		<string>c_ta</string>
		<string>c_tha</string>
		<string>c_da</string>
		<string>c_dha</string>
		<string>c_na</string>
		<string>c_nanukta</string>
		<string>c_pa</string>
		<string>c_pha</string>
		<string>c_ba</string>
		<string>c_bha</string>
		<string>c_ma</string>
		<string>c_ya</string>
		<string>c_ra</string>
		<string>c_ranukta</string>
		<string>c_la</string>
		<string>c_lla</string>
		<string>c_llanukta</string>
		<string>c_va</string>
		<string>c_ssa</string>
		<string>c_sha</string>
		<string>c_sa</string>
		<string>c_ha</string>
		<string>component_1</string>
		<string>component_2</string>
		<string>component_3</string>
		<string>component_4</string>
		<string>component_5</string>
		<string>ddadeva_viramadeva_ddadeva</string>
		<string>c_va.alt</string>
	</array>
</dict>
</plist>
