      
    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;  
    }
    
    button {
        cursor: pointer;
    }

    
    
    
    
/*************** frame *************/
 
 
    body {
        font-family: "alice";
        font-size: 18px;
        line-height: 27px;
        background: #fff;
        padding: 0;
        margin: 0;
    } 
 
        #menu {
            position: fixed;
            left: calc(50% - 565px);
            top: 20px;
            width: 170px;
            padding: 20px;
        }
        
            #menu #logo {
                text-align: right;
            }
        
            #menu #buttons ul {
                list-style: none;
                margin: 20px 0 0 0 ;
                padding: 0;
            }
            
                #menu #buttons ul li {
                    float: right;
                }
            
                    #buttons ul li a {
                        width: 100%;
                        font-weight: 300;
                        font-size: 16px;
                        text-decoration: none;
                        color: #555;
                        text-align: right;
                        padding: 4px;
                    }
                    
                        #buttons a:hover, #buttons .active {
                            color: #fff;
                            background: #ED1C24;
                        }    
        
        #pagewrap {
            position: relative;
            width: 1130px;
            margin: 40px auto 300px auto;

        }
        
            #subwrapper {
                margin-left: 170px;
                background: #fff;
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
            }



/*************** content *************/

    h1 {
        font-weight: 100;
        font-size: 54px;
        line-height: 50px;
        text-align: center;
    }
    
    #glyphslider {
        width: 100%;
    }
    
    .pen-icon {
        width: 100%;
        display: block;
        margin-top: 100px;
        width: 300px;
    }
    
        .pen-icon img {
            margin: 0 auto;
            width: 49px;
            height: auto;
            display: block;
        }
    
    .bullets {
        text-align: center;
        margin: 60px 0;
        font-size: 32px;
    }
    
        .bullets:after {
            content: "•••";
        }
    
        .bullets.black {
            color: #000;
        }
    
    .content-center {
        text-align: center;
    }
    
    section {
        padding: 60px;
    }
    
        section a {
            color: #000;
        }
        
            section a:hover {
                color: #ED1C24;
            }
    
    section.red {
        background: #ED1C24;
        color: #fff;
    }
    
        section.red a {
            color: #fff;
        }
    
            section.red a:hover {
                color: #000;
            }
            
    section.grey {
        background: #ddd;
    }
    
    
    /* intro */
   
    .intro-content {
        font-size: 27px;
        line-height: 38px;
    }
    
    .subscript {
        padding: 10px;
        background: #ED1C24;
        color: #fff; 
        font-size: 14px;
        margin-top: 60px;
        display: inline-block;
    }
    
    section.red .subscript {
        background: #fff;
        color: #ED1C24;
    }
    
        section .subscript a {
            color: #000;
            text-decoration: none;
        }
        
            .subscript a:hover {
                text-decoration: underline;
            }
            
            
/* blue pill */

    #blue-pill {

    }

    .bluepill-left {
        width: 40%;
        float: left;
        padding-right: 20px;
    }
    
    .bluepill-right {
        width: 60%;
        min-height: 500px;
        float: left;
    }
    
        .bluepill-right designspace {
            height: 500px;
        }
        
            .bluepill-right designspace .design-space {
                height: 461px;
                position: relative;
            }

    
/* pen drawing */

    #pen-drawing-container {
        overflow: auto;
        padding-top: 80px;
    }
    
        .float-element-1 {
            float: left;
            display: inline-block;
            margin-right: 18px;
            border: 1px solid #ED1C24;
        }
        
        .float-element-2 {
            float: left;
            display: inline-block;
            margin-left: 18px;
            border: 1px solid #ED1C24;
        }
        

    
/* follow us */
    
    .content-follow {
        color: #000;
    }
    
        .content-follow a {
            color: #000;
        }
        
            .content-follow a:hover {
                color: #fff;
            }
            
            
#glyphslider .wrapper {
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; 
}


/********* MEDIA **********/


@media (max-width: 1130px) {
    
    #pagewrap {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    #glyphslider .wrapper {
        -ms-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    
    #menu {
        left: 0;
    }
    
    .float-element-1, .float-element-2 {
        float: none;
        margin-left: 0;
        margin-bottom: 10px;
    }
        
    section img {
        max-width: 100%;
    }

}

@media (max-width: 960px) {
    
    #glyphslider .wrapper {
        -ms-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }

}

@media (max-width: 768px) {
    
    #glyphslider {
        padding-top: 0px;
        padding-left: 170px;
    }
    
        #glyphslider .wrapper {
            -ms-transform: scale(0.4);
            -webkit-transform: scale(0.4);
            transform: scale(0.4);
        }
    
    #home-section {
        padding-top: 40px;
    }
    
    #menu {
        position: absolute;
        z-index: 10;
    }
    
    #pagewrap {
        margin-top: 0px;
        margin-bottom: 0;
    }
    
    #subwrapper {
        margin-left: 0;
        box-shadow: none;
    }

}