@font-face {
    font-family: 'icon';
    src: url('../fonts/icons.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "alice";
    font-size: 18px;
    line-height: 27px;
    background: #fff;
    margin: 0;
    background-image: url('../img/tile.png');
    background-repeat: repeat;
}

.body .container {
    background: #fff;
    padding: 40px;
    border-top: 1px dashed #FAD9D8;
    border-bottom: 1px dashed #FAD9D8;
}

.body .container img {
    max-width: 100%;
}

.body .container:last-child {
    padding-bottom: 150px;
}



/* typography */

.container.red {
    background: #ed1c24;
    color: #fff;
    border: 0;
}

.container.red a {
    color: #000;
    border-bottom: 1px dashed #000;
}

.container.red a:hover {
    border-bottom: 1px solid #000;
}

h1 {
    color: #ed1c24;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 30px;
}

.red h1 {
    color: #fff;
}

a {
    color: #ed1c24;
    padding: 2px;
    border-bottom: 1px dashed #ed1c24;
}

a:hover {
    color: #ed1c24;
    text-decoration: none;
    border-bottom: 1px solid #ed1c24;
}

.illustration {
    border: 1px dashed #ed1c24;
}



/* architecture */

.col-sm-12, .col-sm-6 {
    padding-bottom: 20px;
}


/* menu */

.identity {
    font-weight: 300;
    padding: 0 20px;
    border-right: 1px solid #ddd;
    display: inline-block;
    transition: all 0.3s ease;
}

.identity .logo-mini {
    height: 70px;
    display: inline-block;
    transition: height 0.3s ease;
}

.scrolled .identity {
    padding: 0 8px;
    border-right: 1px solid transparent;
}

.scrolled .identity .text {
    display: none;
}

.scrolled .identity .logo-mini {
    height: 50px;
}

.scrolled #navbar .nav {
    padding: 12px;
}

.scrolled.navbar {
    padding: 4px;
}

.navbar {
    padding: 12px 4px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.4);
    transition: padding 0.3s ease;
}

#navbar .nav {
    padding: 16px;
    transition: padding 0.3s ease;
}

.nav > li a {
    font-size: 13px;
    padding: 8px;
    transition: padding 0.3s ease;
    border: 0;
}

.scrolled .nav > li a {
    padding: 3px 8px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover {
    background: #ed1c24;
    color: #fff;
}



/* glyph slider */

#glyphslider {
    margin: 20px;
    width: 100%;
}

#glyph .wrapper {
    text-align: center;
}

glyphslider {
    width: 300px;
    display: block;
    margin: 30px auto 0;
}

/* slider */

.slider-axis {
    stroke: #000;
    stroke-width: 2;
    fill: none;
}

.slider-handle {
    position: absolute;
    top: 3px;
    cursor: pointer;
    fill: #000;
}

.slider-label {
    font-size: 9px;
    cursor: default;
}

.label-right-inactive {
    fill: #aaa;
    font-style: italic;
}

.slider-label-output {
    fill: #ED1C24;
}

.slider-input-container {
    position: absolute;
    z-index: 1000;
    left: 120px;
    color: #ED1C24;
    font-size: 9px;
}

.slider-input-output {
    width: 30px;
    border: 0;
    color: #ED1C24;
    text-align: right;
    font-size: 9px;
}


@media (min-width: 768px) {

    .body .container {
        padding: 40px 80px;
        border: 1px dashed #FAD9D8;
    }

}





