/* Default Demo Style */
/*@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);*/

/* HTML from Bootstrap */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

body, html {
	padding: 0;
	margin: 0;
  	font-size: 100%;
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Font Icons */ 
@font-face {
  font-family: 'oxp-demo';
  src: url('../fonts/oxp-demo.eot?71650457');
  src: url('../fonts/oxp-demo.eot?71650457#iefix') format('embedded-opentype'),
       url('../fonts/oxp-demo.woff?71650457') format('woff'),
       url('../fonts/oxp-demo.ttf?71650457') format('truetype'),
       url('../fonts/oxp-demo.svg?71650457#oxp-demo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'oxp-demo';
	margin: 0 4px;
	
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
	text-align: center;
}



@font-face {
    font-family: 'aileronheavy';
    src: url('../fonts/aileron-heavy-webfont.eot');
    src: url('../fonts/aileron-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-heavy-webfont.woff') format('woff'),
         url('../fonts/aileron-heavy-webfont.ttf') format('truetype'),
         url('../fonts/aileron-heavy-webfont.svg#aileronheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7060regular';
    src: url('../fonts/encode/encodenormal-beta70-.60-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.60-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.60-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.60-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.60-webfont.svg#enc7060regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7055regular';
    src: url('../fonts/encode/encodenormal-beta70-.55-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.55-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.55-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.55-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.55-webfont.svg#enc7055regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7050regular';
    src: url('../fonts/encode/encodenormal-beta70-.50-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.50-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.50-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.50-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.50-webfont.svg#enc7050regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7045regular';
    src: url('../fonts/encode/encodenormal-beta70-.45-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.45-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.45-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.45-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.45-webfont.svg#enc7045regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7040regular';
    src: url('../fonts/encode/encodenormal-beta70-.40-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.40-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.40-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.40-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.40-webfont.svg#enc7040regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7035regular';
    src: url('../fonts/encode/encodenormal-beta70-.35-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.35-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.35-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.35-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.35-webfont.svg#enc7035regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7030regular';
    src: url('../fonts/encode/encodenormal-beta70-.30-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.30-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.30-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.30-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.30-webfont.svg#enc7030regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7065regular';
    src: url('../fonts/encode/encodenormal-beta70-.65-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.65-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.65-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.65-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.65-webfont.svg#enc7065regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7095regular';
    src: url('../fonts/encode/encodenormal-beta70-.95-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.95-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.95-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.95-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.95-webfont.svg#enc7095regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7090regular';
    src: url('../fonts/encode/encodenormal-beta70-.90-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.90-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.90-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.90-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.90-webfont.svg#enc7090regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7085regular';
    src: url('../fonts/encode/encodenormal-beta70-.85-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.85-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.85-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.85-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.85-webfont.svg#enc7085regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7080regular';
    src: url('../fonts/encode/encodenormal-beta70-.80-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.80-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.80-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.80-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.80-webfont.svg#enc7080regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7075regular';
    src: url('../fonts/encode/encodenormal-beta70-.75-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.75-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.75-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.75-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.75-webfont.svg#enc7075regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7070regular';
    src: url('../fonts/encode/encodenormal-beta70-.70-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.70-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.70-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.70-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.70-webfont.svg#enc7070regular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'enc70100_regularregular';
    src: url('../fonts/encode/encodenormal-beta70-1.00-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-1.00-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-1.00-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-1.00-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-1.00-webfont.svg#enc70100_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7010_regularregular';
    src: url('../fonts/encode/encodenormal-beta70-.10-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.10-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.10-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.10-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.10-webfont.svg#enc7010_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'enc7005_regularregular';
    src: url('../fonts/encode/encodenormal-beta70-.05-webfont.eot');
    src: url('../fonts/encode/encodenormal-beta70-.05-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encode/encodenormal-beta70-.05-webfont.woff') format('woff'),
         url('../fonts/encode/encodenormal-beta70-.05-webfont.ttf') format('truetype'),
         url('../fonts/encode/encodenormal-beta70-.05-webfont.svg#enc7005_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icon-th:before { content: '\e800'; } 
.icon-left:before { content: '\e803'; }

/* Main Style */
body {
	font-family: 'aileronheavy',Arial,sans-serif;
	color: #fff;
	background: #f8d135;
}

a, a:visited {
	color: #888; 
	text-decoration: none;
}

a:hover, a:active {
	color: #333;
}

h1, h2, h3 {
	font-family: 'aileronheavy',Arial,sans-serif;
}

h1 { 
	font-size: 2.5em; 
	font-weight: 300; 
}

h2 { 
	font-size: 1.5em; 
	font-weight: 300; 
}

h3 { 
	font-size: 1.2em; 
	font-weight: 400; 
}

/* Header Style */
.container .header {
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container .header span {
	display: block;
	font-size: 60%;
	opacity: 0.8;
	padding-bottom: 0.6em;
}

/* To Navigation Style */
.nav-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.65em;
	line-height: 2.6;
	height: 36px;
}

.nav-top a {
	padding: 0.41em 1em;
	letter-spacing: 0.1em;
	color: #444;
	display: inline-block;
}

.nav-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
}

.nav-social {
	float: left;
	padding: 0.6em 0.6em 0 0.6em;
}

.nav-social span {
	margin-right: 0.5em;
}

.nav-top span.right {
	float: right;
}

.nav-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons */
.menu {
	display: block;
	text-align: center;
	padding: 2em 0;
	margin-bottom: 3em;
}
.menu a {
	border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    display: inline-block;
    font-size: 1em;
    line-height: 100%;
    margin: 0 5px;
    padding: 0.7em;
    text-decoration: none;
    opacity: 0.7;
}

.menu a.active, .menu a:hover {
	opacity: 1;
}

/* Fusion Ads */
.adswrap {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
	border: 1px none rgba(0, 0, 0, 0.1);
	padding: 20px 15px;
	position: fixed;
	right: 15px;
	z-index: 999999;
	height: auto;
	margin-top: 10px;
}
.adswrap .adsclose {
	color: #777;
	margin-bottom: 10px;
	background: #ddd;
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px 8px;
	font-size: 10px;
	display: block;
	cursor: pointer;
	text-shadow: 0 1px 1px #fff;
}
#fusion_ad {
	font-size: 12px;
	width: 160px;
	text-align: center;
}
#fusion_ad .fusionentire a {
	display: block;
	color: #444;
	margin-bottom: 5px;
}

#fusion_ad .powered {
	font-size: 10px;
}

/* Responsive */
@media screen and (max-width: 25em) {
	.nav-icon span { display: none; }
}