<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>dvA</key><string>dvA_.glif</string><key>dvI</key><string>dvI_.glif</string><key>dvKHA</key><string>dvK_H_A_.glif</string><key>dvBHA</key><string>dvB_H_A_.glif</string><key>dvDA</key><string>dvD_A_.glif</string><key>dvDHA</key><string>dvD_H_A_.glif</string><key>dvSSA</key><string>dvS_S_A_.glif</string><key>a</key><string>a.glif</string><key>d</key><string>d.glif</string><key>h</key><string>h.glif</string><key>e</key><string>e.glif</string><key>s</key><string>s.glif</string><key>i</key><string>i.glif</string><key>o</key><string>o.glif</string><key>n</key><string>n.glif</string></dict></plist>