<localmenu class="localmenu" class="left">
    <div class="lm-head" ng-mousedown="data.selectMenu('fonts')">
        <b>Fonts</b>
    </div>
    <div class="lm-body" ng-if="data.localmenu.fonts">
        <div class="lm-button" ng-mouseup="">Check All</div>
        <div class="lm-button" ng-mouseup="">Uncheck All</div>
        <div class="lm-divider"></div>
        <div class="lm-button" ng-mouseup="">Copy Opentype Features from Master…</div>
        <div class="lm-divider"></div>
        <div class="lm-button" ng-mouseup="">Remove Opentype Features</div>
    </div>
</localmenu>

<div class="panel-border panel-border-with-menu">
</div>