<div class="panel-border">
    <div id="parameters-selection">
        <div id="parameters-of-master" ng-if="areMastersSelected()">
            <div class="parameters-selection-head">Master</div><div class="parameters-add" ng-click="parametersWindow($event, 1, 'master')">+</div>
            <div class="parameters-selection-body">
                <div ng-repeat="parameter in selectionParametersMasters" class="parameter-row">
                    {{parameter.name}}<br>
                    <div ng-repeat="operator in parameter.operators">
                        {{operator.display}} <input ng-model="operator.value" ng-blur="data.setParameterMaster(parameter.name, operator.name, operator.value, true)">
                    </div> 
                </div>
            </div>
        </div>
        

        <div id="parameters-of-glyph" ng-if="areGlyphsSelected()">
            <div class="parameters-selection-head">Glyph</div><div class="parameters-add" ng-click="parametersWindow($event, 2, 'glyph')">+</div>
            <div class="parameters-selection-body">
                <div ng-repeat="parameter in selectionParametersGlyphs" class="parameter-row">
                    {{parameter.name}}<br>
                    <div ng-repeat="operator in parameter.operators">
                        {{operator.display}} <input ng-model="operator.value" ng-blur="data.setParameterGlyph(parameter.name, operator.name, operator.value, true)">
                    </div>                 
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="parameters-control-panel" class="control-panel" ng-if="data.parametersPanel > 0" ng-style="{'top': parameterPanelTop, 'left': parameterPanelLeft}">
        <div id="control-panel-parameters">
            <div ng-repeat="parameter in parameters" ng-class="{'selected': parameter == panelParameter}" class="control-panel-parameter control-panel-button push-button" ng-click="addParameterToPanel(parameter)">{{parameter}}</div>
        </div>
        <div id="control-panel-operators">
            <div ng-repeat="operator in operators" ng-class="{'selected': operator.affix == panelOperator}" class="control-panel-operator control-panel-button push-button" ng-click="addOperatorToPanel(operator.affix)">{{operator.display}}</div>
        </div>
        <div class="control-panel-cancel control-panel-button push-button" ng-click="data.parametersPanel = 0">
            Cancel
        </div>
    </div>
    
    
    
    
      
    <!--
    <div id="inspector" class="standard-padding">
        <div class="inspector-header">
            <span>{{data.projectName}}</span>
        </div>
        <div ng-repeat="sequence in data.sequences">
            <div class="inspector-branche" style="display: block" ng-repeat="master in sequence.masters"  ng-if="master.edit[data.viewState] && master.type != 'test'">
                <div class="inspector-header">
                    <arrow></arrow>
                    <span ng-class="{'inspector-inactive' : !master.edit[data.viewState]}">{{master.displayName}}</span>
                </div>
                <div class="inspector-branche" ng-repeat="glyph in master.glyphs" ng-if="glyph.edit">
                    <div class="inspector-header">
                        <arrow></arrow>
                        <span>{{glyph.value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
