<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_left_lc_bar</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>i</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_left_lc_round</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>g</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>q</string>
	</array>
	<key>@MMK_R_right_lc_bar</key>
	<array>
		<string>d</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_right_lc_round</key>
	<array>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>p</string>
	</array>
	<key>left_bar</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>i</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
		<string>u</string>
		<string>ij</string>
		<string>racute</string>
	</array>
	<key>right_bar</key>
	<array>
		<string>d</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>q</string>
		<string>u</string>
		<string>ij</string>
		<string>fi</string>
		<string>ij</string>
		<string>fl</string>
	</array>
</dict>
</plist>
