<ul id="design-space-tabs">
    <li ng-repeat="space in data.designSpaces" ng-click="selectDesignSpace($index)" ng-class="{selected : $index == data.currentDesignSpace}">
        <div><img ng-src="{{ 'img/' + space.type + '.png'}}">
        </div>
        <div>
            {{space.name}}
        </div>
    </li>
    <li ng-click="addDesignSpace()">
        +
    </li>
</ul>
<!-- end of tabs -->

<div class="design-space" ng-class="{unconfigured : data.designSpaces[data.currentDesignSpace].type =='x'}">
    <div ng-show="data.designSpaces[data.currentDesignSpace].type == 'x'">
        <div class="choose-space-type">
            <div class="choose-space-type-button" ng-click="data.designSpaces[data.currentDesignSpace].type = 'Explore'">
                <img src="img/Explore.png">
                <br>
                Explore
            </div>
        </div>
        <div class="choose-space-type">
            <div class="choose-space-type-button" ng-click="data.designSpaces[data.currentDesignSpace].type = 'Control'">
                <img src="img/Control.png">
                <br>
                Control
            </div>
        </div>
    </div>
    
    <div class="drop-area" ng-show="data.designSpaces[data.currentDesignSpace].type != 'x'">
        <control ng-if="data.designSpaces[data.currentDesignSpace].type == 'Control'"></control>
        <explore ng-if="data.designSpaces[data.currentDesignSpace].type == 'Explore'"></explore>
        <button ng-if="data.designSpaces[data.currentDesignSpace].type == 'Control' && data.designSpaces[data.currentDesignSpace].masters.length == 3" class="triangle-button" ng-click="data.designSpaces[data.currentDesignSpace].triangle = !data.designSpaces[data.currentDesignSpace].triangle">
            Triangles: {{!data.designSpaces[data.currentDesignSpace].triangle}}
        </button>
    </div> 
    <div id="temp-output2"><div ng-if="data.designSpaces[data.currentDesignSpace].type == 'Control'" ng-repeat="outp2 in output2 track by $index">{{outp2}}</div></div>
    <div id="temp-output"><div ng-if="data.designSpaces[data.currentDesignSpace].type == 'Control'" ng-repeat="outp in output track by $index">{{outp}}</div></div>
</div>