<localmenu class="localmenu" class="left">
    <div class="lm-head" ng-mousedown="data.selectMenu('instances')">
        <b>Instances</b>
    </div>
    <div class="lm-body" ng-if="data.localmenu.instances">
        <div class="lm-button" ng-class="{'inactive': !data.canAddInstance()}" ng-mouseup="data.addInstance()">New</div>
        <div class="lm-divider"></div>
        <div class="lm-button" ng-class="{'inactive': !currentInstance}" ng-mouseup="deleteInstance()">Delete...</div>
    </div>
</localmenu>

<ul ui-sortable="sortableOptionsMasters" ng-model="data.families[0].instances" class="list-ul">
    <li master="{{instance.id}}" sequence="0" display="{{instance.display}}" ng-repeat="instance in data.families[0].instances track by $index" class="list-li" ng-class="{'selected': instance.edit}">
        <span class="list-sequence-col" ng-class="{'start' : $first && !$last, 'end' : $last && !$first, 'middle' : $middle, 'solo' : $first && $last, 'currentinstance': instance == data.currentInstance}">
            <div class="diamond"></div>
        </span>
        <span class="list-view-col rename" ng-model="data.preview" ng-click="instance.display = !instance.display" ng-class="{'selected': instance.display}" style="font-family:'{{instance.fontFamily}}'; font-weight:{{instance.fontWeight}};"></span>
        <span class="list-edit-col rename" ng-model="instance.name" ng-click="setCurrentInstance(instance)" ng-class="{'selected': instance.edit}"></span>
    </li>
</ul>

{{data.currentInstance}}<br><br>
{{data.currentDesignSpace}}

<div id="instances-tools">
    <div id="add-instance" ng-click="data.addInstance();" class="instance-tool" ng-class="{'inactive': !data.canAddInstance()}">
        <img src="img/addInstance.png">
    </div>
    <!--
    <div id="duplicate-instance" ng-if="currentInstance" ng-click="duplicateInstance();" class="instance-tool">
        <img src="img/duplicateInstance.png">
    </div>
    -->
    <div id="delete-instance" ng-click="deleteInstance();" class="instance-tool" ng-class="{'inactive': !currentInstance}">
        <img src="img/deleteInstance.png">
    </div>
</div>