<div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Masters <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="#">Import ufo...</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">Duplicate</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">Delete...</a>
        </li>
    </ul>
</div>

<ul>
    <li ng-repeat="sequence in data.sequences">
        <ul ui-sortable="sortableOptionsMasters" ng-model="sequence.masters" class="sequence">
            
            <li ng-repeat="master in sequence.masters" class="master" ng-class="{selected: master.edit}">
                <span class="diamond" ng-class="{start : $first && !$last, end : $last, middle : $middle, solo : $first && $last}" ng-mouseover="whileDrag(master, $index)" ng-mousedown="startDrag(master, $index)">
                    <div class="diamond-fix" ng-class="{diamonddrag: !$middle}"></div>
                </span>
                <span class="selectable-ag" ng-click="master.display = !master.display" ng-class="{'selected': master.display}" style="font-family:'{{master.fontFamily}}'; font-weight:{{master.weight}};">Ag</span>
                <span class="master-name" ng-click="selectMastersForEdit(master, $parent.$index, $index)" ng-class="{'selected': master.edit}">
                    {{master.name}}
                </span>
            </li>
        </ul>
    </li>
</ul>


<!--
<ul ui-sortable="sortableOptions" ng-model="data.sequence.masters" class="master-ul" ng-repeat="sequence in data.sequences">
    {{sequence.name}}
    <li ng-repeat="master in sequence.masters" class="master-li">
        <span class="selectable-diamond"></span>
        <span class="selectable-ag" ng-click="master.display = !master.display" ng-class="{'ui-selected': master.display}" style="font-family:'{{master.fontFamily}}'; font-weight:{{master.weight}};">Ag</span>
        <span class="selectable-name" ng-click="master.edit = !master.edit" ng-class="{'ui-selected': master.edit}" >{{master.name}}</span>
    </li>
</ul>
-->