<div id="project">
    <div id="project-dropdown" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Project</b> {{projectName}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#">New</a>
            </li>
            <li>
                <a href="#">Clone</a>
            </li>
            <li>
                <a href="#">Open</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">Save</a>
            </li>
            <li>
                <a href="#">Save As...</a>
            </li>
        </ul>
    </div>
</div>
<!-- end of project -->

<div id="view-buttons">
    <div id="menu-item-0" class="menu-item menu-item-current">
        Parameters
    </div>
    <div id="menu-item-1" class="menu-item">
        Design spaces
    </div>
    <div id="menu-item-2" class="menu-item">
        Fonts
    </div>
</div>