
<div id="specimen-toolbar">
    <select ng-model="selectedSpecimen" ng-options="specim.name for specim in specimen" class="specimen-tool"></select>
    <div id="standard-view-tools" ng-show="selectedSpecimen.name != 'glyph range'" ng-hide="selectedSpecimen.name == 'glyph range'">
        <input type="text" id="size-nr" ng-model="fontSize" size="3" class="specimen-tool">
        <size-rope></size-rope>      
        <input type="text" id="filter" ng-model="filterOptions.filter" size="5" class="specimen-tool">
        <input type="radio" ng-model="filterOptions.strict" value="3" class="specimen-tool">
        <input type="radio" ng-model="filterOptions.strict" value="2" class="specimen-tool">
        <input type="radio" ng-model="filterOptions.strict" value="1" class="specimen-tool">     
        <div id="font-by">
            font by <select ng-model="filterOptions.selectedFontby" ng-options="fontby for fontby in fontbys"></select>
        </div>
    </div>
</div>


<div id="specimen-content" rubberband>
    
    <!-- standard view -->
    <div id="non-glyph-range" ng-if="selectedSpecimen.name != 'glyph range'">
        <ul ng-style="{'font-size': fontSize + 'px', 'line-height': fontSize + 'px'}">
            <li ng-repeat="thisglyph in filteredGlyphs track by $index" ng-class="{'selected-glyph':askIfEditGlyph(thisglyph.glyph, thisglyph.master.name), 'glyph-linebreak': thisglyph.linebreak}" ng-click="selectGlyph(thisglyph.glyph, thisglyph.master.sequenceId, thisglyph.master.masterId)">
                <div sequence="{{thisglyph.master.sequenceId}}" master="{{thisglyph.master.masterId}}" glyph="{{thisglyph.glyph}}" class="spec-glyph-box catchme unselectable" ng-style="{'font-family':thisglyph.master.family, 'font-weight':thisglyph.master.weight}">{{thisglyph.glyph}}</div>
            </li>
        </ul>
    </div>
    
    <!-- glyph range -->
    <div id="glyph-range" ng-if="selectedSpecimen.name == 'glyph range'">
        <div ng-repeat="sequence in data.sequences">
            <ul class="glyph-range-master" ui-sortable="sortableOptions" ng-model="master.glyphs" ng-repeat="master in sequence.masters" ng-if="master.display" class="glyph-range" style="font-family:'{{master.fontFamily}}'; font-weight: {{master.weight}};">
                <li sequence="{{$grandparent.$index}}" master="{{$parent.$index}}" glyph="{{glyph.value}}" ng-click="selectGlyphDirect(glyph)" ng-class="{'selected-glyph':glyph.edit}" ng-repeat="glyph in master.glyphs track by $index" class="glyph-box no-rubberband catchme unselectable">{{glyph.value}}</li>
            </ul>
        </div>
    </div>
</div>