
<div id="specimen-toolbar">
    <select ng-model="selectedSpecimen" ng-options="specim.name for specim in specimen" class="specimen-tool"></select>
    <div id="standard-view-tools" >
        <input type="text" id="size-nr" ng-model="fontSize" size="3" class="specimen-tool">
        <size-rope></size-rope>      
        <input type="text" id="filter" ng-model="filterOptions.filter" size="5" class="specimen-tool">
        <span ng-if="selectedSpecimen.name != 'glyph range'">
            <input type="radio" ng-model="filterOptions.strict" value="3" class="specimen-tool">
            <input type="radio" ng-model="filterOptions.strict" value="2" class="specimen-tool">
            <input type="radio" ng-model="filterOptions.strict" value="1" class="specimen-tool">    
        </span> 
        <button ng-click="border = !border">toggle border</button>
        <button ng-click="width = !width">toggle width</button>
        <div id="font-by">
            font by <select ng-model="filterOptions.selectedFontby" ng-options="fontby for fontby in fontbys"></select>
        </div>
    </div>
   
</div>


<div id="specimen-content" rubberband>   
    <!-- standard view -->
    <div id="non-glyph-range" ng-if="selectedSpecimen.name != 'glyph range'">
        <ul ng-style="{'font-size': fontSize + 'px', 'line-height': fontSize + 'px'}">
            <li ng-repeat="thisglyph in filteredGlyphs track by $index" ng-style="{'margin-bottom': (fontSize / 5) + 'px'}" ng-class="{'selected-glyph':askIfEditGlyph(thisglyph.glyph, thisglyph.master.name), 'glyph-linebreak': thisglyph.linebreak}">
                <div sequence="{{thisglyph.master.sequenceId}}" master="{{thisglyph.master.masterId}}" glyph="{{thisglyph.glyph}}" class="spec-glyph-box catchme unselectable" ng-style="{'font-family':thisglyph.master.family, 'font-weight':thisglyph.master.weight}">{{thisglyph.glyph}}</div>
            </li>
        </ul>
    </div>
    
    <!-- glyph range -->
    <div id="glyph-range" ng-if="selectedSpecimen.name == 'glyph range'">
        <div ng-repeat="sequence in data.sequences">
            <ul class="glyph-range-master" ui-sortable="sortableOptions" ng-model="master.glyphs" ng-repeat="master in sequence.masters" ng-if="master.display" class="glyph-range" ng-style="{'font-size': fontSize + 'px', 'line-height': fontSize + 'px', 'font-family':master.fontFamily, 'font-weight': master.weight}">
                <li ng-class="{'selected-glyph':glyph.edit, 'test-border': border}" ng-style="{'margin': (fontSize / 6) + 'px'}" ng-repeat="glyph in filteredRangeGlyphs=(master.glyphs | rangeFilter:filterOptions.filter)" class="no-rubberband spec-glyph-box-range">
                    <div ng-style="{'width': (fontSize * 1.2) + 'px'}" ng-class="{'test-width': width}" sequence="{{$grandparent.$index}}" master="{{$parent.$index}}" glyph="{{glyph.value}}" class="spec-glyph-box catchme unselectable no-rubberband">{{glyph.value}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>