	html {
		height: 100%;
		width: 100%;
		overflow: auto;
	}
	
	body {
		margin: 0;
		height: 100%;
		width: 100%;
		font-family: "Lato";
		background: #d7d2c8;
	}
	
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;  
	}
	
	.standard-padding {
		padding: 16px;
	}
	
	
/***********************************/
	
	#menu {
		width: 100%;
		height: 50px;
	}
	
		#project {
			float: left;
		}
	
		#view-buttons {
			float: left;
			margin-left: calc(50% - 250px);
			padding: 8px;
		}
		
			 #view-buttons .menu-item {
				float: left;
				padding: 8px;
				background: #fff;
				margin-right: 4px;
				font-size: 0.8em;
			}
			
			#view-buttons .menu-item:hover {
				cursor: pointer;
				background: #f85c37;
			}
			
			#view-buttons .menu-item-current {
				background: #f85c37;
				color: #000;
			}
	
	#pagewrap {
		width: 100%;
		height: calc(100% - 50px);
		overflow-x: hidden;
		position: relative;
	}
	
		#landscape {
			width: 262.5%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		
			.panel {
				float: left;
			}
			
			.sub-panel {
				background: #fff;
				border: 4px solid #d7d2c8;
			}
			
			#panel-1 {
				width: calc(3/42 * 100%);
				height: 100%;
				overflow: auto;
			}
			
			#panel-2 {
				width: calc(10/42 * 100%);
				height: 100%;
				overflow-y: auto
			}
			
				#specimen-toolbar {
					padding-bottom: 12px;
					border-bottom: 1px solid #ddd;
				}
				
				.specimen-info-holder {
					text-align: center;
				}
			
					.specimen-info {
					    text-align: left;
					    display: inline-block;
						padding: 8px;
						font-size: 9px;
						text-transform: uppercase;
						text-align: center;
						background: #ddd;
					}
			
				.specimen {
					padding: 20px 0 40px 0;
					border-bottom: 1px solid #ddd;
				}
				
			
			#panel-3 {
				position: relative;
				width: calc(3/42 * 100%);
				height: 100%;
				padding-left: 5px;
			}
				#subpanel-3-top {
					height: 50%;
					position: relative;
					overflow: auto;
				}
				
				#subpanel-3-bottom {
					height: 50%;
					position: relative;
					overflow: auto;
				}
				
					.masters-add-item {
						display: none;
						position: absolute;
						bottom: 0;
						margin: 8px;
					}
			
			#panel-4 {
				width: calc(10/42 * 100%);
				height: 100%;
				position: relative;
			}
			
				#subpanel-4-top {
					position: relative;
					height: 50%;
					overflow: auto;
				}
				
					.block {
						width: 50%;
						height: 50%;
						border-radius: 50%;
						position: absolute;
						opacity: 0.5;
					}
					
					#block-1 {
						background: #f00;
						left: 5%;
						top: 5%;
					}
					
					#block-2 {
						background: #ff0;
						left: 40%;
						top: 5%;
					}
					
					#block-3 {
						background: #00f;
						left: 25%;
						top: 40%;
					}
			
				#subpanel-4-bottom {
					overflow-y: auto;
					height: 50%;
				}
				
					#specimen-2-1 {
						font-weight: 100;
					}
					
					#specimen-2-2 {
						font-weight: 300;
					}
					
					#specimen-2-3 {
						font-weight: 400;
					}
					
					#specimen-2-4 {
						font-weight: 700;
					}
			
			#panel-5 {
				width: calc(3/42 * 100%);
				height: 100%;
				position: relative;
				overflow: auto;
			}
					
			#panel-6 {
				width: calc(4/42 * 100%);
				height: 100%;
				position: relative;
				overflow: auto;
			}
			
				#font-mapping-export {
					position: absolute;
					bottom: 0;
					right: 0;
					margin: 8px;
				}
			
				.mapping-a {
					width: 100%;
					padding: 8px;
					background: #f85c37;
				}
				
				.mapping-b {
					width: 100%;
					padding: 8px;
					background: #ffa392;
				}
			
			#panel-7 {
				width: calc(9/42 * 100%);
				height: 100%;
				position: relative;
				overflow: auto;
			}
			
				#meta-data input {
					margin-bottom: 12px;
				}




/***************** divider ******************/


    .divider {
        position: absolute;
        height: calc(100% - 50px);
        width: 9px;
        top: 50px;
        z-index: 100;
    }
    
    
    #divider-1 {
        left: calc(3/16 * 100% - 4px);   
    }
    
    #divider-2 {
        left: calc(13/16 * 100% - 4px);   
    }
    
        .divider-top {
            height: 100%;
            width: 5px;
        }
        
        .divider:hover .divider-top {
            border-right: 1px dashed #000;
        }
        
        .divider:hover {
            cursor: ew-resize;
        }
        
        
    .divider-hor {
        position: absolute;
        width: 100%;
        height: 9px;
        z-index: 100;
    }
    
    
    #divider-3, #divider-4 {
        top: 50%;   
    }
    
    
        .divider-left {
            width: 100%;
            height: 5px;
        }
        
        .divider-hor:hover .divider-left {
            border-bottom: 1px dashed #000;
        }
        
        .divider-hor:hover {
            cursor: ns-resize;
        }


    

			
/***************** dropdown menu ******************/
/* !!! later: override and combine with bootstrap css */

	
	.dropdown {
		margin-bottom: 20px;
	}
	
		.dropdown a {
			text-decoration: none;
		}
	
		.dropdown .dropdown-toggle {
			position: relative; /* temporarily hack for a sticking out of parents div */
			top: 8px; /* idem */
			display: inine-block;
			padding: 8px;
			background: #ddd;
			color: #000;
			overflow: auto;
            white-space: nowrap;
		}
		
		#project-dropdown .dropdown-toggle {
			background: none;
			display: block;
			padding-bottom: 0;

		}
		
			.dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:focus {
				background: #f85c37;
				color: #000;
			}
			
			.dropdown .dropdown-menu {
				margin-top: 16px;
				border-radius: 0;
				border: 0;
				box-shadow: 3px 3px 3px #ddd;
			}
			
	
			
				
	
			
/***************** selectable ******************/
	
	
    .sequence-ul {
        display: block;
        list-style-type: none;
        font-size: 14px;
    }
    
        .sequence-li {
            display: block;
        }
        
            .sequence-handle {
                padding: 4px;
                background: #aaa;
                color: #fff;
            }
            
                .sequence-handle:hover {
                    cursor: move;
                }
            
                .sequence-name {
                    display: inline-block;
                    padding: 4px;
                    background: #fff;
                    color: #000;
                }
        
            .master-ul {
                border-top: 1px solid #ffa392;
                display: block;
                list-style-type: none;
                margin: 0 0 20px 0;
                padding: 0px;
                width: 100%;
                background: #fff;
                min-height: 20px;
            }
    
                .master-ul .master-li {
                    display: block;
                    border: 0;
                    border-bottom: 1px solid #ffa392;
                    height: 28px;
                }
                
                    .master-ul .master-li:hover {
                        cursor: pointer;
                    }
            
                        
                    .master-ul .master-li span {
                        display: inline-block;
                    }
                            
                        .master-ul .master-li .selectable-diamond {
                            float: left;
                            height: 27px;
                            width: 28px;
                            background-image: url('../img/diamonds/diamond-full.png');
                        }   
                        
                            .master-ul .master-li:first-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-top.png');
                            }
                            
                            .master-ul .master-li:last-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-bottom.png');
                            }
                            
                            .master-ul .master-li:only-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-sole.png');
                            }
                            
                        .master-ul .master-li .selectable-ag {
                            float: left;
                            text-align: center;
                            width: 40px;
                            height: 27px;
                            padding: 4px;
                        }

                            
                            .master-ul .master-li .ui-selected {
                                background: #f85c37;
                            }
                    
                        .master-ul .master-li .selectable-name {
                            float: left;
                            width: calc(100% - 68px);
                            padding: 4px 8px;
                            height: 27px;
                            white-space: nowrap;
                        }
    
            /* while dragging */
            .ui-sortable-helper {
                background: #fff;
                box-shadow: 3px 3px 3px #aaa;
            }
            
                .ui-sortable-helper .selectable-diamond {
                    background-image: url('../img/diamonds/diamond.png')!important;
                }
                
                


/***************** readmore ******************/


	.readmore .readmore-header {
		padding: 8px;
		background: #ddd;
		border-bottom: 1px solid #fff;
		white-space: nowrap;
	}
	
		.readmore .readmore-header:hover {
			cursor: pointer;
			background: #f85c37;
		}	
	
		.readmore .readmore-header::before {
			margin-right: 6px;
			font-size: 8px;
			content: "\25b6";
		}
	
	.readmore .readmore-content {
		padding: 8px;
		display: none;	
	}
	
	.readmore-show .readmore-content {
		display: block;
	}
	
		.readmore-show .readmore-header::before {
			margin-right: 6px;
			font-size: 12px;
			content: "\25be";
		}
		
