    @font-face {
        font-family: 'glyphs';
        src: url('../fonts/glyphs.ttf');
        font-weight: normal;
        font-style: normal;
    }

	html {
		height: 100%;
		width: 100%;
		overflow: auto;
	}
	
	body {
		margin: 0;
		height: 100%;
		width: 100%;
		font-family: "Roboto";
		font-size: 13px;
		background: #d7d2c8;
	}
	
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;  
	}
	
	.standard-padding {
		padding: 16px;
	}
	
    #temp-output {
        position: absolute;
        left: 70%;
        top: 100px;
        width: 30%;
        padding: 20px;
    }
    
    .under-construction {
        background: #48A115!important;
    }
	
	
/***********************************/
	
	#menu {
		width: 100%;
		height: 50px;
	}
	
		#project {
			float: left;
		}
	
		#view-buttons {
			float: left;
			margin-left: calc(50% - 250px);
			padding: 8px;
		}
		
			 #view-buttons .menu-item {
				float: left;
				padding: 8px;
				background: #fff;
				margin-right: 4px;
				font-size: 0.8em;
			}
			
			#view-buttons .menu-item:hover {
				cursor: pointer;
				background: #f85c37;
			}
			
			#view-buttons .menu-item-current {
				background: #f85c37;
				color: #000;
			}
	
	#pagewrap {
		width: 100%;
		height: calc(100% - 50px);
		position: relative;
		overflow-x: hidden;
	}
	
		#landscape {
			width: 262.5%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		
			.panel {
				float: left;
                height: 100%;
			}
			
			.sub-panel {
			    overflow-y: auto;
			    overflow-x: hidden;
			    position: relative;
				background: #fff;
				border: 4px solid #d7d2c8;
			}
			
			#subpanel-3-top.sub-panel {
			    overflow: visible;
			}
			
			#panel-1 {
				width: calc(3/42 * 100%);
			}
			
			#panel-2 {
				width: calc(10/42 * 100%);
			}
			
				#specimen-toolbar {
					padding-bottom: 12px;
					border-bottom: 1px solid #ddd;
				}
				
				.specimen-info-holder {
					text-align: center;
				}
			
					.specimen-info {
					    text-align: left;
					    display: inline-block;
						padding: 8px;
						font-size: 9px;
						text-transform: uppercase;
						text-align: center;
						background: #ddd;
					}
			
				.specimen {
					padding: 20px 0 40px 0;
					border-bottom: 1px solid #ddd;
				}
				
			
			#panel-3 {
				position: relative;
				width: calc(3/42 * 100%);
				padding-left: 5px;
			}
				#subpanel-3-top {
					height: 50%;
					position: relative;
				}
				
				#subpanel-3-bottom {
					height: 50%;
					position: relative;
				}
				
					.masters-add-item {
						display: none;
						position: absolute;
						bottom: 0;
						margin: 8px;
					}
			
			#panel-4 {
				width: calc(10/42 * 100%);
				position: relative;
			}
			
				#subpanel-4-top {
					position: relative;
					height: 50%;
				}
				
					.block {
						width: 200px;
						height: 200px;
						border-radius: 50%;
						position: absolute;
						opacity: 0.5;
					}
					
					#block-1 {
						background: #f00;
						left: 30px;
						top: 30px;
					}
					
					#block-2 {
						background: #ff0;
						left: 180px;
						top: 30px;
					}
					
					#block-3 {
						background: #00f;
						left: 105px;
						top: 105px;
					}
			
				#subpanel-4-bottom {
					height: 50%;
				}
				
		
			#panel-5 {
				width: calc(3/42 * 100%);
				position: relative;
			}
					
			#panel-6 {
				width: calc(4/42 * 100%);
				position: relative;
			}
			
				#font-mapping-export {
					position: absolute;
					bottom: 0;
					right: 0;
					margin: 8px;
				}
			
				.mapping {
					width: 100%;
					padding: 8px;
					border-bottom: 1px solid #f85c37;
					cursor: pointer;
				}
				
				.mapping.selected {
				    background: #f85c37;
				    border-bottom: 1px solid #fff;
				}
				
			
			#panel-7 {
				width: calc(9/42 * 100%);
				position: relative;
			}
			
				#meta-data input {
					margin-bottom: 12px;
				}




/***************** divider ******************/

/*
    .divider {
        position: absolute;
        height: calc(100% - 50px);
        width: 9px;
        top: 50px;
        z-index: 100;
    }
    
    
    #divider-1 {
        left: calc(3/16 * 100% - 4px);   
    }
    
    #divider-2 {
        left: calc(13/16 * 100% - 4px);   
    }
    
        .divider-top {
            height: 100%;
            width: 5px;
        }
        
        .divider:hover .divider-top {
            border-right: 1px dashed #000;
        }
        
        .divider:hover {
            cursor: ew-resize;
        }
        
        
    .divider-hor {
        position: absolute;
        width: 100%;
        height: 9px;
        z-index: 100;
    }
    
    
    #divider-3, #divider-4 {
        top: 50%;   
    }
    
    
        .divider-left {
            width: 100%;
            height: 5px;
        }
        
        .divider-hor:hover .divider-left {
            border-bottom: 1px dashed #000;
        }
        
        .divider-hor:hover {
            cursor: ns-resize;
        }

*/
    

			
/***************** dropdown menu ******************/
/* !!! later: override and combine with bootstrap css */

	
	.dropdown {
		margin-bottom: 20px;
	}
	
		.dropdown a {
			text-decoration: none;
		}
	
		.dropdown .dropdown-toggle {
			position: relative; /* temporarily hack for a sticking out of parents div */
			top: 8px; /* idem */
			display: inine-block;
			padding: 8px;
			background: #ddd;
			color: #000;
			overflow: auto;
            white-space: nowrap;
		}
		
		#project-dropdown .dropdown-toggle {
			background: none;
			display: block;
			padding-bottom: 0;

		}
		
			.dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:focus {
				background: #f85c37;
				color: #000;
			}
			
			.dropdown .dropdown-menu {
				margin-top: 16px;
				border-radius: 0;
				border: 0;
				box-shadow: 0 2px 5px rgba(0,0,0,0.5);
			}
			
	
			
				
	
			
/***************** selectable ******************/
	
	
    .sequence-ul {
        display: block;
        list-style-type: none;
    }
    
        .sequence-li {
            display: block;
        }
          
            .sequence-name {
                display: inline-block;
                padding: 4px;
                background: #fff;
                color: #000;
            }
        
            .master-ul {
                display: block;
                list-style-type: none;
                margin: 0 0 20px 0;
                padding: 0;
                width: 100%;
                background: #fff;
                min-height: 20px;
                border-bottom: 1px solid #ffa392;
            }
    
                .master-ul .master-li {
                    display: block;
                    border-top: 1px solid #ffa392;
                    height: 28px;
                }
                
                    .master-ul .master-li:hover {
                        cursor: pointer;
                    }
                        
                    .master-ul .master-li span {
                        display: inline-block;
                    }
                            
                        .master-ul .master-li .selectable-diamond {
                            float: left;
                            height: 27px;
                            width: 28px;
                            background-image: url('../img/diamonds/diamond-full.png');
                        }   
                        
                            .master-ul .master-li:first-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-top.png');
                            }
                            
                            .master-ul .master-li:last-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-bottom.png');
                            }
                            
                            .master-ul .master-li:only-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-sole.png');
                            }
                            
                        /* while dragging */
                        .ui-sortable-helper {
                            background: #fff;
                            box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                        }
                        
                            .ui-sortable-helper .selectable-diamond {
                                background-image: url('../img/diamonds/diamond.png')!important;
                            }
                
                        .selectable-ag {
                            float: left;
                            text-align: center;
                            width: 40px;
                            height: 27px;
                            padding: 4px;
                        }
                            
                            .master-ul .master-li .ui-selected {
                                background: #f85c37;
                            }
                    
                        .master-ul .master-li .selectable-name {
                            float: left;
                            width: calc(100% - 68px);
                            padding: 4px 8px;
                            height: 27px;
                            white-space: nowrap;
                        }
    

                

/***************** readmore ******************/


	.readmore .readmore-header {
		padding: 8px;
		background: #ddd;
		border-bottom: 1px solid #fff;
		white-space: nowrap;
	}
	
		.readmore .readmore-header:hover {
			cursor: pointer;
			background: #f85c37;
		}	
	
		.readmore .readmore-header::before {
			margin-right: 6px;
			font-size: 8px;
			content: "\25b6";
		}
		
        .readmore-show .readmore-header::before {
            margin-right: 6px;
            font-size: 12px;
            content: "\25be";
        }
	
	.readmore .readmore-content {
		padding: 8px;
		display: none;	
	}
	
	.readmore-show .readmore-content {
		display: block;
	}
	
	
	
	
/******************* specimen ********************/


    #specimen {
        background: #fff;
        width: 800px;
        margin: 0 auto;
        height: 100%;
    }
    
        #specimen-toolbar {
            overflow: auto;
            height: 54px;
            padding: 16px;
            border-bottom: 1px solid #ddd;
            z-index: 1000;
        }
        
        #specimen-content {
            height: calc(100% - 54px);
            overflow-y: auto;
            padding: 16px;
        }
        
           .specimen-tool {
               float: left;
               margin-right: 8px;
           }
           
           #size-nr {
               font-size: 12px;
               font-family: "Lato";
               width: 38px;
               margin-right: 3px;
               text-align: right;
           }
        
            size-rope {
                float: left;
                margin-right: 12px;
                margin-top: 2px;
                width: 16px;
                height: 16px;
            }
         
   #font-by {
    float: right;
   }
   
   .chunk {
    display: inline-block;
    float: left;
   }
              
    #non-glyph-range {
        
    }
    
    #specimen-content ul {
        padding: 0;
        margin: 0;
    }
    
    #specimen-content ul.glyph-range-master {
        margin-bottom: 40px;
    }
    
        #specimen-content ul li {
            list-style: none;
            display: inline-block;
            cursor: default;
        }
        
        #specimen-content ul li.spec-glyph-box-range {
            
        }
                     
            #specimen-content ul li div.spec-glyph-box {              
                display: inline-block;
                white-space: pre;
                border-bottom: 4px solid transparent;
            }
            
             #specimen-content ul li.spec-glyph-box-range div.spec-glyph-box {
                 text-align: center;
             }
                
                #specimen-content ul li.selected-glyph .spec-glyph-box {
                    border-bottom: 4px solid #00f!important;
                }
                
                body #specimen-content ul li.selected-glyph .temp-unselected-glyph {
                    border-bottom: 4px solid transparent!important;
                }
                        
                #specimen-content ul li .temp-selected-glyph {
                    border-bottom: 4px solid #00f!important;   
                }
                    
                #specimen-content ul li.glyph-linebreak {
                    display: block;
                }
                
    .unselectable {                
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
           
    .rubberband {
        background: rgba(0, 0, 0, 0.1);
        border: 1px dashed #000;
    }
           
           
           
	
/************ design space ****************/


    #design-space-panel {
        float: left;
        width: 700px;
        margin: 0 auto;
        height: 100%;
    }

    #design-space-tabs {
        list-style: none;
        overflow: auto;
        margin: 0;
        padding: 0;
        background: #d7d2c8;
        height: 32px;
    }

    #design-space-tabs li {
        float: left;
        padding: 6px 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-right: 4px;
        cursor: pointer;
        background: #fff;
    }

    #design-space-tabs li.selected {
        background: #f85c37;
        color: #fff;
    }

    #design-space-tabs li div {
        float: left;
    }

    #design-space-tabs li img {
        height: 12px;
        width: 12px;
        margin-right: 4px;
    }
    
    designspace {
        height: 100%;
    }

    .design-space {
        height: calc(100% - 32px);
        background: #fff;
    }

    .unconfigured {
        background: #ddd;
    }
    
    .design-space-container {
        width: 100%;
        height: 100%;
    }

    .choose-space-type {
        width: 50%;
        height: 100%;
        float: left;
        text-align: center;
        padding-top: 5%;
    }

    .choose-space-type-button {
        text-decoration: underline;
        cursor: pointer;
    }

    .choose-space-type-button:hover {
        color: #f85c37;
    }

    .drop-area {
        height: 100%;
        width: 100%;
        background: #fff;
        border: 1px solid #ddd;
        position: relative;
    }
    
        .drag-over {
            border: 1px dashed #000;
        }
    
    
            control, explore {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            
            control svg, explore svg {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

                
                li:first-child .slider-label-first {
                    display: none;
                }
                
                li:first-child .slider-label-last {
                    left: 50%;
                }
                
                    .slider-label {
                        border: none;
                        background: transparent;
                    }

                .slider-label-first {
                    left: 0;
                    top: 10px;
                }
                
                .slider-label-last {
                    text-align: right;
                    right: 0;
                }
                
                .slider-label-middle {
                    position: absolute;
                    text-align: center;
                    right: 0;
                    top: 10px;
                    width: 100%;
                    font-size: 16px;
                }
                
        .li-explore {
            position: absolute;
            width: 20px;
            height: 20px;
            background: #000;
            border-radius: 10px;
            cursor: pointer;
        }
        
            .explore-name {
                position: absolute;
                z-index: 10;
                color: #fff;
                left: 6px;
                top: 4px;
                text-align: center;
                font-size: 12px;
            }
            
            .explore-name-full {
                position: absolute;
                z-index: 10;
                left: 24px;
                top: 0px;
                background: #ddd;
                color: #333;
                padding: 4px 8px;
                font-size: 12px;
                opacity: 0;
                transition: all 1s ease;
            }
            
            .show-name-full .explore-name-full {
                opacity: 1;
            }	
            
            
            
            
/************ sliders ***************/
        
 
    .slider-container {
        
    }      
      
        .slider-axis {
            stroke: #000;
            stroke-width: 2;
            fill: none;
        }

        .slider-handle {
            position: absolute;
            top: 3px;
            cursor: pointer;
            fill: #000;
        } 
             
        .slider-label {
            font-size: 9px;
            cursor: default;
        }
    
            .label-right-inactive {
                fill: #aaa;
                font-style: italic;
            }
            
            .slider-label-output {
                fill: #f85c37;
            }
            
            .slider-input-container {
                position: absolute;
                z-index: 1000;
                left: 120px; 
                color: #f85c37;
                font-size: 9px;
            }
            
                .slider-input-output {
                    width: 30px;
                    border: 0;
                    color: #f85c37;
                    text-align: right;
                    font-size: 9px;
                }
    
        .triangle-button {
            position: absolute;
            bottom: 10px;
            left: 10px;
            cursor: pointer;
        }
    
        .slider-button {
            font-family: "glyphs";
            cursor: pointer;
            opacity: 0;
            transition: all 0.5s ease;
        }
        
            .slider-button.slider-remove-master {
                fill: #f00;
            }
        
            .slider-label-right-container:hover .slider-button {
                opacity: 1;
            }
            
        .left-label-select {
            position: absolute;
            left: 10px;
            top: 100px;
            z-index: 1000;
            font-size: 9px;
        }



/**************** masters ************************/


    masters {
        position: relative;
        height: 100%;
        display: block;
    }

        masters ul {
            list-style: none;     
            margin: 0;
            padding: 0;
        }
            
        #masters-tools {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid #000;
        }
        
            .master-tool {
                float: left;
                width: 33px;
                height: 32px;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                border-right: 1px solid #000;
                background: #fff;
            }




/****** list *****/


    .list-name {
        margin-left: 24px;
        padding: 4px 10px;
        width: 50%;
        color: #ddd;
        cursor: pointer;
        background: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #ddd;
        border-bottom: 0px;
    }
        
        .list-name.selected {
           background: #f85c37; 
           color: #fff;
        }

    .list-ul {
        border-top: 1px solid #ffa392;
        width: 100%;
        background: #ddd; 
        margin-bottom: 10px;
    }

        .list-li {
            width: 100%;
            height: 28px;
            background: #fff;
            border-bottom: 1px solid #ffa392;
        }
        
            .list-sequence-col {
                float: left;
                width: 24px;
                height: 28px;
                position: relative;
            }
                    
                .list-sequence-col .diamond {
                    width: 100%;
                    height: 100%;
                }
                
                    .list-sequence-col.start .diamond {
                        background-image: url('../img/diamonds/diamond-top.png');
                    }
                    
                    .list-sequence-col.middle .diamond {
                        background-image: url('../img/diamonds/diamond-full.png');
                    }
                    
                    .list-sequence-col.end .diamond {
                        background-image: url('../img/diamonds/diamond-bottom.png');
                    }
                    
                    .list-sequence-col.solo .diamond {
                        background-image: url('../img/diamonds/diamond-sole.png');
                    }
                    
                    /* while dragging */
                    .ui-sortable-helper {
                        background: #fff;
                        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                    }
                
                    .ui-sortable-helper .list-sequence-col .diamond-fix {
                        background-image: url('../img/diamonds/diamond.png')!important;
                    }
                
        .list-view-col {
            float: left;
            text-align: center;
            width: 32px;
            height: 100%;
            padding: 4px;
            background: #fff;
            cursor: default;
        }
        
            .list-view-col.selected {
                background: #f85c37;
            }
            
        .list-edit-col {
            float: left;
            width: calc(100% - 56px);
            height: 100%;
            padding: 4px 10px;
            background: #fff;
            cursor: default;
        }
        
          .list-edit-col.selected {
                background: #f85c37;
            }
            



/**************** parameters ************************/

  
    #panel-1 {
        padding: 16px;
    }
    
    parameters {
        font-size: 14px;
        font-family: "roboto condensed";
    }
    
        .inspector-branche {
            margin-left: 16px;
            display: block;
        }
        
        .inspector-header {
            color: #224DB3;
        }
        
        .inspector-inactive {
            color: #aaa;
            margin-left: 17px;
        }
        
        arrow {
            cursor: pointer;
            color: #555;
        }
        
        arrow::before {
            content: "►";
        }
        
        arrow.open::before {
            content: "▼";
        }




/**************** metadata ************************/


    metadata input {
        padding: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        font-family: "Lato";
        border: 0px;
        background: #ddd;
        color: #f85c37;
    }
    
        metadata input:focus {
            background: #f85c37;
            color: #fff;
        }


/***************** instances ******************/


    instances {
        position: relative;
        height: 100%;
        display: block;
    }

        instances ul {
            padding: 0;
            margin: 0;
        }
    
            instances ul li {
                list-style: none;
            }
            
        #instances-tools {
            position: absolute;
            bottom: 4px;
            left: 0;
            width: 100%;
            border-top: 1px solid #000;
        }
        
            .instance-tool {
                float: left;
                width: 33px;
                height: 32px;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                border-right: 1px solid #000;
                background: #fff;
            }
