	html {
		height: 100%;
		width: 100%;
		overflow: auto;
	}
	
	body {
		margin: 0;
		height: 100%;
		width: 100%;
		font-family: "Lato";
		background: #d7d2c8;
	}
	
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;  
	}
	
	.standard-padding {
		padding: 16px;
	}
	
	#temp-output {
	    position: absolute;
	    left: 40%;
	    top: 100px;
	    width: 30%;
	    padding: 20px;
	}
	
    #temp-output2 {
        position: absolute;
        left: 70%;
        top: 100px;
        width: 30%;
        padding: 20px;
    }
	
	
/***********************************/
	
	#menu {
		width: 100%;
		height: 50px;
	}
	
		#project {
			float: left;
		}
	
		#view-buttons {
			float: left;
			margin-left: calc(50% - 250px);
			padding: 8px;
		}
		
			 #view-buttons .menu-item {
				float: left;
				padding: 8px;
				background: #fff;
				margin-right: 4px;
				font-size: 0.8em;
			}
			
			#view-buttons .menu-item:hover {
				cursor: pointer;
				background: #f85c37;
			}
			
			#view-buttons .menu-item-current {
				background: #f85c37;
				color: #000;
			}
	
	#pagewrap {
		width: 100%;
		height: calc(100% - 50px);
		position: relative;
		overflow-x: hidden;
	}
	
		#landscape {
			width: 262.5%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		
			.panel {
				float: left;
                height: 100%;
			}
			
			.sub-panel {
			    overflow-y: auto;
			    overflow-x: hidden;
			    position: relative;
				background: #fff;
				border: 4px solid #d7d2c8;
			}
			
			#subpanel-3-top.sub-panel {
			    overflow: visible;
			}
			
			#panel-1 {
				width: calc(3/42 * 100%);
			}
			
			#panel-2 {
				width: calc(10/42 * 100%);
			}
			
				#specimen-toolbar {
					padding-bottom: 12px;
					border-bottom: 1px solid #ddd;
				}
				
				.specimen-info-holder {
					text-align: center;
				}
			
					.specimen-info {
					    text-align: left;
					    display: inline-block;
						padding: 8px;
						font-size: 9px;
						text-transform: uppercase;
						text-align: center;
						background: #ddd;
					}
			
				.specimen {
					padding: 20px 0 40px 0;
					border-bottom: 1px solid #ddd;
				}
				
			
			#panel-3 {
				position: relative;
				width: calc(3/42 * 100%);
				padding-left: 5px;
			}
				#subpanel-3-top {
					height: 100%;
					position: relative;
				}
				
				#subpanel-3-bottom {
					height: 50%;
					position: relative;
				}
				
					.masters-add-item {
						display: none;
						position: absolute;
						bottom: 0;
						margin: 8px;
					}
			
			#panel-4 {
				width: calc(10/42 * 100%);
				position: relative;
			}
			
				#subpanel-4-top {
					position: relative;
					height: 50%;
				}
				
					.block {
						width: 200px;
						height: 200px;
						border-radius: 50%;
						position: absolute;
						opacity: 0.5;
					}
					
					#block-1 {
						background: #f00;
						left: 30px;
						top: 30px;
					}
					
					#block-2 {
						background: #ff0;
						left: 180px;
						top: 30px;
					}
					
					#block-3 {
						background: #00f;
						left: 105px;
						top: 105px;
					}
			
				#subpanel-4-bottom {
					height: 50%;
				}
				
		
			#panel-5 {
				width: calc(3/42 * 100%);
				position: relative;
			}
					
			#panel-6 {
				width: calc(4/42 * 100%);
				position: relative;
			}
			
				#font-mapping-export {
					position: absolute;
					bottom: 0;
					right: 0;
					margin: 8px;
				}
			
				.mapping {
					width: 100%;
					padding: 8px;
					border-bottom: 1px solid #f85c37;
					cursor: pointer;
				}
				
				.mapping.selected {
				    background: #f85c37;
				    border-bottom: 1px solid #fff;
				}
				
			
			#panel-7 {
				width: calc(9/42 * 100%);
				position: relative;
			}
			
				#meta-data input {
					margin-bottom: 12px;
				}




/***************** divider ******************/


    .divider {
        position: absolute;
        height: calc(100% - 50px);
        width: 9px;
        top: 50px;
        z-index: 100;
    }
    
    
    #divider-1 {
        left: calc(3/16 * 100% - 4px);   
    }
    
    #divider-2 {
        left: calc(13/16 * 100% - 4px);   
    }
    
        .divider-top {
            height: 100%;
            width: 5px;
        }
        
        .divider:hover .divider-top {
            border-right: 1px dashed #000;
        }
        
        .divider:hover {
            cursor: ew-resize;
        }
        
        
    .divider-hor {
        position: absolute;
        width: 100%;
        height: 9px;
        z-index: 100;
    }
    
    
    #divider-3, #divider-4 {
        top: 50%;   
    }
    
    
        .divider-left {
            width: 100%;
            height: 5px;
        }
        
        .divider-hor:hover .divider-left {
            border-bottom: 1px dashed #000;
        }
        
        .divider-hor:hover {
            cursor: ns-resize;
        }


    

			
/***************** dropdown menu ******************/
/* !!! later: override and combine with bootstrap css */

	
	.dropdown {
		margin-bottom: 20px;
	}
	
		.dropdown a {
			text-decoration: none;
		}
	
		.dropdown .dropdown-toggle {
			position: relative; /* temporarily hack for a sticking out of parents div */
			top: 8px; /* idem */
			display: inine-block;
			padding: 8px;
			background: #ddd;
			color: #000;
			overflow: auto;
            white-space: nowrap;
		}
		
		#project-dropdown .dropdown-toggle {
			background: none;
			display: block;
			padding-bottom: 0;

		}
		
			.dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:focus {
				background: #f85c37;
				color: #000;
			}
			
			.dropdown .dropdown-menu {
				margin-top: 16px;
				border-radius: 0;
				border: 0;
				box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
			}
			
	
			
				
	
			
/***************** selectable ******************/
	
	
    .sequence-ul {
        display: block;
        list-style-type: none;
    }
    
        .sequence-li {
            display: block;
        }
          
            .sequence-name {
                display: inline-block;
                padding: 4px;
                background: #fff;
                color: #000;
            }
        
            .master-ul {
                display: block;
                list-style-type: none;
                margin: 0 0 20px 0;
                padding: 0;
                width: 100%;
                background: #fff;
                min-height: 20px;
                border-bottom: 1px solid #ffa392;
            }
    
                .master-ul .master-li {
                    display: block;
                    border-top: 1px solid #ffa392;
                    height: 28px;
                }
                
                    .master-ul .master-li:hover {
                        cursor: pointer;
                    }
                        
                    .master-ul .master-li span {
                        display: inline-block;
                    }
                            
                        .master-ul .master-li .selectable-diamond {
                            float: left;
                            height: 27px;
                            width: 28px;
                            background-image: url('../img/diamonds/diamond-full.png');
                        }   
                        
                            .master-ul .master-li:first-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-top.png');
                            }
                            
                            .master-ul .master-li:last-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-bottom.png');
                            }
                            
                            .master-ul .master-li:only-child .selectable-diamond {
                                background-image: url('../img/diamonds/diamond-sole.png');
                            }
                            
                        /* while dragging */
                        .ui-sortable-helper {
                            background: #fff;
                            box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                        }
                        
                            .ui-sortable-helper .selectable-diamond {
                                background-image: url('../img/diamonds/diamond.png')!important;
                            }
                
                        .selectable-ag {
                            float: left;
                            text-align: center;
                            width: 40px;
                            height: 27px;
                            padding: 4px;
                        }
                            
                            .master-ul .master-li .ui-selected {
                                background: #f85c37;
                            }
                    
                        .master-ul .master-li .selectable-name {
                            float: left;
                            width: calc(100% - 68px);
                            padding: 4px 8px;
                            height: 27px;
                            white-space: nowrap;
                        }
    

                

/***************** readmore ******************/


	.readmore .readmore-header {
		padding: 8px;
		background: #ddd;
		border-bottom: 1px solid #fff;
		white-space: nowrap;
	}
	
		.readmore .readmore-header:hover {
			cursor: pointer;
			background: #f85c37;
		}	
	
		.readmore .readmore-header::before {
			margin-right: 6px;
			font-size: 8px;
			content: "\25b6";
		}
		
        .readmore-show .readmore-header::before {
            margin-right: 6px;
            font-size: 12px;
            content: "\25be";
        }
	
	.readmore .readmore-content {
		padding: 8px;
		display: none;	
	}
	
	.readmore-show .readmore-content {
		display: block;
	}
	
	
	
	
/******************* specimen ********************/


    #specimen {
        background: #fff;
        width: 800px;
        margin: 0 auto;
        padding: 40px;
        height: calc(100% - 50px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    
        #specimen-toolbar {
            overflow: auto;
            padding-bottom: 12px;
            border-bottom: 1px solid #ddd;
            z-index: 1000;
        }
        
        #specimen-content {
            overflow: hidden;
        }
        
           .specimen-tool {
               float: left;
               margin-right: 8px;
           }
        
            #size-slider-container {
                position: relative;
                width: 16px;
                height: 16px;
                background: #ddd;
                border-radius: 8px;
            }
        
                #size-slider, .ui-draggable-dragging {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 10;
                    width: 16px;
                    height: 16px;
                    background: #f85c37;
                    border-radius: 8px;
                }
                
                   #size-slider:hover, .ui-draggable-dragging:hover {
                       cursor: pointer;
                   }
                
                   .ui-draggable-dragging {
                       background: #f85c37;
                       box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
                   }
                
    #size-slider-line {
        position: absolute;
        top: 0;
        left: 0;
    }  
    
        #size-slider-line svg {
            position: absolute;
            left; 0;
            top: 0;
        }       
       
       
   #font-by {
    float: right;
   }
   
   .chunk {
    display: inline-block;
    float: left;
   }
   
   .glyph-range {
       clear: both;
       overflow: auto;
       margin-bottom: 20px;
       list-style: none;
   }
   
   .glyph-box {
       float: left;
       background: #fff;
       width: 100px;
       font-size: 60px;
       text-align: center;
       padding: 30px;
       border: 1px solid #ddd;
   }

	
	
	
/************ design space ****************/


    #design-space-panel {
        float: left;
        width: 700px;
        margin: 0 auto;
        height: 100%;
    }

    #design-space-tabs {
        list-style: none;
        overflow: auto;
        margin: 0;
        padding: 0;
        background: #d7d2c8;
        height: 32px;
    }

    #design-space-tabs li {
        float: left;
        padding: 6px 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-right: 4px;
        cursor: pointer;
        background: #fff;
    }

    #design-space-tabs li.selected {
        background: #f85c37;
        color: #fff;
    }

    #design-space-tabs li div {
        float: left;
    }

    #design-space-tabs li img {
        height: 12px;
        width: 12px;
        margin-right: 4px;
    }
    
    designspace {
        height: 100%;
    }

    .design-space {
        height: calc(100% - 32px);
        background: #fff;
    }

    .unconfigured {
        background: #ddd;
    }

    .choose-space-type {
        width: 50%;
        float: left;
        text-align: center;
        padding-top: 5%;
    }

    .choose-space-type-button {
        text-decoration: underline;
        cursor: pointer;
    }

    .choose-space-type-button:hover {
        color: #f85c37;
    }

    .drop-area {
        height: 100%;
        width: 100%;
        background: #fff;
        border: 1px solid #ddd;
        position: relative;
    }
    
        .drag-over {
            border: 1px dashed #000;
        }
    
    
            control, explore {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            
            control svg, explore svg {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
                    
                .slider-axis {
                    stroke: #000;
                    stroke-width: 2;
                }
                
    
                .slider-handle {
                    position: absolute;
                    top: 3px;
                    cursor: pointer;
                }
                    
                .slider-label {
                    font-size: 9px;
                }
                
                .label-center {
                    
                }
                
                .label-right {
                    text-align: right;
                }
                
                .label-right-inactive {
                    fill: #aaa;
                    font-style: italic;
                }
                
                .triangle-button {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    cursor: pointer;
                }
                
                
                
                li:first-child .slider-label-first {
                    display: none;
                }
                
                li:first-child .slider-label-last {
                    left: 50%;
                }
                
                    .slider-label {
                        border: none;
                        background: transparent;
                    }

                .slider-label-first {
                    left: 0;
                    top: 10px;
                }
                
                .slider-label-last {
                    text-align: right;
                    right: 0;
                }
                
                .slider-label-middle {
                    position: absolute;
                    text-align: center;
                    right: 0;
                    top: 10px;
                    width: 100%;
                    font-size: 16px;
                }
                
        .li-explore {
            position: absolute;
            width: 20px;
            height: 20px;
            background: #000;
            border-radius: 10px;
            cursor: pointer;
        }
        
            .explore-name {
                position: absolute;
                z-index: 10;
                color: #fff;
                left: 6px;
                top: 4px;
                text-align: center;
                font-size: 12px;
            }
            
            .explore-name-full {
                position: absolute;
                z-index: 10;
                left: 24px;
                top: 0px;
                background: #ddd;
                color: #333;
                padding: 4px 8px;
                font-size: 12px;
                opacity: 0;
                transition: all 1s ease;
            }
            
            .show-name-full .explore-name-full {
                opacity: 1;
            }	




/**************** masters ************************/


    masters ul {
        list-style: none;     
        margin: 0;
        padding: 0;
    }

        .sequence-name {
            margin-left: 24px;
            padding: 4px 10px;
            width: 50%;
            color: #ddd;
            cursor: pointer;
            background: #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border: 1px solid #ddd;
            border-bottom: 0px;
        }
        
            .sequence-name.selected {
               background: #f85c37; 
               color: #fff;
            }

        .sequence {
            border-top: 1px solid #ffa392;
            width: 100%;
            background: #ddd; 
            margin-bottom: 10px;
        }

            .master {
                width: 100%;
                height: 28px;
                background: #fff;
                border-bottom: 1px solid #ffa392;
            }
        
                .diamond {
                    float: left;
                    width: 24px;
                    height: 28px;
                    position: relative;
                    cursor: pointer;
                }
                    
                .diamond-fix {
                    width: 100%;
                    height: 100%;
                }
                
                    .start .diamond-fix {
                        background-image: url('../img/diamonds/diamond-top.png');
                    }
                    
                    .middle .diamond-fix {
                        background-image: url('../img/diamonds/diamond-full.png');
                    }
                    
                    .end .diamond-fix {
                        background-image: url('../img/diamonds/diamond-bottom.png');
                    }
                    
                    .solo .diamond-fix {
                        background-image: url('../img/diamonds/diamond-sole.png');
                    }
            
                .diamond-clone, .diamonddrag:hover {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    border: 3px solid #0ff;
                    background: #000;
                    z-index: 11;
                    left: 14px;
                    top: 14px;
                    cursor: pointer;
                }

                    
                /* while dragging */
                .ui-sortable-helper {
                    background: #fff;
                    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                }
                
                    .ui-sortable-helper > .diamond > .diamond-fix {
                        background-image: url('../img/diamonds/diamond.png')!important;
                    }
                
        .selectable-ag {
            float: left;
            text-align: center;
            width: 32px;
            height: 100%;
            padding: 2px;
            background: #fff;
            cursor: pointer;
        }
        
            .selectable-ag.selected {
                background: #f85c37;
            }
            
        .master-name {
            float: left;
            width: calc(100% - 56px);
            height: 100%;
            padding: 2px 10px;
            cursor: move;
            background: #fff;
        }
        
          .master-name.selected {
                background: #f85c37;
            }
            



/**************** parameters ************************/

  
    #panel-1 {
        padding: 16px;
    }
    
    parameters {
        font-size: 14px;
        font-family: "roboto condensed";
    }
    
        .inspector-branche {
            margin-left: 16px;
            display: none;
        }
        
        .inspector-header {
            color: #224DB3;
        }
        
        .inspector-inactive {
            color: #aaa;
            margin-left: 17px;
        }
        
        arrow {
            cursor: pointer;
            color: #555;
        }
        
        arrow::before {
            content: "►";
        }
        
        arrow.open::before {
            content: "▼";
        }




/**************** metadata ************************/


    metadata input {
        padding: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        font-family: "Lato";
        border: 0px;
        background: #ddd;
        color: #f85c37;
    }
    
        metadata input:focus {
            background: #f85c37;
            color: #fff;
        }
