<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>873</integer>
    <key>capHeight</key>
    <integer>560</integer>
    <key>copyright</key>
    <string/>
    <key>descender</key>
    <integer>-341</integer>
    <key>familyName</key>
    <string>Rozha One</string>
    <key>guidelines</key>
    <array>
	</array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>macintoshFONDName</key>
    <string>Rozha One</string>
    <key>note</key>
    <string/>
    <key>openTypeHeadCreated</key>
    <string>2014/12/03 12:50:39</string>
    <key>openTypeHheaAscender</key>
    <integer>750</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>9</integer>
    <key>openTypeNameDesigner</key>
    <string>Tim Donaldson and Jyotish Sonowal (Devanagari), Shiva Nallaperumal (Latin)</string>
    <key>openTypeNameManufacturer</key>
    <string>Indian Type Foundry</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>5</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>250</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>140</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>477</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>650</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>pyrs</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>0</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>0</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.0396</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
	</array>
    <key>postscriptFamilyBlues</key>
    <array>
	</array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
	</array>
    <key>postscriptFontName</key>
    <string>RozhaOne</string>
    <key>postscriptForceBold</key>
    <true/>
    <key>postscriptFullName</key>
    <string>Rozha One</string>
    <key>postscriptOtherBlues</key>
    <array>
	</array>
    <key>postscriptStemSnapH</key>
    <array>
	</array>
    <key>postscriptStemSnapV</key>
    <array>
	</array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Rozha One</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>540</integer>
  </dict>
</plist>
