<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>COMBINING_MARKS</key>
    <array>
      <string>dvAnusvara</string>
      <string>dvAnusvara.aMatraI</string>
      <string>dvCandrabindu</string>
      <string>dvMatraAI</string>
      <string>dvMatraAI_Anusvara</string>
      <string>dvMatraAI_Candrabindu</string>
      <string>dvMatraAI_Reph</string>
      <string>dvMatraAI_Reph_Anusvara</string>
      <string>dvMatraE</string>
      <string>dvMatraE_Anusvara</string>
      <string>dvMatraE_Candrabindu</string>
      <string>dvMatraE_Reph</string>
      <string>dvMatraE_Reph_Anusvara</string>
      <string>dvMatraEcandra</string>
      <string>dvMatraEshort</string>
      <string>dvMatraU</string>
      <string>dvMatraUU</string>
      <string>dvMatraVocalicR</string>
      <string>dvMatraVocalicRR</string>
      <string>dvReph</string>
      <string>dvReph.aMatraI</string>
      <string>dvReph_Anusvara</string>
      <string>dvReph_Anusvara.aMatraI</string>
      <string>dvVirama</string>
    </array>
    <key>MatraII_BASES</key>
    <array>
      <string>dvJ_KA</string>
      <string>dvKA</string>
      <string>dvKA_Nukta</string>
      <string>dvK_KA</string>
      <string>dvK_Nukta_KA_Nukta</string>
      <string>dvK_Nukta_PHA</string>
      <string>dvK_Nukta_PHA_Nukta</string>
      <string>dvK_Nukta_RA</string>
      <string>dvK_PHA</string>
      <string>dvK_RA</string>
      <string>dvK_RA.aTrad</string>
      <string>dvK_TA</string>
      <string>dvL_KA</string>
      <string>dvL_PHA</string>
      <string>dvN_KA</string>
      <string>dvN_PHA</string>
      <string>dvPHA</string>
      <string>dvPHA_Nukta</string>
      <string>dvPH_Nukta_PHA_Nukta</string>
      <string>dvPH_Nukta_RA</string>
      <string>dvPH_PHA</string>
      <string>dvPH_RA</string>
      <string>dvP_PHA</string>
      <string>dvSH_KA</string>
      <string>dvSH_KA_Nukta</string>
      <string>dvSS_KA</string>
      <string>dvSS_PHA</string>
      <string>dvS_KA</string>
      <string>dvS_PHA</string>
      <string>dvT_KA</string>
      <string>dvT_PHA</string>
      <string>dvT_R_KA.aTrad</string>
    </array>
    <key>MatraI_ALTS</key>
    <array>
      <string>dvMatraI.a01</string>
      <string>dvMatraI.a02</string>
      <string>dvMatraI.a03</string>
      <string>dvMatraI.a04</string>
      <string>dvMatraI.a05</string>
      <string>dvMatraI.a06</string>
      <string>dvMatraI.a07</string>
      <string>dvMatraI.a08</string>
      <string>dvMatraI.a09</string>
      <string>dvMatraI.a10</string>
      <string>dvMatraI.a11</string>
      <string>dvMatraI.a12</string>
      <string>dvMatraI.a13</string>
      <string>dvMatraI.a14</string>
      <string>dvMatraI.a15</string>
      <string>dvMatraI.a16</string>
      <string>dvMatraI.a17</string>
      <string>dvMatraI.a18</string>
      <string>dvMatraI.a19</string>
      <string>dvMatraI.a20</string>
      <string>dvMatraI.a21</string>
      <string>dvMatraI.a22</string>
      <string>dvMatraI.a23</string>
      <string>dvMatraI.a24</string>
      <string>dvMatraI.a25</string>
      <string>dvMatraI.a26</string>
      <string>dvMatraI.a27</string>
      <string>dvMatraI.a28</string>
      <string>dvMatraI.a29</string>
      <string>dvMatraI.a30</string>
      <string>dvMatraI.a31</string>
      <string>dvMatraI.a32</string>
    </array>
    <key>MatraI_BASES</key>
    <array>
      <string>dvBA</string>
      <string>dvBHA</string>
      <string>dvBH_LA</string>
      <string>dvBH_NA</string>
      <string>dvBH_RA</string>
      <string>dvBH_R_YA</string>
      <string>dvBH_VA</string>
      <string>dvBH_YA</string>
      <string>dvB_BA</string>
      <string>dvB_BHA</string>
      <string>dvB_BH_RA</string>
      <string>dvB_DA</string>
      <string>dvB_DHA</string>
      <string>dvB_DH_VA</string>
      <string>dvB_JA</string>
      <string>dvB_JA_Nukta</string>
      <string>dvB_JHA</string>
      <string>dvB_J_YA</string>
      <string>dvB_LA</string>
      <string>dvB_L_YA</string>
      <string>dvB_NA</string>
      <string>dvB_RA</string>
      <string>dvB_SA</string>
      <string>dvB_SHA</string>
      <string>dvB_TA</string>
      <string>dvB_VA</string>
      <string>dvB_YA</string>
      <string>dvCA</string>
      <string>dvCHA</string>
      <string>dvCH_NA</string>
      <string>dvCH_RA</string>
      <string>dvCH_R_YA</string>
      <string>dvCH_VA</string>
      <string>dvCH_YA</string>
      <string>dvC_CA</string>
      <string>dvC_CHA</string>
      <string>dvC_CH_VA</string>
      <string>dvC_MA</string>
      <string>dvC_NA</string>
      <string>dvC_RA</string>
      <string>dvC_YA</string>
      <string>dvDA</string>
      <string>dvDDA</string>
      <string>dvDDA_Nukta</string>
      <string>dvDDHA</string>
      <string>dvDDHA_Nukta</string>
      <string>dvDDH_DDHA</string>
      <string>dvDDH_Nukta_RA</string>
      <string>dvDDH_RA</string>
      <string>dvDDH_YA</string>
      <string>dvDD_DDA</string>
      <string>dvDD_DDHA</string>
      <string>dvDD_GA</string>
      <string>dvDD_NA</string>
      <string>dvDD_Nukta_RA</string>
      <string>dvDD_RA</string>
      <string>dvDD_VA</string>
      <string>dvDD_YA</string>
      <string>dvDHA</string>
      <string>dvDH_MA</string>
      <string>dvDH_NA</string>
      <string>dvDH_N_YA</string>
      <string>dvDH_RA</string>
      <string>dvDH_VA</string>
      <string>dvDH_YA</string>
      <string>dvD_BA</string>
      <string>dvD_BHA</string>
      <string>dvD_B_RA</string>
      <string>dvD_DA</string>
      <string>dvD_DHA</string>
      <string>dvD_GA</string>
      <string>dvD_GHA</string>
      <string>dvD_G_RA</string>
      <string>dvD_MA</string>
      <string>dvD_NA</string>
      <string>dvD_RA</string>
      <string>dvD_VA</string>
      <string>dvD_YA</string>
      <string>dvD_Y_BHA</string>
      <string>dvD_Y_RA</string>
      <string>dvEyelash_HA</string>
      <string>dvEyelash_YA</string>
      <string>dvGA</string>
      <string>dvGA_Nukta</string>
      <string>dvGHA</string>
      <string>dvGH_MA</string>
      <string>dvGH_NA</string>
      <string>dvGH_RA</string>
      <string>dvGH_YA</string>
      <string>dvG_BA</string>
      <string>dvG_BHA</string>
      <string>dvG_BH_YA</string>
      <string>dvG_DA</string>
      <string>dvG_DHA</string>
      <string>dvG_DH_VA</string>
      <string>dvG_DH_YA</string>
      <string>dvG_GA</string>
      <string>dvG_GHA</string>
      <string>dvG_JA</string>
      <string>dvG_LA</string>
      <string>dvG_MA</string>
      <string>dvG_NA</string>
      <string>dvG_NNA</string>
      <string>dvG_N_YA</string>
      <string>dvG_Nukta_RA</string>
      <string>dvG_RA</string>
      <string>dvG_R_YA</string>
      <string>dvG_SA</string>
      <string>dvG_VA</string>
      <string>dvG_YA</string>
      <string>dvHA</string>
      <string>dvH_LA</string>
      <string>dvH_MA</string>
      <string>dvH_NA</string>
      <string>dvH_NNA</string>
      <string>dvH_RA</string>
      <string>dvH_VA</string>
      <string>dvH_YA</string>
      <string>dvJA</string>
      <string>dvJA_Nukta</string>
      <string>dvJHA</string>
      <string>dvJH_MA</string>
      <string>dvJH_NA</string>
      <string>dvJH_RA</string>
      <string>dvJH_YA</string>
      <string>dvJ_BA</string>
      <string>dvJ_DA</string>
      <string>dvJ_DDA</string>
      <string>dvJ_JA</string>
      <string>dvJ_JHA</string>
      <string>dvJ_J_NYA</string>
      <string>dvJ_J_VA</string>
      <string>dvJ_J_YA</string>
      <string>dvJ_KA</string>
      <string>dvJ_MA</string>
      <string>dvJ_NA</string>
      <string>dvJ_NYA</string>
      <string>dvJ_NY_YA</string>
      <string>dvJ_Nukta_JA_Nukta</string>
      <string>dvJ_Nukta_RA</string>
      <string>dvJ_Nukta_YA</string>
      <string>dvJ_RA</string>
      <string>dvJ_TA</string>
      <string>dvJ_TTA</string>
      <string>dvJ_VA</string>
      <string>dvJ_YA</string>
      <string>dvKA</string>
      <string>dvKA_Nukta</string>
      <string>dvKHA</string>
      <string>dvKHA_Nukta</string>
      <string>dvKH_KHA</string>
      <string>dvKH_MA</string>
      <string>dvKH_NA</string>
      <string>dvKH_Nukta_MA</string>
      <string>dvKH_Nukta_RA</string>
      <string>dvKH_Nukta_SA</string>
      <string>dvKH_Nukta_SHA</string>
      <string>dvKH_Nukta_TA</string>
      <string>dvKH_Nukta_VA</string>
      <string>dvKH_Nukta_YA</string>
      <string>dvKH_RA</string>
      <string>dvKH_SHA</string>
      <string>dvKH_TA</string>
      <string>dvKH_VA</string>
      <string>dvKH_YA</string>
      <string>dvK_CA</string>
      <string>dvK_DA</string>
      <string>dvK_JA</string>
      <string>dvK_KA</string>
      <string>dvK_KHA</string>
      <string>dvK_LA</string>
      <string>dvK_MA</string>
      <string>dvK_NA</string>
      <string>dvK_NNA</string>
      <string>dvK_Nukta_BA</string>
      <string>dvK_Nukta_KA_Nukta</string>
      <string>dvK_Nukta_MA</string>
      <string>dvK_Nukta_PHA</string>
      <string>dvK_Nukta_PHA_Nukta</string>
      <string>dvK_Nukta_RA</string>
      <string>dvK_Nukta_TA</string>
      <string>dvK_PA</string>
      <string>dvK_PHA</string>
      <string>dvK_P_RA</string>
      <string>dvK_RA</string>
      <string>dvK_RA.aTrad</string>
      <string>dvK_SA</string>
      <string>dvK_SHA</string>
      <string>dvK_SSA</string>
      <string>dvK_SS_MA</string>
      <string>dvK_SS_M_YA</string>
      <string>dvK_SS_VA</string>
      <string>dvK_SS_YA</string>
      <string>dvK_S_DDA</string>
      <string>dvK_S_P_LA</string>
      <string>dvK_S_P_RA</string>
      <string>dvK_S_TA</string>
      <string>dvK_S_TTA</string>
      <string>dvK_TA</string>
      <string>dvK_THA</string>
      <string>dvK_TTA</string>
      <string>dvK_T_RA</string>
      <string>dvK_T_VA</string>
      <string>dvK_T_YA</string>
      <string>dvK_VA</string>
      <string>dvK_V_YA</string>
      <string>dvK_YA</string>
      <string>dvLA</string>
      <string>dvLLA</string>
      <string>dvLLA_Nukta</string>
      <string>dvLL_YA</string>
      <string>dvL_BA</string>
      <string>dvL_BHA</string>
      <string>dvL_DA</string>
      <string>dvL_DDA</string>
      <string>dvL_DDHA</string>
      <string>dvL_D_RA</string>
      <string>dvL_GA</string>
      <string>dvL_HA</string>
      <string>dvL_JA</string>
      <string>dvL_JA_Nukta</string>
      <string>dvL_KA</string>
      <string>dvL_KHA</string>
      <string>dvL_K_YA</string>
      <string>dvL_LA</string>
      <string>dvL_L_YA</string>
      <string>dvL_MA</string>
      <string>dvL_PA</string>
      <string>dvL_PHA</string>
      <string>dvL_SA</string>
      <string>dvL_TA</string>
      <string>dvL_THA</string>
      <string>dvL_TH_YA</string>
      <string>dvL_TTA</string>
      <string>dvL_TTHA</string>
      <string>dvL_VA</string>
      <string>dvL_V_DDA</string>
      <string>dvL_YA</string>
      <string>dvMA</string>
      <string>dvM_BA</string>
      <string>dvM_BHA</string>
      <string>dvM_BH_RA</string>
      <string>dvM_BH_VA</string>
      <string>dvM_BH_YA</string>
      <string>dvM_B_RA</string>
      <string>dvM_B_YA</string>
      <string>dvM_DA</string>
      <string>dvM_HA</string>
      <string>dvM_LA</string>
      <string>dvM_MA</string>
      <string>dvM_NA</string>
      <string>dvM_PA</string>
      <string>dvM_P_RA</string>
      <string>dvM_RA</string>
      <string>dvM_SA</string>
      <string>dvM_SHA</string>
      <string>dvM_TA</string>
      <string>dvM_VA</string>
      <string>dvM_YA</string>
      <string>dvNA</string>
      <string>dvNA_Nukta</string>
      <string>dvNGA</string>
      <string>dvNG_GA</string>
      <string>dvNG_MA</string>
      <string>dvNG_RA</string>
      <string>dvNNA</string>
      <string>dvNN_DDA</string>
      <string>dvNN_DDHA</string>
      <string>dvNN_MA</string>
      <string>dvNN_NNA</string>
      <string>dvNN_RA</string>
      <string>dvNN_TTA</string>
      <string>dvNN_TTHA</string>
      <string>dvNN_VA</string>
      <string>dvNN_YA</string>
      <string>dvNYA</string>
      <string>dvNY_CA</string>
      <string>dvNY_CHA</string>
      <string>dvNY_JA</string>
      <string>dvNY_RA</string>
      <string>dvNY_SHA</string>
      <string>dvN_BHA</string>
      <string>dvN_BH_VA</string>
      <string>dvN_BH_YA</string>
      <string>dvN_CA</string>
      <string>dvN_CHA</string>
      <string>dvN_DA</string>
      <string>dvN_DDA</string>
      <string>dvN_DHA</string>
      <string>dvN_DH_RA</string>
      <string>dvN_DH_VA</string>
      <string>dvN_DH_YA</string>
      <string>dvN_D_RA</string>
      <string>dvN_D_VA</string>
      <string>dvN_HA</string>
      <string>dvN_KA</string>
      <string>dvN_K_SA</string>
      <string>dvN_MA</string>
      <string>dvN_M_YA</string>
      <string>dvN_NA</string>
      <string>dvN_N_YA</string>
      <string>dvN_Nukta_RA</string>
      <string>dvN_PA</string>
      <string>dvN_PHA</string>
      <string>dvN_PH_RA</string>
      <string>dvN_P_RA</string>
      <string>dvN_RA</string>
      <string>dvN_SA</string>
      <string>dvN_S_M_YA</string>
      <string>dvN_S_TTA</string>
      <string>dvN_S_YA</string>
      <string>dvN_TA</string>
      <string>dvN_THA</string>
      <string>dvN_TH_VA</string>
      <string>dvN_TH_YA</string>
      <string>dvN_TTA</string>
      <string>dvN_T_RA</string>
      <string>dvN_T_SA</string>
      <string>dvN_T_YA</string>
      <string>dvN_VA</string>
      <string>dvN_YA</string>
      <string>dvPA</string>
      <string>dvPHA</string>
      <string>dvPHA_Nukta</string>
      <string>dvPH_JA</string>
      <string>dvPH_LA</string>
      <string>dvPH_NA</string>
      <string>dvPH_Nukta_JA_Nukta</string>
      <string>dvPH_Nukta_PHA_Nukta</string>
      <string>dvPH_Nukta_RA</string>
      <string>dvPH_Nukta_SA</string>
      <string>dvPH_Nukta_TA</string>
      <string>dvPH_PA</string>
      <string>dvPH_PHA</string>
      <string>dvPH_RA</string>
      <string>dvPH_SHA</string>
      <string>dvPH_TA</string>
      <string>dvPH_TTA</string>
      <string>dvPH_YA</string>
      <string>dvP_LA</string>
      <string>dvP_MA</string>
      <string>dvP_NA</string>
      <string>dvP_PA</string>
      <string>dvP_PHA</string>
      <string>dvP_RA</string>
      <string>dvP_SA</string>
      <string>dvP_TA</string>
      <string>dvP_TTA</string>
      <string>dvP_TTHA</string>
      <string>dvP_T_YA</string>
      <string>dvP_VA</string>
      <string>dvP_YA</string>
      <string>dvRA</string>
      <string>dvRA_Nukta</string>
      <string>dvSA</string>
      <string>dvSHA</string>
      <string>dvSH_CA</string>
      <string>dvSH_CHA</string>
      <string>dvSH_KA</string>
      <string>dvSH_KA_Nukta</string>
      <string>dvSH_LA</string>
      <string>dvSH_MA</string>
      <string>dvSH_NA</string>
      <string>dvSH_RA</string>
      <string>dvSH_SHA</string>
      <string>dvSH_TA</string>
      <string>dvSH_TTA</string>
      <string>dvSH_VA</string>
      <string>dvSH_VA.aSimp</string>
      <string>dvSH_YA</string>
      <string>dvSSA</string>
      <string>dvSS_KA</string>
      <string>dvSS_K_RA</string>
      <string>dvSS_MA</string>
      <string>dvSS_M_YA</string>
      <string>dvSS_NNA</string>
      <string>dvSS_NN_YA</string>
      <string>dvSS_PA</string>
      <string>dvSS_PHA</string>
      <string>dvSS_P_RA</string>
      <string>dvSS_SSA</string>
      <string>dvSS_TTA</string>
      <string>dvSS_TTHA</string>
      <string>dvSS_TTH_RA</string>
      <string>dvSS_TTH_YA</string>
      <string>dvSS_TT_RA</string>
      <string>dvSS_TT_VA</string>
      <string>dvSS_TT_YA</string>
      <string>dvSS_VA</string>
      <string>dvSS_YA</string>
      <string>dvS_BA</string>
      <string>dvS_DA</string>
      <string>dvS_JA</string>
      <string>dvS_KA</string>
      <string>dvS_KHA</string>
      <string>dvS_K_RA</string>
      <string>dvS_K_VA</string>
      <string>dvS_LA</string>
      <string>dvS_MA</string>
      <string>dvS_M_YA</string>
      <string>dvS_NA</string>
      <string>dvS_PA</string>
      <string>dvS_PHA</string>
      <string>dvS_P_RA</string>
      <string>dvS_RA</string>
      <string>dvS_SA</string>
      <string>dvS_TA</string>
      <string>dvS_THA</string>
      <string>dvS_TH_YA</string>
      <string>dvS_TTA</string>
      <string>dvS_T_RA</string>
      <string>dvS_T_VA</string>
      <string>dvS_T_YA</string>
      <string>dvS_VA</string>
      <string>dvS_YA</string>
      <string>dvTA</string>
      <string>dvTHA</string>
      <string>dvTH_NA</string>
      <string>dvTH_RA</string>
      <string>dvTH_VA</string>
      <string>dvTH_YA</string>
      <string>dvTTA</string>
      <string>dvTTHA</string>
      <string>dvTTH_NA</string>
      <string>dvTTH_RA</string>
      <string>dvTTH_TTHA</string>
      <string>dvTTH_YA</string>
      <string>dvTT_GA</string>
      <string>dvTT_NA</string>
      <string>dvTT_RA</string>
      <string>dvTT_TTA</string>
      <string>dvTT_TTHA</string>
      <string>dvTT_VA</string>
      <string>dvTT_YA</string>
      <string>dvT_KA</string>
      <string>dvT_KHA</string>
      <string>dvT_KH_NA</string>
      <string>dvT_KH_RA</string>
      <string>dvT_K_RA</string>
      <string>dvT_K_SSA</string>
      <string>dvT_K_VA</string>
      <string>dvT_K_YA</string>
      <string>dvT_LA</string>
      <string>dvT_MA</string>
      <string>dvT_M_YA</string>
      <string>dvT_NA</string>
      <string>dvT_N_YA</string>
      <string>dvT_PA</string>
      <string>dvT_PHA</string>
      <string>dvT_P_LA</string>
      <string>dvT_P_RA</string>
      <string>dvT_RA</string>
      <string>dvT_R_KA.aTrad</string>
      <string>dvT_R_YA</string>
      <string>dvT_SA</string>
      <string>dvT_S_NA</string>
      <string>dvT_S_VA</string>
      <string>dvT_S_YA</string>
      <string>dvT_TA</string>
      <string>dvT_THA</string>
      <string>dvT_T_VA</string>
      <string>dvT_T_YA</string>
      <string>dvT_VA</string>
      <string>dvT_YA</string>
      <string>dvVA</string>
      <string>dvV_HA</string>
      <string>dvV_LA</string>
      <string>dvV_NA</string>
      <string>dvV_RA</string>
      <string>dvV_VA</string>
      <string>dvV_YA</string>
      <string>dvYA</string>
      <string>dvYA_Nukta</string>
      <string>dvY_NA</string>
      <string>dvY_Nukta_RA</string>
      <string>dvY_RA</string>
      <string>dvY_YA</string>
    </array>
  </dict>
</plist>
