    @font-face {
        font-family: 'glyphs';
        src: url('../fonts/glyphs.ttf');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'icons';
        src: url('../fonts/mp_icons.otf');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'seanSansNarrow';
        src: url('../fonts/SeanSans-NarrowBold.otf');
        font-weight: 700;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'seanSansNarrow';
        src: url('../fonts/SeanSans-NarrowThin.otf');
        font-weight: 100;
        font-style: normal;
    }

	html {
		height: 100%;
		width: 100%;
		overflow: auto;
	}
	
	body {
		margin: 0;
		height: 100%;
		width: 100%;
		font-family: "seanSansNarrow";
		font-weight: 700;
		font-size: 12px;
		background: #fff;
		color: #515151;
		padding: 5px;
	}
	
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;  
	}
	
	input {
	    font-size: 12px;
	}
	
	.standard-padding {
		padding: 16px;
	}
	
	.align-right {
	    text-align: right;
	}
	
    #temp-output {
        position: absolute;
        left: 70%;
        top: 100px;
        width: 30%;
        padding: 20px;
    }
    
    .unselectable {                
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .selectable {
        -webkit-touch-callout: all;
        -webkit-user-select: all;
        -khtml-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    } 
    
    .rename {
        cursor: default;
    }

    .renaming {
        cursor: text!important;
        -webkit-touch-callout: text!important;
        -webkit-user-select: text!important;
        -khtml-user-select: text!important;
        -moz-user-select: text!important;
        -ms-user-select: text!important;
        user-select: text!important;
    }


/****** testing stuff *****/

    #temp-parameters input {
        width: 40px;
        margin-bottom: 8px;
    }

	/*
	.start-view-selection {
	    background: purple!important;
	}
	
	.end-view-selection {
	    background: green!important;
	}
	*/
	
    
/****** standard buttons ******/

    .push-button-down {
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
    }
    
    .inactive.push-button-down {
        box-shadow: none;
    }


	
/****** menu *****/
	
	
	#menu {
		width: 100%;
		height: 55px;
		position: relative;
		padding: 5px;
	}
	
		#project {
		    padding: 0;
			float: left;
		}
	
		#view-buttons {
		    position: fixed;
		    top: 0;
		    left: calc(50% - 154px);
			padding-top: 10px;
		}
		
			 #view-buttons .menu-item {
				float: left;
				padding: 8px;
				background: transparent;
				margin-right: -2px;
				border: 2px solid rgba(0,0,0,0.06);
				cursor: default;
				width: 136px;
				height: 32px;
				text-align: center;
			}
			
    			 #view-buttons .menu-item:last-child{
    			     margin-right: 0;
    			 }
			
			#view-buttons .menu-item:hover, #view-buttons .menu-item-current {
				border: 2px solid #515151;
			}
			
        #help {
            padding: 0;
            float: right;
        }
        
        #engine-mode {
            position: fixed;
            z-index: 1000;
            left: 200px;
            top: 6px;
        }
			
			
/****** framework *****/
	
	
	#pagewrap {
		width: 100%;
		height: calc(100% - 55px);
		position: relative;
		overflow: hidden;
	}
	
		#landscape {
			width: 262.5%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		
		#landscape.transition {
		    transition: left 700ms;
		}
		
			.panel {
                height: 100%;
                position: relative;
                display: inline-block;
                vertical-align: top;
                float: left;
			}
			
			 #panel-6.panel {
			     float: right;
			 }
			
			.sub-panel {
			    overflow-y: auto;
			    overflow-x: hidden;
			    position: relative;
				background: #fff;
				padding: 5px;
			}
			
			.semi-panel {
			    height: 50%;
		    }
		    
		    .panel-border {
		        border: 2px solid #eee;
		        height: 100%;
		        position: relative;
		    }
		    
		      .panel-border-with-menu {
		          height: calc(100% - 30px);
		      }
		      
		      .panel-border-without-menu {
		          margin-top: 30px;
		          height: calc(100% - 30px);
		      }
			
            underconstruction {
                display: block;
                height: 100%;
                background-image: url('../img/tile.png');
                background-repeat: repeat;
                position: relative;
            }
            
                underconstruction .bottom-text {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 16px;
                    color: #515151;
                }
            
            specimen, specimen2, masters, designspace, instances, parameters, fontexport, menubar {
                display: block;
                position: relative;
            }
            
                parameters {
                    width: 100%;
                }
            
                masters.sub-panel {
                    overflow: visible;
                }
                
                fontexport.sub-panel {
                    overflow: visible;
                }

			
	
	
/******************* specimen ********************/

    
    .specimen-info-holder {
        text-align: center;
    }

        .specimen-info {
            text-align: left;
            display: inline-block;
            padding: 8px;
            font-size: 9px;
            text-transform: uppercase;
            text-align: center;
            background: #ddd;
        }

    .specimen {
        padding: 20px 0 40px 0;
        border-bottom: 1px solid #ddd;
    }


    #specimen {
        background: #fff;
        width: 800px;
        margin: 0 auto;
        height: 100%;
    }
    
        #specimen-toolbar {
            overflow: auto;
            height: 38px;
            padding: 4px;
            z-index: 1000;
        }
        
            #specimen-toolbar input {
                color: #515151;
                padding: 4px;
            }
            
            #specimen-toolbar select {
                margin-top: 2px;
            }
        
        #specimen-content {
            height: calc(100% - 38px);
            overflow-y: auto;
            padding: 36px 40px;
            position: relative;
        }
        
           .specimen-tool {
               float: left;
               margin-right: 8px;
           }
           
           #size-nr {
               font-size: 12px;
               font-family: "Lato";
               width: 38px;
               margin-right: 3px;
               text-align: right;
               border: 0;
           }
           
           #lineheigt-nr {
               border: 0;
           }
           
           #filter {
               background: #eee;
               border: 0;
               width: 180px;
           }
        
            size-rope {
                float: left;
                margin-right: 12px;
                margin-top: 2px;
                width: 16px;
                height: 16px;
            }
         
   #font-by {
    float: right;
   }
   
   .chunk {
    display: inline-block;
    float: left;
   }
              
    #non-glyph-range {
        
    }
    
    #specimen-content ul {
        padding: 0;
        margin: 0;
        overflow: visible;
    }
    
    #specimen-content ul.glyph-range-master {
        margin-bottom: 40px;
    }
    
        #specimen-content ul li, .list-view-col ul li {
            list-style: none;
            display: inline-block;
            cursor: default;
            overflow: visible;
            float: left;
        }
        
        #specimen-content ul li.dimmed {
            opacity: 0.2;
        }
        
            #specimen-content li glyph {
                border-bottom: 4px solid transparent;
            }
            
            glyph {
                display: block;
                box-sizing: content-box;
            }
            
            .list-view-col glyph {
                height: 24px;
            }
            
                  
                /* space character is temp until there is a space character in the master */
                #specimen-content li.space-character {
                    clear: none;
                }
                
                #specimen-content li.space-character.clear-space {
                    width: 0;
                    clear: both;
                }
                
                #specimen-content li.line-break {
                    clear: both;
                    width: 0;
                }
                
                #specimen-content li.paragraph-break {
                    clear: both;
                    width: 100%;
                }
                            
                #specimen-content ul li .selected-glyph {
                    border-bottom: 4px solid #00f!important;
                }
                    
                   glyph svg {
                       display: block;
                       height: 100%;
                   } 
                
                body #specimen-content ul .selected-glyph.temp-unselected-glyph.master-edit {
                    border-bottom: 4px solid transparent!important;
                }
                
                body specimen #specimen-content ul .loading-glyph {
                    border-bottom: 4px solid #f00!important;
                }
                        
                #specimen-content ul .temp-selected-glyph.master-edit {
                    border-bottom: 4px solid #00f!important;   
                }
                    
                #specimen-content ul .glyph-linebreak {
                    display: block;
                }
                

           
    .rubberband {
        background: rgba(0, 0, 0, 0.1);
        border: 1px dashed #000;
    }
           
           
           
	
/************ design space ****************/


    #design-space-panel {
        float: left;
        width: 700px;
        margin: 0 auto;
        height: 100%;
    }

    #design-space-tabs {
        list-style: none;
        margin: 0;
        padding: 0;
        background: #fff;
        height: 30px;
    }

    #design-space-tabs li {
        float: left;
        padding: 9px 10px;
        margin-right: 4px;
        cursor: pointer;
        background: #eee;
        height: 30px;
    }

    #design-space-tabs li.selected {
        background: #515151;
        color: #eee;
    }
    
    #design-space-tabs li.add-designspace {
        background: transparent;
        color: #515151;
    }

    #design-space-tabs li div {
        float: left;
    }

    #design-space-tabs li img {
        height: 12px;
        width: 12px;
        margin-right: 4px;
    }

    .design-space {
        height: calc(100% - 32px);
        background: #fff;
        overflow: auto;
    }

    .unconfigured {
        background: #ddd;
    }
    
    .design-space-container {
        width: 100%;
        height: 100%;
        padding: 40px;
        color: #ddd;
        font-style: italic;
    }

    .choose-space-type {
        width: 50%;
        height: 100%;
        float: left;
        text-align: center;
        padding-top: 5%;
    }

    .choose-space-type-button {
        text-decoration: underline;
        cursor: pointer;
    }

    .choose-space-type-button:hover {
        color: #f85c37;
    }

    .drop-area {
        width: 100%;
        background: #fff;
        border: 2px solid #eee;
        position: relative;
    }
    
        .drag-over {
            border: 1px dashed #000;
        }
    
    
            control, explore {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #eee;
            }
            
            control svg, explore svg {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                padding-top: 16px;
            }

                
                li:first-child .slider-label-first {
                    display: none;
                }
                
                li:first-child .slider-label-last {
                    left: 50%;
                }
                
                    .slider-label {
                        border: none;
                        background: transparent;
                    }

                .slider-label-first {
                    left: 0;
                    top: 10px;
                }
                
                .slider-label-last {
                    text-align: right;
                    right: 0;
                }
                
                .slider-label-middle {
                    position: absolute;
                    text-align: center;
                    right: 0;
                    top: 10px;
                    width: 100%;
                    font-size: 16px;
                }
                
        .li-explore {
            position: absolute;
            width: 20px;
            height: 20px;
            background: #000;
            border-radius: 10px;
            cursor: pointer;
        }
        
            .explore-name {
                position: absolute;
                z-index: 10;
                color: #fff;
                left: 6px;
                top: 4px;
                text-align: center;
                font-size: 12px;
            }
            
            .explore-name-full {
                position: absolute;
                z-index: 10;
                left: 24px;
                top: 0px;
                background: #ddd;
                color: #333;
                padding: 4px 8px;
                font-size: 12px;
                opacity: 0;
                transition: all 1s ease;
            }
            
            .show-name-full .explore-name-full {
                opacity: 1;
            }	
            
            
            
            
/************ sliders ***************/
        
 
    .slider-container {
        
    }      
      
        .slider-axis {
            stroke: #fff;
            stroke-width: 2;
            fill: none;
        }
        
        .slider-axis-active {
            stroke: #515151;
            stroke-width: 2px;
            fill: none;
        }

        .slider-handle {
            position: absolute;
            top: 3px;
            fill: transparent;
            stroke: #515151;
            stroke-width: 2px;
        } 
             
        .slider-label {
            font-size: 12px;
            color: #515151;
            cursor: default;
        }
    
            .label-right-inactive {
                fill: #515151;
                font-style: italic;
            }
            
            .slider-label-output {
                fill: #f85c37;
            }
            
            .slider-input-container {
                position: absolute;
                z-index: 10;
                color: #f85c37;
                font-size: 9px;
            }
            
                .slider-input-output {
                    width: 50px;
                    border: 0;
                    color: #000;
                    background: transparent;
                    text-align: center;
                    font-size: 9px;
                }
                    
                    .slider-input-output:focus {
                        background: #fff;
                    }
    
        .triangle-button {
            position: absolute;
            bottom: 10px;
            left: 10px;
            cursor: pointer;
        }
    
        .slider-button {
            font-family: "glyphs";
            cursor: pointer;
            opacity: 0;
            -webkit-transition-delay: 0.5s;
            transition-delay: 0s;
            transition-duration: 0s;
            transition-property: opacity;
        }
        
            .slider-button.slider-remove-master {
                fill: #f00;
            }

            .not-dragging .slider-label-right-container:hover .slider-button {
                transition-delay: 0.5s;
                
                opacity: 1;
            }
            
        .left-label-select {
            position: absolute;
            left: 230px;
            z-index: 1000;
            font-size: 9px;
        }
        
        .slider-hover-square {
            opacity: 0;
            fill: white;
        }
        
        

/**************** masters ************************/


    masters {
        position: relative;
        height: 100%;
        display: block;
    }
    
        #masters-list {
            height: calc(100% - 63px);
            overflow: auto;
        }

        masters ul {
            list-style: none;     
            margin: 0;
            padding: 0;
            
        }
            
        #masters-tools {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top: 2px solid #eee;
        }
        
            .list-tool {
                float: left;
                width: 30px;
                height: 28px;
                padding: 4px;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                border-right: 2px solid #eee;
            }




/****** list *****/


    .list-name {
        margin-left: 24px;
        padding: 4px 10px;
        width: 50%;
        color: #ddd;
        cursor: pointer;
        background: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #ddd;
        border-bottom: 0px;
    }
        
        .list-name.selected {
           background: #f85c37; 
           color: #fff;
        }

    .list-ul {
        width: 100%;
        margin-bottom: 10px;
    }

        .list-li {
            width: 100%;
            height: 33px;
            border-bottom: 2px solid #eee;
            background: #fff;
            position: relative;
        }
        
        #instances-list .list-li {
            border-bottom: 0;
        }
        
            .inactive-master .list-li {
                background: #fff!important;
                transition: background 1s;
            }
        
            .list-li.selected {
                background: #eee;
            }
        
            .list-sequence-col {
                float: left;
                width: 24px;
                height: 100%;
                position: relative;
            }
            
                #instances-list .list-sequence-col {
                    border-bottom: 2px solid #eee;
                }
                    
                .master-diamond  svg {
                    margin: 10px 7px;
                }
                
                .instance-diamond  svg {
                    margin: 6px 4px;
                }
                
                .master-diamond svg polygon {
                    fill: #515151;
                }
                    
                    /* while dragging */
                    .ui-sortable-helper {
                        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
                    }
                
        .list-view-col {
            float: left;
            text-align: center;
            width: 32px;
            height: 100%;
            font-size: 17px;
            cursor: default;
            padding: 6px 2px 2px 2px;
            overflow: hidden;
        }
        
            .list-view-col ul {
                margin: 0;
                padding: 0;  
                width: 150px;  
            }
            
                .list-view-col ul li {
                    float: left;
                }
        
            #instances-list .list-view-col {
                border-bottom: 2px solid #eee;
            }
                
            .temp-view-selection-true {
                background: #515151!important;
            }
            
                .temp-view-selection-true svg {
                    fill: #eee;
                }
            
            .temp-view-selection-false {
                background: transparent!important;
            }
            
                .temp-view-selection-false svg {
                    fill: #515151!important;
                }
        
            .inactive-master .list-view-col {
                background: #eee!important;
                transition: background 0.5s;
            }
        
            .list-view-col.selected {
                background: #515151;
            }
            
                .list-view-col.selected svg {
                    fill: #eee;
                }
            
        .list-edit-col {
            float: left;
            width: calc(100% - 56px);
            height: 100%;
            padding: 10px;
            cursor: default;
            white-space: nowrap;
            overflow: hidden;        
        }
        
        
                #instances-list .list-edit-col {
                    border-bottom: 2px solid #eee;
                    border-right: 2px solid #eee;
                }
            



/**************** parameters ************************/

    
        #inspector {
        }
        
            .inspector-branche {
                margin-left: 16px;
                display: block;
            }
            
            .inspector-header {
                color: #224DB3;
            }
            
            .inspector-inactive {
                color: #aaa;
                margin-left: 17px;
            }
            
            arrow {
                cursor: pointer;
                color: #555;
            }
            
            arrow::before {
                content: "►";
            }
            
            arrow.open::before {
                content: "▼";
            }
            
    #parameters-selection{
        width: 100%;
    }
    
    #parameters-of-master {
        overflow: auto;
    }
        
        .parameters-selection-head {
            width: calc(100% - 24px);
            height: 24px;
            display: inline-block;
            border-right: 2px solid #eee;
            padding: 6px 0 0 6px;
        }
        
        .parameters-add {
            width: 24px;
            height: 24px;
            display: inline-block;
            padding-top: 6px;
            text-align: center;
            cursor: default;
        }
        
        .parameters-selection-body  {
            width: 100%;
            overflow: auto;
            background: #515151;
            padding: 10px;
        }
        
            #parameters-of-master .parameters-selection-body {
                background: #515151;
                color: #eee;
            }
            
            #parameters-of-glyph .parameters-selection-body {
                background: #eee;
                color: #515151;
            }
        
            .parameter-row {
                clear: both;
                width: 100%;
                cursor: default;
                font-family: "Roboto Condensed";
            }
            
                .parameter-row input {
                    background: transparent;
                    padding: 0 4px;
                    font-family: "Roboto Condensed";
                }
                
                    #parameters-of-master .parameter-row input {
                        color: #eee;
                    }
                    
                    #parameters-of-glyph .parameter-row input {
                        color: #515151;
                    }
                    
                    #parameters-of-master input:focus, #parameters-of-master input:hover {
                        background: #F01616;
                        color: #515151;
                    }
                    
                    #parameters-of-glyph input:focus, #parameters-of-glyph input:hover {
                        background: #F01616;
                        color: #eee;
                    }
        
                .parameter-key {
                    width: 40%;
                    display: inline-block;
                    text-align: right;
                    padding: 2px;
                    float: left;
                }
                
                .parameter-operator {
                    width: 10%;
                    display: inline-block;
                    text-align: center;
                    padding: 2px;
                    float: left;
                }
                
                .operator-value {
                    width: 50%;
                    display: inline-block;
                    padding: 2px;
                    float: left;
                    padding-right: 20px;
                }
                
                    .operator-value input {
                        background: transparent;
                        width: 40%;
                        border: 0;
                    }
                    
                    .calculated-value {
                        width: 40%;
                        text-align: right;
                        display: inline-block;
                    }


        
    #parameters-control-panel {
        display: block;
        position: fixed;
        z-index: 102;
        width: 200px;
        background: #eee;
        padding: 8px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    } 
    
        #control-panel-parameters {
            width: 65%;
            display: inline-block;
            float: left;
        }       
        
            .control-panel-parameter{
                width: calc(100% - 2px);
            }

        #control-panel-operators {
            width: 35%;
            display: inline-block;
            float: left;
        }  
            
            .control-panel-operator {
                width: 100%;
                text-align: center;
            }
            
            .control-panel-button {
                background: #515151;
                color: #eee;
                padding: 8px 8px 5px 8px;
                margin-bottom: 2px; 
                cursor: default;
            }
            
                .control-panel-button.selected, .control-panel-button.push-button-down {
                    background: #F01616;
                    
                }
            
            .control-panel-cancel {
                clear: both;
                text-align: center;
                font-weight: 700;
            }
            
        


/**************** metadata ************************/


    metadata input {
        padding: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        font-family: "Lato";
        border: 0px;
        background: #ddd;
        color: #f85c37;
    }
    
        metadata input:focus {
            background: #f85c37;
            color: #fff;
        }


/***************** instances ******************/


    instances {
        position: relative;
        height: 100%;
        display: block;
    }
    
        #instances-extra-wide {
            width: calc(100% + 104px);
            position: relative;
            padding: 2px;
        }
    
        #instances-list {
            height: calc(100% - 63px);
            overflow: auto;
        }

        instances ul {
            padding: 0;
            margin: 0;
        }
    
            instances ul li {
                list-style: none;
            }
            
        #instance-tools-container {
            width: 100%;
            height: 34px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
            
        #instances-tools {
            height: 100%;
            display: inline-block;
            float: left;
            border-top: 2px solid #eee;
        }
            
            .inactive {
                opacity: 0.5;
            }
            
        #export-button {
            position: absolute;
            right: 0;
            bottom: 0px;
            height: 100%;
            text-align: center;
            background: #ddd;
            padding: 12px;
            cursor: default;
        }
         
     
     
     
            
/**************** export fonts ************************/

    #fake-fontexport-panel {
        position: absolute;
        right: 0;
        top: 0;
        border: 2px solid #eee;
        height: 100%;
    }
    
    #fake-instances-panel {
        position: absolute;
        left: 0;
        top: 0;
        border: 2px solid #eee;
        height: 100%;
    }
    
    
    #instances-list .list-edit-col {
        width: calc(100% - 156px);
    }

    fontexport.sub-panel {
        background: transparent;
        height: 30px;
    } 
    
    instances.sub-panel {
        overflow: visible;
    }
    
        instances .panel-border {
            overflow: visible;
        }
       
    .export-col {
        float: left;
        height: 100%;
    }
    
        .instance-spacer {
            width: 10px;
            height: 100%;
            display: inline-block;
            float: left;
            background: white;
        }
        
        .instance-checkmark {
            font-family: 'icons';
            height: 100%;
            width: calc(100% - 10px);
            border-bottom: 2px solid #eee;
            border-left: 2px solid #eee;
            cursor: default;
            text-align: center;
            font-size: 32px;
            padding-top: 12px;
            line-height: 20px;
            display: inline-block;
            float: left;
        }
        

            
            
            
/**************** local menu ************************/

    
    localmenu {
        position: relative;
        display: block;
        min-height: 30px;
    }
    
        .localmenu-inside {
            min-height: 0;
        }
    
    .lm-head {
        cursor: default;
        padding: 8px;
    }
    
        .localmenu-inside .lm-head {
            padding: 0 8px 0 0;
        }
    
        .lm-head:after {
            content: "▼";
            font-size: 10px;
            margin-left: 2px;
        }
        
        .lm-head:hover {
            background: #eee;
        }
        
            designspace .lm-head:hover {
                background: transparent;
            }
        
    .lm-body {
        position: absolute;
        z-index: 1000;
        top: 28px;
        background: #fff;
        width: 200px;
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    
    .left .lm-body {
        left: 2px;
    }
    
    .right .lm-body {
        right: 2px;
    }
    
        .lm-content {
            padding: 20px;
        }
        
            .lm-content a {
                color: #f85c37;
                text-decoration: none;
            }
            
                .lm-content a:hover {
                    text-decoration: underline;
                }
    
        .lm-button {
            padding: 6px 10px 4px 10px;
            color: #000;
            display: block;
            width: 100%;
            cursor: default;
        }
        
        .lm-button a {
            display: block;
            width: 100%;
            color: #000;
            text-decoration: none;
        }
        
            .lm-button:hover {
                background: #ddd;
            }
            
            .lm-button.lm-button-hover {
                background: #ddd;
            }
            
       .lm-divider {
           width: 100%;
           margin: 4px 0;
           background: #ddd;
           height: 1px;
        }
        
        
        
        
/**************** alert ************************/

    #dialog {
        display: none;
        position: fixed;
        z-index: 10001;
        top: 60px;
        padding: 40px;
        background: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,0.6);
        width: 400px;
        min-height: 100px;
        left: calc(50% - 200px);
    }
    
        #dialog-close {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 20px;
            height: 20px;
            font-size: 20px;
            color: #515151;
            cursor: pointer;
            text-align: center;
        }
        
            #dialog-close:hover {
                color: #000;
            }
    
        #dialog-loading {
            text-align: center;
            display: none;
            padding-bottom: 40px;
        }
        
        #dialog-content {
            font-size: 14px;
            line-height: 18px;
        }
        
            #dialog-content a {
                color: #F01616;
                text-decoration: none;
            }
            
                #dialog-content a:hover {
                    color: #F01616;
                    text-decoration: underline;
                }

        
        #dialog-buttons {
            margin-top: 30px;
            text-align: center;
            display: none;
        }
        
        #dialog-buttons button {
            font-size: 12px;
            padding: 10px;
        }
        
    #rename-project {
        width: 260px;
        left: calc(50% - 130px);
    }
    
        #rename-project input {
            width: 100%;
        }


    #layover {
        display: block;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.7);
    }


    
    
    
/**************** dividers ************************/


    divider {
        position: absolute;
        top: 0;
        z-index: 100;
        height: 100%;
        width: 10px;
        background: transparent;
        cursor: ew-resize;
        padding: 30px 0;
    }
    
    
    divider:after {
        position: absolute;
        left: -10px;
        top: 0;
        content: " ";
        width: 10px;
        height: 100%;
        background: transparent;
    }

    dividerHor {
        position: absolute;
        top: 0;
        z-index: 100;
        height: 10px;
        width: 100%;
        background: transparent;
        cursor: ns-resize;
        padding: 0 30px;
    }
    
    dividerHor:after {
        position: absolute;
        top: -10px;
        left: 0;
        content: " ";
        height: 10px;
        width: 100%;
        background: transparent;
    }
    
    
    
    
/**************** splash screen ************************/


     splashscreen {
        display: block;
        position: fixed;
        border-radius: 6px;
        z-index: 1001;
        left: calc(50% - 400px);
        top: 50px;
        width: 800px;
        background: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,0.8);
        font-size: 14px;
        padding: 40px 40px 100px 40px;
    }

        #splash-left {
            
            width: 30%;
            float: left;
        }
        
            #splash-logo {
                width: 130px;
                display: block;
                height: auto;
            }
            
        #splash-right {
            width: 70%;
            float: left;
        }
        
        #splash-right h1 {
            font-size: 32px;
            margin-bottom: 0px;
        }
        
        #splash-right h2 {
            font-weight: 100;
            font-size: 22px;
            margin-top: 0px;
        }
        
    
    #cursor-helper {
        font-size: 17px;
        padding-top: 2px;
        color: #fff;
        text-align: center;
        width: 20px;
        height: 20px;
        position: fixed;
        border-radius: 10px;
        z-index: 1000;
    }
    
    
    
    
@media (max-width: 1100px) {
    #filter {
        width: 130px;
    }
}

@media (max-width: 1000px) {
    #filter {
        width: 100px;
    }
}

@media (max-width: 960px) {
    #filter {
        width: 60px;
    }
}
    

