$def with (page)

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
<script type="text/javascript" src="/static/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="/static/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

</head>
<body>

<div class="menu">

$if is_loggedin():
	<p><span class="button"><a href="$working_url('static/font.otf')">Download OTF</a></span></p>


	<p><span class="button"><a href="/view/1">Editor&nbsp;&nbsp;</a></span></p>
	<!-- <p><span class="button"><a href="/">Editor&nbsp;&nbsp;</a></span></p> -->
	<p><span class="button"><a href="/viewfont/">Specimen</a></span></p>
	<p><span class="button"><a href="/font1/0">Settings</a></span></p>
	<p><span class="button"><a href="/project/create/">Upload UFO Project</a></span></p>
	<!-- 
	<span class="button"><a href="/font2/1">Global</a></span><br><br>
	<span class="button"><a href="/font3/1">Local A</a></span><br><br>
	<span class="button"><a href="/font4/1">Local B</a></span><br><br>
	 -->
</div>

$:page

</body>
</html>
