$def with ()
<head>
</head>

<h1>copy Font </h1>
<p>
<a href="/cproject/0">copy Font Parameters A to Font Parameters B</a> <br>
<a href="/cproject/1">copy Font Parameters B to Font Parameters A </a> <br>

<p>

copy project to a new project<br> 

approach<br>
first go to the settings<br>
choice a master id (idmaster) which you want to copy<br>
the procedure applied here will copy all fonts<br>
fonts/'idmaster' to the new directory fonts/'idmasternew'><br>
 
check the unix system : directory fonts/'idmasternew' should not exist (clean) <br>

the idmaster new will be created as the max idmaster + 1 <br>
see the list in settings<br>

<a href="/cproject/1001">click here to proceed this procedure </a><br>
<a href="/fonts/">Settings</a> 
</p>
