$def with ()

$var title: Editor
<link rel="stylesheet" type="text/css" href="/static/css/slider.css"/>
<style>
    .dropzone {
        padding: 32px;
        font-size: 22px;
        color: ccc;
        border: dashed 2px #ccc;
        text-align: center;
    }

    #btn-add-axes {
        margin-top: 32px;
    }

    .editor-axes {
        margin-bottom: 32px;
    }

    #glyph-switcher span {
        margin-right: 16px;
    }

    input.span2 {
        width: 500px;
    }
</style>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#listglyphmodal">
  Show Glyphs
</button>

<div id="interpolations"></div>

<div class="editor-container"></div>

<!-- Modal -->
<div class="modal fade" id="listglyphmodal" tabindex="-1" role="dialog" aria-labelledby="glyphmodallabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="glyphmodallabel">Available glyphs</h4>
      </div>
      <div class="modal-body">
        <div id="glyph-switcher">
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<button id="btn-add-axes" class="btn btn-xs btn-success">Add axes</button>

<div class="row editor-axes fade">

    <div class="col-md-4 axis filedrop" axis-position="left">
        <div class="dropzone">
            Drop ZIP with UFO here
        </div>
    </div>
    
    <div class="col-md-4" axis-position="middle">

    </div>
    
    <div class="col-md-4 axis filedrop" axis-position="right">
        <div class="dropzone">
            Drop ZIP with UFO here
        </div>
    </div>

</div>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.9/paper.js"></script>
<script type="text/javascript" src="/static/js/3rdparty/bootstrap-slider.js"></script>
<script type="text/javascript" src="/static/js/3rdparty/jquery.filedrop.js"></script>
<script type="text/javascript" src="/static/js/3rdparty/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript" src="/static/js/canvas.js"></script>
<script type="text/javascript" src="/static/js/localparamform.js"></script>
<script type="text/javascript" src="/static/js/editor.js?v2"></script>
<script type="text/javascript">
    $$(function(){
        var editor = new Editor("$websession.get('mfparser', 'pen')");
        $$('#btn-add-axes').on('click', function(){
            var axes = editor.addAxes();
        });

        $$(window).hashchange(function(){
            $$('.editor-container').empty();
            $$('#glyph-switcher').empty();
            editor.init();

            var params = dict_from_locationhash();
            if (!params.project) {
                return;
            }
            $$.post('/editor/project/' + params.project)
            .done(function(response){
                var data = $$.parseJSON(response);

                var glyph = params.glyph;
                if (!glyph) {
                    glyph = ''
                }
                for (var k = 0; k < data.axes.length; k++) {
                    var axes = editor.addAxes();
                    axes.find('.dropzone').hide();

                    $$.post('/editor/get-master/', {
                        project_id: data.project_id,
                        master_id: data.axes[k][0],
                        label: axes.find('.axis[axis-position=left]').attr('axis-label'),
                        glyph: glyph
                    }).done(function(response){
                        editor.initializeWorkspace($$.parseJSON(response));
                    });

                    $$.post('/editor/get-master/', {
                        project_id: data.project_id,
                        master_id: data.axes[k][1],
                        label: axes.find('.axis[axis-position=right]').attr('axis-label'),
                        glyph: glyph
                    }).done(function(response){
                        editor.initializeWorkspace($$.parseJSON(response));
                    });

                }
            }).fail(function(){
                alert('something wrong')
            });
        });

        if (location.hash.replace('#', '') != '') {
            $$(window).hashchange();
        }
    });
</script>


<div class="fade" id="templateform">
    <form action="" method="post" class="extended">
      $:webctx.pointparam_extended_form.render()
    </form>
</div>

<div class="fade" id="settings">
    <form action="" method="post" class="extended localparamform">
      $:webctx.settings_form.render()
    </form>
</div>