$def with (localparam, localparams, form)
<link rel="stylesheet" type="text/css" href="/static/mfg.css"/>
<style>
p,h2,.menu,table,th,td,#ruler,.paramset,a, input {
    font:normal 15px/19px Menlo,'Inconsolata',mono;
    }
h2 {
    color:red;
}
a:visited {
    color: green;
    text-decoration:underline;
}
a:link {
    color: green;
    text-decoration:underline;
}
table,th,td {
    width:200px;
    text-align:left;
    }
#mmA table,#mmA th,#mmA td, #mmA A {
    width:200px;
    text-align:left;
    color: black;
    }
#mmA input, #mmB input{
    border:none;
    margin: 0 0 3px 0;
}
#mmA {
    display:inline-block;
    z-index:10;
    background: rgb(200,245,200);
    height: 400px;
    width: 180px;
    margin: 0 20 0 0;
}
#saveA{
    margin: 10px 0 0 0;
    padding: 5px;
}
#mmB {
    display:inline-block;
    z-index:10;
    height: 400px;
    width: 180px;
    margin: 0 40 20 0;
}
#saveB{
    display: none;
}
.paramset {
    display:inline-block;
    margin: 0 75 20 0;
    color: #666;
    line-height: 23.35px;
}
.paramname {
    color:#aaa;
}
.value {
    float: right;
    margin: 0 0 0 15;
}
</style>
<div class="title">Local Parameters</div>

<p>
    <span><a href="/settings/globals/">Global Parameters Edit</a></span>
    <span><a href="/settings/locals/">Local Parameters</a></span>
</p>

<div class="paramset row">
    <div class="col-md-3">
        <h3>Local param $localparam.idlocal</h3>
        <form action="" method="post">
            $:form.render()
        </form>
    </div>

    <div class="col-md-9">
        <div class="row">
        $for param in localparams:
            $if param.idlocal != localparam.idlocal:
                <div class="col-md-4">
                    <h3>Local param $param.idlocal</h3>
                    <span class="paramname">px</span> <span class="value">$param.px</span><br>
                    <span class="paramname">width</span> <span class="value">$param.width</span><br>
                    <span class="paramname">space</span> <span class="value">$param.space</span><br>
                    <span class="paramname">xheight</span> <span class="value">$param.xheight</span><br>
                    <span class="paramname">capital</span> <span class="value">$param.capital</span><br>
                    <span class="paramname">boxheight</span> <span class="value">$param.boxheight</span><br>
                    <span class="paramname">ascender</span> <span class="value">$param.ascender</span><br>
                    <span class="paramname">descender</span> <span class="value">$param.descender</span><br>
                    <span class="paramname">inktrap</span> <span class="value">$param.inktrap</span><br>
                    <span class="paramname">stemcut</span> <span class="value">$param.stemcut</span><br>
                    <span class="paramname">skeleton</span> <span class="value">$param.skeleton</span><br>
                    <span class="paramname">superness</span> <span class="value">$param.superness</span><br>
                    <span class="paramname">over</span> <span class="value">$param.over</span><br>
                </div>
        </div>
    </div>
</div>
