$def with (projects, master=None)
<title>Settings</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/mfg.css"/>
<style>
h3_b {
  position:absolute;
  z-index:-5;
  bottom:-350px;
  left:9px;
  font-family:"metapolator","backup";
  font-size:1200px;
  color:grey;
}
h3_a {
  position:absolute;
  z-index:-5;
  bottom:-359px;
  right:9px;
  font-family:"metapolator","backup";
  font-size:1200px;
  color:grey;
}
h3_c {
  position:absolute;
  z-index:-5;
  bottom:-350px;
  left:619px;
  font-family:"metapolator","backup";
  font-size:1200px;
  color:grey;
}
p,h2,.menu,table,th,td,#ruler {
  font:normal 15px/19px Menlo,'Inconsolata',mono;
}
h2 {
  color:red;
}
#center {
  background:red;
  bottom:0;
  height:0px;
  left:-300;
  margin:auto;
  position:absolute;
  top:200;
  right:0;
  width:0px;
  -webkit-transform:translate(0%,0%) scale(0.80,0.80);
}
a:visited {
    color:inherit;
  text-decoration:none;
}
a:link {
    color:inherit;
  text-decoration:none;
}
table,th,td {
  width:200px;
  text-align:left;
  color: red;
}
.wide{
line-height:160%;
}
.wide a:link,a:visited{
padding: 5px;
}
.wide a:hover{
font-weight:bold;
color:red;
}
</style>

<p>

$for project in projects:
  <div>
    $if not project_exists(project):
      <span>X</span>
    <a href="/fonts/$project.id" style="color:green;text-decoration:underline;">Load Master $project.project.projectname $:"{0:03d}".format(project.version)</a><a href="/regenerate/$project.id" class="btn btn-small">Regenerate LOG</a> <a href="/delete/$project.id" class="btn btn-small btn-danger">DELETE</a><br><br>
  </div>
</p>


<div>
<p>
<a href="/settings/globals/" style="color:green;text-decoration:underline;">Edit Global and Local Parameters</a>
</p>

<!-- <div>
<h2> import </h2>
<p>
<a onclick="this.style.fontWeight= 'bold'" href="/fonts/i0">import single glyph only x and y coordinates </a>
<br>
<a onclick="this.style.fontWeight= 'bold'" href="/fonts/i1">import single glyph coordinates and parameters</a>
<br>
<a onclick="this.style.fontWeight= 'bold'" href="/fonts/i2">import all glyphs only x and y coordinates </a>
<br>
<a onclick="this.style.fontWeight= 'bold'" href="/fonts/i3">import all glyphs coordinates and parameters </a>
<h2> export </h2>
<p>
<a onclick="this.style.fontWeight= 'bold'" href="/fonts/e4">export single glyph </a>
<br>
<a onclick="this.style.fontWeight= 'bold'" href="/fonts/e5">export all glyphs  </a>
<br> -->
</p>
$if master:
  <h2>glyphs</h2>

  <p class="wide">
    $for glyph in master.get_glyphs():
      $if glyph.unicode == '0020':
        <a href="/view/$master.project.projectname/$:'{0:03d}'.format(master.version)/$:'{0:03d}'.format(master.version)/$glyph.name/">space</a>
      $else:
        <a href="/view/$master.project.projectname/$:'{0:03d}'.format(master.version)/$:'{0:03d}'.format(master.version)/$glyph.name/">&#x$glyph.unicode;</a>
  </p>

<!-- <p> 
</p>
<br>
<div>
<h2> copy-project </h2>
<p>
<a onclick="this.style.fontWeight= 'bold'" href="/fonts/20000">copy project </a>
<br>
</p>
</div> -->