$def with (form,gmlist,cfont,glo,formlA,formlB)
<title>A Local Parameters</title>
<link rel="stylesheet" type="text/css" href="/static/mfg.css"/>
<style>
p,h2,.menu,table,th,td,#ruler,.paramset,a, input {
	font:normal 15px/19px Menlo,'Inconsolata',mono;
	}
h2 {
	color:red;
}
a:visited {
	color: green;
	text-decoration:underline;
}
a:link {
	color: green;
	text-decoration:underline;
}
table,th,td {
	width:200px;
	text-align:left;
	}
#mmA table,#mmA th,#mmA td, #mmA A {
	width:200px;
	text-align:left;
	color: black;
	}
#mmA input, #mmB input{
    border:none;
	margin: 0 0 3px 0;
}
#mmA {
    display:inline-block;
    z-index:10;
    background: rgb(200,245,200);
    height: 400px;
    width: 180px;
    margin: 0 20 0 0;
}
#saveA{
	margin: 10px 0 0 0;
	padding: 5px;
}
#mmB {
    display:inline-block;
    z-index:10;
    height: 400px;
    width: 180px;
    margin: 0 40 20 0;
}
#saveB{
	display: none;
}
.paramset {
    display:inline-block;
    margin: 0 75 20 0;
    color: #666;
    line-height: 23.35px;
}
.paramname {
	color:#aaa;
}
.value {
	float: right;
    margin: 0 0 0 15;
}
</style>

<div class="title">A Local Parameters | Project $cfont.idmaster</div>

<p><span><a href="/settings/globals/$cfont.idglobal">Global Parameters Edit</a></span></p>
<br>

<div style="vertical-align:top;display:inline-block;">
	<div id="mmA" >
		<span><a href="/settings/locals-a/$cfont.idlocalA">A Params Edit</a></span><br><br>
		<form action="" method="POST" name="formlA">
		$:formlA.render()
		</form>
	</div>
	<div id="mmB">
		<span><a href="/settings/locals-b/$cfont.idlocalB">B Params Edit</a></span><br><br>
	<!-- 
	<form action="" method="POST" name="formlB">
	 -->
		<span>
		$:formlB.render()
		</span>
	<!-- </form> -->
	</div>
</div>

<div class="paramset">
$for gm in glo:
	<a href="/settings/locals-a/$gm.idlocal">
	Local Param $gm.idlocal</a><br><br>
	<span class="paramname">px</span> <span class="value">$gm.px</span><br>
	<span class="paramname">width</span> <span class="value">$gm.width</span><br>
	<span class="paramname">space</span> <span class="value">$gm.space</span><br>
	<span class="paramname">xheight</span> <span class="value">$gm.xheight</span><br>
	<span class="paramname">capital</span> <span class="value">$gm.capital</span><br>
	<span class="paramname">boxheight</span> <span class="value">$gm.boxheight</span><br>
	<span class="paramname">ascender</span> <span class="value">$gm.ascender</span><br>
	<span class="paramname">descender</span> <span class="value">$gm.descender</span><br>
	<span class="paramname">inktrap</span> <span class="value">$gm.inktrap</span><br>
	<span class="paramname">stemcut</span> <span class="value">$gm.stemcut</span><br>
	<span class="paramname">skeleton</span> <span class="value">$gm.skeleton</span><br>
	<span class="paramname">superness</span> <span class="value">$gm.superness</span><br>
	<span class="paramname">over</span> <span class="value">$gm.over</span><br>
	</div><div class="paramset">
</div>
