$def with (posts,master,fontsource,webglyph)
<link rel="stylesheet" type="text/css" href="/static/mfg.css"/>
<style>
h3_b {
	position:absolute;
	z-index:-5;
	bottom:-350px;
	left:9px;
	font-family:"metapolator","backup";
	font-size:1200px;
	color:grey;
}
h3_a {
	position:absolute;
	z-index:-5;
	bottom:-359px;
	right:9px;
	font-family:"metapolator","backup";
	font-size:1200px;
	color:grey;
}
h3_c {
	position:absolute;
	z-index:-5;
	bottom:-350px;
	left:619px;
	font-family:"metapolator","backup";
	font-size:1200px;
	color:grey;
}
p,h2,menu,table,th,td,#ruler {
	font:normal 15px/19px Menlo,'Inconsolata',mono;
}
h2 {
	color:red;
}
#center {
	background:red;
	bottom:0;
	height:0px;
	left:-300;
	margin:auto;
	position:absolute;
	top:200;
	right:0;
	width:0px;
	-webkit-transform:translate(0%,0%) scale(0.80,0.80);
}
a:visited {
		color:inherit;
	text-decoration:none;
}
a:link {
		color:inherit;
	text-decoration:none;
}
table,th,td {
	width:200px;
	text-align:left;
	color: red;
}
</style>

<h2>Glyph View</h2>

<p> Selected Fonts :<br>
<div class="title">
$for fonts in fontsource:
  $fonts <br>
</p> 
</div>

$for mast in master:
  <p> 
   id $mast.idmaster $mast.FontName  $mast.FontNameA $mast.FontNameB $mast.vdate<br>
   this is index.html <br>
  </p>

<br>
<p style="color:blue;">Click on point to start Editor or <br>
choose Font in Settings  <br>
 <br>
Optimized for Chrome
</p>

<div id="center" >

<div>
        <h3_b>
$webglyph
        </h3_b>
</div>

$for posti in posts:
        <div  id="$posti.id" style="$posti.position">
        <p><a href="/view/$posti.id" >&#9673;$posti.PointNr</a></p> 
        </div>
</div>