$def with (is_loggedin=False, error=False)
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
$if is_loggedin:
    <p>Already authorized</p>
$else:
    <form action="" method="post">
        <label for="username">Username</label><input type="text" name="username"><br />
        <label for="password">Password</label><input type="password" name="password" /><br />
        <input type="submit" value="Login">
    </form>

$if error:
    <div style="font-weight: 800; color: red">Invalid username or password</div>

<div>or <a href="/register">Register</a></div>
</body>
</html>
