$def with (posts,master,fontsource,webglyph)

$if webglyph == '' :
	<meta http-equiv="refresh" content="0;url=/font1/0">
$if webglyph != '' :
	<meta http-equiv="refresh" content="0;url=/view/1">

<title>Glyph Edit</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

<!-- 
<p>
Selected Glyph :</p>
<div class="title">
     $webglyph <br>
</div>
 -->

<p> 
<span class="button"><a href="/metap/0">Edit Font A</a></span>
<span class="button"><a href="/metap/1">Edit Font B</a></span>
</p> 

<br>
<p style="color:blue;">Click on point to start Editor or <br>
choose Font in Settings  <br>
 <br>
Optimized for Chrome
</p>

<div id="center" >

<div>
        <middle>
$webglyph
        </middle>
</div>

$for posti in posts:
        <div  id="$posti.id" style="$posti.position">
        <p><a href="/view/$posti.id" >&#9673;$posti.PointNr</a></p> 
        </div>
</div>
