$def with ()

$var title: opentype
<link rel="stylesheet" type="text/css" href="/static/css/slider.css"/>

<div class="row">

    <div class="col-xs-3">
        <input id="slider" type="text" value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.2" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" data-slider-handle="round" style="">
    </div>

    <div id="glyphs" class="col-xs-9">

    </div>

</div>

<script type="text/javascript" src="/static/js/3rdparty/bootstrap-slider.js"></script>
<script type="text/javascript" src="/static/js/3rdparty/opentype.js"></script>
<script type="text/javascript" src="/static/demo/opentype.js"></script>

<script>

function formatter(value) {
                return value.toFixed(2);
            }

$$(document).ready(function(){

    opentype.load('/static/demo/Inconsolata-Regular.ttf', function (err, font) {
        if (err) {
             alert('Font could not be loaded: ' + err);
        } else {
            instances.push(getFontInstance(font));

            opentype.load('/static/demo/Inconsolata-Bold.ttf', function (err, font) {
                if (err) {
                     alert('Font could not be loaded: ' + err);
                } else {
                    instances.push(getFontInstance(font));
                    funStart();
                }
            });
        }

        $$('#slider').slider({formatter: formatter}).on('slide', function(e){
            instances[0].interpolationValue = e.value;
            funStart();
        });
    });

});
</script>
