$def with ()

$var title: opentype
<style>
    .wrapper {
        float: left;
        margin-right: 48px;
    }
</style>

<div id="glyphs">

</div>

<script src="/static/js/3rdparty/opentype.js"></script>
<script src="/static/demo/opentype.js"></script>
<script>

$$(document).ready(function(){

    opentype.load('/static/demo/Inconsolata-Regular.ttf', function (err, font) {
        if (err) {
             alert('Font could not be loaded: ' + err);
        } else {
            instances.push(getFontInstance(font));

            opentype.load('/static/demo/Inconsolata-Bold.ttf', function (err, font) {
                if (err) {
                     alert('Font could not be loaded: ' + err);
                } else {
                    instances.push(getFontInstance(font));
                    funStart();
                }
            });
        }
    });

})
</script>
