<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/slider.css"/>

    <style>
        .slider {
            margin-bottom: 48px;
        }

        .container-fluid {
            margin-top: 200px;
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 offset1 slider">
                <div>
                    <input id="sliderAB" type="text" value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.2" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" data-slider-handle="round" style="">
                </div>
                <div>
                    <input id="sliderCD" type="text" value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.2" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" data-slider-handle="round" style="">
                </div>
                <div>
                    <input id="sliderFontsize" type="text" value="" data-slider-min="72" data-slider-max="250" data-slider-step="4" data-slider-value="124" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show" data-slider-handle="round" style="">
                </div>
            </div>

            <div id="glyphs" class="col-xs-8">

            </div>

        </div>
    </div>
</body>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/static/js/3rdparty/bootstrap-slider.js"></script>
<script type="text/javascript" src="/static/js/3rdparty/opentype.js"></script>
<script type="text/javascript" src="/static/demo/opentype.js"></script>

<script>


function formatter(value) {
    return value.toFixed(2);
}

var fontsLoaded = false;

$$(document).ready(function(){

    var fonts = [
        '/static/demo/fonts/Roboto-Regular.otf',
        '/static/demo/fonts/Roboto-Regular-space.otf',
        '/static/demo/fonts/Roboto-Regular-x-low.otf',
        '/static/demo/fonts/Roboto-Regular-x-high.otf'
    ];

    var instances = Instances(fonts.length);

    for (var i = 0; i < fonts.length; i++) {
        opentype.load(fonts[i], onload.bind(instances, i));
    }

    function onload(index, err, font) {
        if (err) {
            instances.failed = true
        } else {
            instances.add(index, font);
        }
    }

    function startpoint() {
        if (instances.failed) {return;}
        if (!instances.loaded()){setTimeout(startpoint, 0); return;};
        instances.interpolate();
    }

    setTimeout(startpoint, 0);

    $$('#sliderAB').slider({formatter: formatter}).on('slide', function(e){
        instances.interpolationValueAB = e.value;
        instances.interpolate();
    });

    $$('#sliderCD').slider({formatter: formatter}).on('slide', function(e){
        instances.interpolationValueCD = e.value;
        instances.interpolate();
    });

    $$('#sliderFontsize').slider({formatter: formatter}).on('slide', function(e){
        $$(instances).each(function(idx, instance){
            instance.fontSize = e.value
        });
        instances.interpolate();
    });

});

</script>
</html>
