$def with (projects)
$var title: $:"Projects"


<div class="row">
    
    <div class="col-md-2">
      $if not websession.get('mfparser', '') or websession.mfparser == 'pen':
        <a href="javascript:;" class="btn btn-success">counter points</a>
      $else:
        <form action="/mfparser-switch/pen/" method="post">
          <button class="btn btn-default">counter points</button>
        </form>
    </div>

    <div class="col-md-2">
    $if websession.get('mfparser', '') == 'controlpoints':
      <a href="javascript:;" class="btn btn-success">control points</a>
    $else:
      <form action="/mfparser-switch/controlpoints/" method="post">
        <button class="btn btn-default">control points</button>
      </form>
    </div>

</div>

<p>

$for project in projects:
  <div>
    <a href="/workspace/#project/$project.id" style="color:green;text-decoration:underline;">$project.projectname</a><a href="/specimen/$project.id/" class="btn btn-small">Specimen</a><br><br>
  </div>
</p>