$def with (master, glyphid, localparameters, localA, localB)
<title>
Project $master.FontName
</title>
<style>
    .row h4 {
        text-align: center;
    }
</style>

<script>
    jQuery(function(){
         jQuery(".parameter-select").change(function(){
            jQuery(this).parents('form').submit();
         });
    });
</script>
<link rel="stylesheet" type="text/css" href="/static/mfg.css"/>

<div class="row">
    <div class="col-md-4">
        <h4>Font A</h4>
        <h4>Local</h4>

        <form action="" method="post">
            <input type="submit" class="btn btn-large" value="Create Local Parameters">
            <input type="hidden" name="create" value="a">
        </form>

        <form action="" method="post">
            <input type="hidden" name="update" value="a">
            <select class="parameter-select" name="idlocal" id="">
                <option value="">Choose Parameter Set</option>
                $for local in localparameters:
                    <option name="idlocal" value="$local.idlocal"
                        $if master.idlocalA == local.idlocal:
                            selected="selected"
                        >Local parameters $local.idlocal</option>
            </select>
            <input type="submit" >
        </form>

        $if localA:
            <pre>
                px: $localA.px
                width: $localA.width
                space: $localA.space
                xheight: $localA.xheight
                capital: $localA.capital
                boxheight: $localA.boxheight
                ascender: $localA.ascender
                descender: $localA.descender
                inktrap: $localA.inktrap
                stemcut: $localA.stemcut
                skeleton: $localA.skeleton
                superness: $localA.superness
                over: $localA.over
            </pre>
        <a href="/view/$master.FontName/$glyphid/">Back to editor</a>
    </div>
    <div class="col-md-4">
        <h4>Global</h4>
    </div>
    <div class="col-md-4">
        <h4>Font B</h4>
        <h4>Local</h4>

        <form action="" method="post">
            <input type="submit" class="btn btn-large" value="Create Local Parameters">
            <input type="hidden" name="create" value="b">
        </form>

        <form action="" method="post">
            <input type="hidden" name="update" value="b">
            <select class="parameter-select" name="idlocal" id="">
                <option value="">Choose Parameter Set</option>
                $for local in localparameters:
                    <option value="$local.idlocal"
                        $if master.idlocalB == local.idlocal:
                            selected="selected"
                        >Local parameters $local.idlocal</option>
            </select>
            <input type="submit" >
        </form>

        $if localB:
            <pre>
                px: $localB.px
                width: $localB.width
                space: $localB.space
                xheight: $localB.xheight
                capital: $localB.capital
                boxheight: $localB.boxheight
                ascender: $localB.ascender
                descender: $localB.descender
                inktrap: $localB.inktrap
                stemcut: $localB.stemcut
                skeleton: $localB.skeleton
                superness: $localB.superness
                over: $localB.over
            </pre>

        <a href="/view/$master.FontName/$glyphid/">Back to editor</a>
    </div>
</div>