$def with (master, masterfontb, glyphid, localparameters, globalparams, globalparamform, localparamform_a, localparamform_b)
<title>
Project $master.project.projectname
</title>
<style>
    .row h4 {
        text-align: center;
    }
</style>

<script>
    jQuery(function(){
        jQuery(".localsettings select#idlocal").change(function(){
            var form = jQuery(this).parents('form');
            var idlocal_changed = jQuery(this).val();
            var ab_source = form.find('input#ab_source').val();
            jQuery.post('', {idlocal_changed: idlocal_changed, ab_source: ab_source},
                function(data){
                    var data = jQuery.parseJSON(data);
                    form.find("input").each(function(){
                        jQuery(this).val(data[jQuery(this).attr('name')]);
                    });
                }
            );
        });

        jQuery(".globalsettings select#idglobal").change(function(){
            var form = jQuery(this).parents('form');
            var idglobal_changed = jQuery(this).val();
            jQuery.post('', {idglobal_changed: idglobal_changed},
                function(data){
                    var data = jQuery.parseJSON(data);
                    form.find("input").each(function(){
                        jQuery(this).val(data[jQuery(this).attr('name')]);
                    });
                }
            );
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="/static/mfg.css"/>

<div class="row">
    <div class="col-md-4">
        <h4>Font A</h4>
        <h4>Local</h4>

        <form action="/view/$master.project.projectname/$:'{0:03d}'.format(master.version),$:'{0:03d}'.format(masterfontb.version)/$glyphid/settings/rest/create/" method="post">
            <input type="submit" class="btn btn-large" value="Create Local Parameters">
            <input type="hidden" name="create" value="a">
        </form>
        
        <form action="" method="post" class="localsettings">
        $:localparamform_a.render()
        </form>
        <a href="/view/$master.project.projectname/$:'{0:03d}'.format(master.version),$:'{0:03d}'.format(masterfontb.version)/$glyphid/">Back to editor</a>
    </div>
    <div class="col-md-4">
        <h4>Global</h4>

        <form action="/view/$master.project.projectname/$:'{0:03d}'.format(master.version),$:'{0:03d}'.format(masterfontb.version)/$glyphid/settings/rest/create/" method="post">
            <input type="submit" class="btn btn-large" value="Create Global Parameters">
            <input type="hidden" name="create" value="g">
        </form>

        <form action="" method="post" class="globalsettings">
        $:globalparamform.render()
        </form>

        <a href="/view/$master.project.projectname/$:'{0:03d}'.format(master.version),$:'{0:03d}'.format(masterfontb.version)/$glyphid/">Back to editor</a>
    </div>
    <div class="col-md-4">
        <h4>Font B</h4>
        <h4>Local</h4>

        <form action="/view/$master.project.projectname/$:'{0:03d}'.format(master.version),$:'{0:03d}'.format(masterfontb.version)/$glyphid/settings/rest/create/" method="post">
            <input type="submit" class="btn btn-large" value="Create Local Parameters">
            <input type="hidden" name="create" value="b">
        </form>

        <form action="" method="post" class="localsettings">
        $:localparamform_b.render()
        </form>

        <a href="/view/$master.project.projectname/$:'{0:03d}'.format(master.version),$:'{0:03d}'.format(masterfontb.version)/$glyphid/">Back to editor</a>
    </div>
</div>