$def with (master, localparameters, localA, localB)
<title>
Project $master.FontName
</title>
<style>
    .row h4 {
        text-align: center;
    }
</style>

<script>
    jQuery(function(){
         jQuery(".parameter-select").change(function(){
            jQuery(this).parents('form').submit();
         });
    });
</script>
<link rel="stylesheet" type="text/css" href="/static/mfg.css"/>

<div class="row">
    <div class="col-md-4">
        <h4>Font A</h4>
        <h4>Local</h4>

        <form action="" method="post">
            <input type="submit" class="btn btn-large" value="Create Local Parameters">
            <input type="hidden" name="create" value="a">
        </form>

        <form action="" method="post">
            <input type="hidden" name="update" value="a">
            <select class="parameter-select" name="idlocal" id="">
                <option value="">Choose Parameter Set</option>
                $for local in localparameters:
                    <option name="idlocal" value="$local.idlocal"
                        $if master.idlocalA == local.idlocal:
                            selected="selected"
                        >Local parameters $local.idlocal</option>
            </select>
            <input type="submit" >
        </form>

        $if localA:
            <div>px: $localA.px</div>
            <div>width: $localA.width</div>
            <div>space: $localA.space</div>
            <div>xheight: $localA.xheight</div>
            <div>capital: $localA.capital</div>
            <div>boxheight: $localA.boxheight</div>
            <div>ascender: $localA.ascender</div>
            <div>descender: $localA.descender</div>
            <div>inktrap: $localA.inktrap</div>
            <div>stemcut: $localA.stemcut</div>
            <div>skeleton: $localA.skeleton</div>
            <div>superness: $localA.superness</div>
            <div>over: $localA.over</div>
    </div>
    <div class="col-md-4">
        <h4>Global</h4>
    </div>
    <div class="col-md-4">
        <h4>Font B</h4>
        <h4>Local</h4>

        <form action="" method="post">
            <input type="submit" class="btn btn-large" value="Create Local Parameters">
            <input type="hidden" name="create" value="b">
        </form>

        <form action="" method="post">
            <input type="hidden" name="update" value="b">
            <select class="parameter-select" name="idlocal" id="">
                <option value="">Choose Parameter Set</option>
                $for local in localparameters:
                    <option value="$local.idlocal"
                        $if master.idlocalB == local.idlocal:
                            selected="selected"
                        >Local parameters $local.idlocal</option>
            </select>
            <input type="submit" >
        </form>

        $if localB:
            <div>px: $localB.px</div>
            <div>width: $localB.width</div>
            <div>space: $localB.space</div>
            <div>xheight: $localB.xheight</div>
            <div>capital: $localB.capital</div>
            <div>boxheight: $localB.boxheight</div>
            <div>ascender: $localB.ascender</div>
            <div>descender: $localB.descender</div>
            <div>inktrap: $localB.inktrap</div>
            <div>stemcut: $localB.stemcut</div>
            <div>skeleton: $localB.skeleton</div>
            <div>superness: $localB.superness</div>
            <div>over: $localB.over</div>
    </div>
</div>