$def with (project, instances)
<head><title>Specimen</title>

<style>
	$for instance in instances:
		@font-face {
		  font-family: '$webctx.project.projectname.$instance.id';
		  font-style: normal;
		  font-weight: normal;
		  src: local('$webctx.project.projectname.$instance.id'), url("$working_url()$:'/instances/'$instance.id$:'.otf'") format('opentype');
		}
</style>

</head>


$for instance in instances:
	instance $instance.id from $webctx.project.projectname

	<div contenteditable="true" style="font-size: 28pt; font-family: '$webctx.project.projectname.$instance.id'">
	People should consider using a cold, wet cloth to treat insect bites instead of turning to over-the-counter remedies, experts say. Prof Michael Siva-Jothy, from Sheffield University's Department of Animal and Plant Sciences, recruited 89 brave volunteers to test the theory further, watching the bedbugs as they found a place to feed and removing them only as they were about to bite.
	</div>
