$def with (project, instances)
<head><title>Specimen</title>

<style>
	$for instance in instances:
		@font-face {
		  font-family: '$project.projectname.$instance.version';
		  font-style: normal;
		  font-weight: normal;
		  src: local('$project.projectname.$instance.version'), url("$working_url()$:'/static/'$instance.get_metafont()$:'.otf'") format('opentype');
		}
</style>

</head>


$for instance in instances:
	instance $instance.version from $project.projectname

	<div contenteditable="true" style="font-size: 162pt; font-family: '$project.projectname.$instance.version'">
	Hamburger
	</div>
