$def with (project, instances)
<head><title>Specimen</title>

<style>
	$for instance in instances:
		@font-face {
		  font-family: '$webctx.project.projectname.$instance.id';
		  font-style: normal;
		  font-weight: normal;
		  src: local('$webctx.project.projectname.$instance.id'), url("$working_url()$:'/instances/'$instance.id$:'.otf'") format('opentype');
		}
</style>

</head>


$for instance in instances:
	instance $instance.id from $webctx.project.projectname

	<div contenteditable="true" style="font-size: 162pt; font-family: '$webctx.project.projectname.$instance.id'">
	Hamburger
	</div>
