$def with ()

$var title: Workspace


<style>
    .dropzone {
        padding: 32px;
        font-size: 22px;
        color: ccc;
        border: dashed 2px #ccc;
        text-align: center;
    }

    .dropzone:before {
        content: "Drop archive with UFO here";
    }

    .dragging * {
      display: none;
    }

    .editor-axes {
        padding-top: 24px;
    }

    .axis {
      min-height: 32px;
    }

    input.span2 {
        width: 500px;
    }

    #workspace, .editor-axes, .metapolation, #templates  {
        display: none;
    }

    .row div {
      -webkit-transition: width 0.3s ease, margin 0.3s ease;
      -moz-transition: width 0.3s ease, margin 0.3s ease;
      -o-transition: width 0.3s ease, margin 0.3s ease;
      transition: width 0.3s ease, margin 0.3s ease;
    }

    #glyph-switcher span {
        margin-right: 8px;
    }

    .span0 {
        width: 0;
        display: none;
        margin-left: 0;
    }
</style>

<!-- Button trigger modal -->
<div id="btn-show-glyphs" style="display: none; padding-bottom: 16px;">
  <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#listglyphmodal">
    Show Glyphs
  </button>
</div>

<div class="row">
  <div id="glyph-switcher" class="span0 well">
  </div>

  <div id="paper">
    <div style="text-align: center; font-size: 32pt;" id="loading" class="alert alert-info">Loading...</div>

    <div id="workspace" style="display: none;">

        <div id="interpolations" style="display: none;">

        </div>
        <div class="editor">

        </div>
        <div style="padding-top: 32px;"><button id="btn-add-axes" class="btn btn-large btn-success">Add axes</button></div>
    </div>

  </div>

</div>

<div id="empty-workspace" style="display: none;">
  <!-- Button trigger modal -->
    <div id="btn-show-glyphs" style="display: none; padding-bottom: 16px;">
      <button class="btn btn-primary btn-xs">
        Show Glyphs
      </button>
    </div>

    <div id="interpolations" style="display: none;">

    </div>
    <div class="editor">

    </div>
    <div style="padding-top: 32px;"><button id="btn-add-axes" class="btn btn-large btn-success">Add axes</button></div>
</div>

<div id="templates" style="display: none;">
    <!-- Row for axes -->
    <div class="row editor-axes">

        <div class="col-md-4 axis" axis-position="left">

        </div>

        <div class="col-md-4" axis-position="middle">

        </div>

        <div class="col-md-4 axis" axis-position="right">

        </div>

    </div>

    <div id="metapolation-buttons" style="display: none;">
        <a href="javascript:;" id="btn-master-from-instance" class="btn btn-xs btn-success">Create master</a>
        <a href="javascript:;" id="btn-instance" class="btn btn-xs btn-success">Create instance</a>
    </div>

    <div id="view">
        <ul class="nav nav-tabs" style="clear: both;">
          <li class="active">
            <a data-toggle="tab">View</a>
          </li>
          <li><a data-toggle="tab">Point</a></li>
          <li><a data-toggle="tab">Settings</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active">
            <canvas class="paper"></canvas>
            <div style="display: none;">
              <a href="javascript:;" command="apply" class="btn btn-success">Apply</a>
              <a href="javascript:;" command="cancel" class="btn btn-danger">Cancel</a>
            </div>
          </div>
          <div class="tab-pane">
              <form action="" method="post" class="extended pointform">
              $:webctx.pointparam_extended_form.render()
              </form>
          </div>
          <div class="tab-pane">
              <form action="" method="post" class="extended localparamform">
                $:webctx.settings_form.render()
              </form>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript">
window.MFPARSER = "$:websession.get('mfparser')";
$$('#btn-show-glyphs').on('click', function(){
    $$('#paper').toggleClass('col-xs-12 col-xs-10');
    $$('#glyph-switcher').toggleClass('span0 col-xs-2');
});
</script>
