<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>All Glyphs</key>
    <array>
      <string>space</string>
      <string>A</string>
      <string>G</string>
      <string>M</string>
      <string>a</string>
      <string>e</string>
      <string>l</string>
      <string>o</string>
      <string>p</string>
      <string>r</string>
      <string>t</string>
    </array>
  </dict>
</plist>
