<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>@MMK_L_A</key>
    <array>
      <string>A</string>
    </array>
    <key>@MMK_L_B</key>
    <array>
      <string>B</string>
    </array>
    <key>@MMK_L_C</key>
    <array>
      <string>C</string>
    </array>
    <key>@MMK_L_F</key>
    <array>
      <string>F</string>
    </array>
    <key>@MMK_L_H</key>
    <array>
      <string>H</string>
    </array>
    <key>@MMK_L_I</key>
    <array>
      <string>I</string>
    </array>
    <key>@MMK_L_J</key>
    <array>
      <string>J</string>
    </array>
    <key>@MMK_L_K</key>
    <array>
      <string>K</string>
    </array>
    <key>@MMK_L_L</key>
    <array>
      <string>L</string>
    </array>
    <key>@MMK_L_M</key>
    <array>
      <string>M</string>
    </array>
    <key>@MMK_L_N</key>
    <array>
      <string>N</string>
    </array>
    <key>@MMK_L_T</key>
    <array>
      <string>T</string>
    </array>
    <key>@MMK_L_V</key>
    <array>
      <string>V</string>
    </array>
    <key>@MMK_L_X</key>
    <array>
      <string>X</string>
    </array>
    <key>@MMK_L_Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>@MMK_L_Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>@MMK_L_a</key>
    <array>
      <string>a</string>
    </array>
    <key>@MMK_L_comma</key>
    <array>
      <string>comma</string>
    </array>
    <key>@MMK_L_period</key>
    <array>
      <string>period</string>
    </array>
    <key>@MMK_L_quotedblleft</key>
    <array>
      <string>quotedblleft</string>
    </array>
    <key>@MMK_L_quoteleft</key>
    <array>
      <string>quoteleft</string>
    </array>
    <key>@MMK_L_quoteright</key>
    <array>
      <string>quoteright</string>
    </array>
    <key>@MMK_R_T</key>
    <array>
      <string>T</string>
    </array>
    <key>@MMK_R_a</key>
    <array>
      <string>a</string>
    </array>
    <key>@MMK_R_c</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>s</string>
      <string>quoteright</string>
    </array>
    <key>@MMK_R_emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>All Glyphs</key>
    <array>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>underscore</string>
      <string>grave</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>f</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>guillemotleft</string>
      <string>registered</string>
      <string>macron</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>cedilla</string>
      <string>onesuperior</string>
      <string>guillemotright</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>questiondown</string>
      <string>multiply</string>
      <string>germandbls</string>
      <string>divide</string>
      <string>dotlessi</string>
      <string>OE</string>
      <string>oe</string>
      <string>Racute</string>
      <string>racute</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>perthousand</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>fraction</string>
      <string>Euro</string>
      <string>trademark</string>
      <string>estimated</string>
      <string>partialdiff</string>
      <string>product</string>
      <string>summation</string>
      <string>minus</string>
      <string>divisionslash</string>
      <string>infinity</string>
      <string>notequal</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>fi</string>
      <string>fl</string>
      <string>ampersand</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>A</string>
      <string>a</string>
      <string>g</string>
      <string>B</string>
      <string>o</string>
      <string>Aacute</string>
      <string>n</string>
      <string>s</string>
      <string>acute</string>
      <string>AE</string>
      <string>e</string>
      <string>ae</string>
      <string>at</string>
      <string>approxequal</string>
      <string>asterisk</string>
    </array>
  </dict>
</plist>
