<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.smcp</key>
	<string>A_.smcp.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.smcp</key>
	<string>B_.smcp.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.smcp</key>
	<string>C_.smcp.glif</string>
	<key>C.ss03</key>
	<string>C_.ss03.glif</string>
	<key>C.ss04</key>
	<string>C_.ss04.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.smcp</key>
	<string>D_.smcp.glif</string>
	<key>Delta</key>
	<string>Delta_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.smcp</key>
	<string>E_.smcp.glif</string>
	<key>Eng</key>
	<string>Eng_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.smcp</key>
	<string>F_.smcp.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.smcp</key>
	<string>G_.smcp.glif</string>
	<key>G.ss03</key>
	<string>G_.ss03.glif</string>
	<key>G.ss04</key>
	<string>G_.ss04.glif</string>
	<key>Gamma</key>
	<string>Gamma_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.smcp</key>
	<string>H_.smcp.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.smcp</key>
	<string>I_.smcp.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.smcp</key>
	<string>J_.smcp.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.smcp</key>
	<string>K_.smcp.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.smcp</key>
	<string>L_.smcp.glif</string>
	<key>Lambda</key>
	<string>Lambda_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.smcp</key>
	<string>M_.smcp.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.smcp</key>
	<string>N_.smcp.glif</string>
	<key>NULL</key>
	<string>NULL_.glif</string>
	<key>NULL.001</key>
	<string>NULL_.001.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.smcp</key>
	<string>O_.smcp.glif</string>
	<key>O.ss04</key>
	<string>O_.ss04.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Ohorn</key>
	<string>Ohorn_.glif</string>
	<key>Omega</key>
	<string>Omega_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.smcp</key>
	<string>P_.smcp.glif</string>
	<key>Phi</key>
	<string>Phi_.glif</string>
	<key>Pi</key>
	<string>Pi_.glif</string>
	<key>Psi</key>
	<string>Psi_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.smcp</key>
	<string>Q_.smcp.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.smcp</key>
	<string>R_.smcp.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.smcp</key>
	<string>S_.smcp.glif</string>
	<key>S.ss03</key>
	<string>S_.ss03.glif</string>
	<key>Sigma</key>
	<string>Sigma_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.smcp</key>
	<string>T_.smcp.glif</string>
	<key>Theta</key>
	<string>Theta_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.smcp</key>
	<string>U_.smcp.glif</string>
	<key>Uhorn</key>
	<string>Uhorn_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.smcp</key>
	<string>V_.smcp.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.smcp</key>
	<string>W_.smcp.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.smcp</key>
	<string>X_.smcp.glif</string>
	<key>Xi</key>
	<string>Xi_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.smcp</key>
	<string>Y_.smcp.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.smcp</key>
	<string>Z_.smcp.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ss03</key>
	<string>a.ss03.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>alpha</key>
	<string>alpha.glif</string>
	<key>alpha.alt</key>
	<string>alpha.alt.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anoteleia</key>
	<string>anoteleia.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>beta</key>
	<string>beta.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>breveacutecomb</key>
	<string>breveacutecomb.glif</string>
	<key>brevegravecomb</key>
	<string>brevegravecomb.glif</string>
	<key>brevehookcomb</key>
	<string>brevehookcomb.glif</string>
	<key>brevetildecomb</key>
	<string>brevetildecomb.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.ss03</key>
	<string>c.ss03.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chi</key>
	<string>chi.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexacutecomb</key>
	<string>circumflexacutecomb.glif</string>
	<key>circumflexgravecomb</key>
	<string>circumflexgravecomb.glif</string>
	<key>circumflexhookcomb</key>
	<string>circumflexhookcomb.glif</string>
	<key>circumflextildecomb</key>
	<string>circumflextildecomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commaaccentrotate</key>
	<string>commaaccentrotate.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>crossbar</key>
	<string>crossbar.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>cyrillichook</key>
	<string>cyrillichook.glif</string>
	<key>cyrillichookleft</key>
	<string>cyrillichookleft.glif</string>
	<key>cyrillictic</key>
	<string>cyrillictic.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dasiaoxia</key>
	<string>dasiaoxia.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>delta</key>
	<string>delta.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresistonos</key>
	<string>dieresistonos.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotbelow</key>
	<string>dotbelow.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.lnum</key>
	<string>eight.lnum.glif</string>
	<key>eight.smcp</key>
	<string>eight.smcp.glif</string>
	<key>eight.sup</key>
	<string>eight.sup.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>epsilon</key>
	<string>epsilon.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eta</key>
	<string>eta.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.lnum</key>
	<string>five.lnum.glif</string>
	<key>five.smcp</key>
	<string>five.smcp.glif</string>
	<key>five.sup</key>
	<string>five.sup.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.lnum</key>
	<string>four.lnum.glif</string>
	<key>four.smcp</key>
	<string>four.smcp.glif</string>
	<key>four.sup</key>
	<string>four.sup.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>gamma</key>
	<string>gamma.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hook</key>
	<string>hook.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iota</key>
	<string>iota.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lambda</key>
	<string>lambda.glif</string>
	<key>largerighthook</key>
	<string>largerighthook.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lira</key>
	<string>lira.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.lnum</key>
	<string>nine.lnum.glif</string>
	<key>nine.smcp</key>
	<string>nine.smcp.glif</string>
	<key>nine.sup</key>
	<string>nine.sup.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>nsuperior</key>
	<string>nsuperior.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>omega</key>
	<string>omega.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.lnum</key>
	<string>one.lnum.glif</string>
	<key>one.smcp</key>
	<string>one.smcp.glif</string>
	<key>one.sup</key>
	<string>one.sup.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>peseta</key>
	<string>peseta.glif</string>
	<key>phi</key>
	<string>phi.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>psi</key>
	<string>psi.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quotereversed</key>
	<string>quotereversed.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rho</key>
	<string>rho.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringacute</key>
	<string>ringacute.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.ss03</key>
	<string>s.ss03.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.lnum</key>
	<string>seven.lnum.glif</string>
	<key>seven.smcp</key>
	<string>seven.smcp.glif</string>
	<key>seven.sup</key>
	<string>seven.sup.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>sigma</key>
	<string>sigma.glif</string>
	<key>sigma1</key>
	<string>sigma1.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.lnum</key>
	<string>six.lnum.glif</string>
	<key>six.smcp</key>
	<string>six.smcp.glif</string>
	<key>six.sup</key>
	<string>six.sup.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tau</key>
	<string>tau.glif</string>
	<key>theta</key>
	<string>theta.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.lnum</key>
	<string>three.lnum.glif</string>
	<key>three.smcp</key>
	<string>three.smcp.glif</string>
	<key>three.sup</key>
	<string>three.sup.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tonos</key>
	<string>tonos.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.lnum</key>
	<string>two.lnum.glif</string>
	<key>two.smcp</key>
	<string>two.smcp.glif</string>
	<key>two.sup</key>
	<string>two.sup.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>underscoredbl</key>
	<string>underscoredbl.glif</string>
	<key>uni0002</key>
	<string>uni0002.glif</string>
	<key>uni0009</key>
	<string>uni0009.glif</string>
	<key>uni0237</key>
	<string>uni0237.glif</string>
	<key>uni02F3</key>
	<string>uni02F3_.glif</string>
	<key>uni030F</key>
	<string>uni030F_.glif</string>
	<key>uni03D1</key>
	<string>uni03D1_.glif</string>
	<key>uni03D2</key>
	<string>uni03D2_.glif</string>
	<key>uni03D6</key>
	<string>uni03D6_.glif</string>
	<key>uni0402</key>
	<string>uni0402.glif</string>
	<key>uni0404</key>
	<string>uni0404.glif</string>
	<key>uni0409</key>
	<string>uni0409.glif</string>
	<key>uni040A</key>
	<string>uni040A_.glif</string>
	<key>uni040B</key>
	<string>uni040B_.glif</string>
	<key>uni040F</key>
	<string>uni040F_.glif</string>
	<key>uni0411</key>
	<string>uni0411.glif</string>
	<key>uni0414</key>
	<string>uni0414.glif</string>
	<key>uni0416</key>
	<string>uni0416.glif</string>
	<key>uni0417</key>
	<string>uni0417.glif</string>
	<key>uni0418</key>
	<string>uni0418.glif</string>
	<key>uni041A</key>
	<string>uni041A_.glif</string>
	<key>uni041B</key>
	<string>uni041B_.glif</string>
	<key>uni0423</key>
	<string>uni0423.glif</string>
	<key>uni0424</key>
	<string>uni0424.glif</string>
	<key>uni0426</key>
	<string>uni0426.glif</string>
	<key>uni0427</key>
	<string>uni0427.glif</string>
	<key>uni0428</key>
	<string>uni0428.glif</string>
	<key>uni0429</key>
	<string>uni0429.glif</string>
	<key>uni042A</key>
	<string>uni042A_.glif</string>
	<key>uni042B</key>
	<string>uni042B_.glif</string>
	<key>uni042C</key>
	<string>uni042C_.glif</string>
	<key>uni042D</key>
	<string>uni042D_.glif</string>
	<key>uni042E</key>
	<string>uni042E_.glif</string>
	<key>uni042F</key>
	<string>uni042F_.glif</string>
	<key>uni0431</key>
	<string>uni0431.glif</string>
	<key>uni0432</key>
	<string>uni0432.glif</string>
	<key>uni0433</key>
	<string>uni0433.glif</string>
	<key>uni0434</key>
	<string>uni0434.glif</string>
	<key>uni0436</key>
	<string>uni0436.glif</string>
	<key>uni0437</key>
	<string>uni0437.glif</string>
	<key>uni0438</key>
	<string>uni0438.glif</string>
	<key>uni043A</key>
	<string>uni043A_.glif</string>
	<key>uni043B</key>
	<string>uni043B_.glif</string>
	<key>uni043C</key>
	<string>uni043C_.glif</string>
	<key>uni043D</key>
	<string>uni043D_.glif</string>
	<key>uni043F</key>
	<string>uni043F_.glif</string>
	<key>uni0442</key>
	<string>uni0442.glif</string>
	<key>uni0444</key>
	<string>uni0444.glif</string>
	<key>uni0446</key>
	<string>uni0446.glif</string>
	<key>uni0447</key>
	<string>uni0447.glif</string>
	<key>uni0448</key>
	<string>uni0448.glif</string>
	<key>uni0449</key>
	<string>uni0449.glif</string>
	<key>uni044A</key>
	<string>uni044A_.glif</string>
	<key>uni044B</key>
	<string>uni044B_.glif</string>
	<key>uni044C</key>
	<string>uni044C_.glif</string>
	<key>uni044D</key>
	<string>uni044D_.glif</string>
	<key>uni044E</key>
	<string>uni044E_.glif</string>
	<key>uni044F</key>
	<string>uni044F_.glif</string>
	<key>uni0452</key>
	<string>uni0452.glif</string>
	<key>uni0454</key>
	<string>uni0454.glif</string>
	<key>uni0459</key>
	<string>uni0459.glif</string>
	<key>uni045A</key>
	<string>uni045A_.glif</string>
	<key>uni045B</key>
	<string>uni045B_.glif</string>
	<key>uni045F</key>
	<string>uni045F_.glif</string>
	<key>uni0460</key>
	<string>uni0460.glif</string>
	<key>uni0461</key>
	<string>uni0461.glif</string>
	<key>uni0463</key>
	<string>uni0463.glif</string>
	<key>uni0464</key>
	<string>uni0464.glif</string>
	<key>uni0465</key>
	<string>uni0465.glif</string>
	<key>uni0466</key>
	<string>uni0466.glif</string>
	<key>uni0467</key>
	<string>uni0467.glif</string>
	<key>uni0468</key>
	<string>uni0468.glif</string>
	<key>uni0469</key>
	<string>uni0469.glif</string>
	<key>uni046A</key>
	<string>uni046A_.glif</string>
	<key>uni046B</key>
	<string>uni046B_.glif</string>
	<key>uni046C</key>
	<string>uni046C_.glif</string>
	<key>uni046D</key>
	<string>uni046D_.glif</string>
	<key>uni046E</key>
	<string>uni046E_.glif</string>
	<key>uni046F</key>
	<string>uni046F_.glif</string>
	<key>uni0472</key>
	<string>uni0472.glif</string>
	<key>uni0473</key>
	<string>uni0473.glif</string>
	<key>uni0474</key>
	<string>uni0474.glif</string>
	<key>uni0475</key>
	<string>uni0475.glif</string>
	<key>uni047A</key>
	<string>uni047A_.glif</string>
	<key>uni047B</key>
	<string>uni047B_.glif</string>
	<key>uni047C</key>
	<string>uni047C_.glif</string>
	<key>uni047D</key>
	<string>uni047D_.glif</string>
	<key>uni047E</key>
	<string>uni047E_.glif</string>
	<key>uni047F</key>
	<string>uni047F_.glif</string>
	<key>uni0480</key>
	<string>uni0480.glif</string>
	<key>uni0481</key>
	<string>uni0481.glif</string>
	<key>uni0482</key>
	<string>uni0482.glif</string>
	<key>uni0483</key>
	<string>uni0483.glif</string>
	<key>uni0484</key>
	<string>uni0484.glif</string>
	<key>uni0485</key>
	<string>uni0485.glif</string>
	<key>uni0486</key>
	<string>uni0486.glif</string>
	<key>uni0488</key>
	<string>uni0488.glif</string>
	<key>uni0489</key>
	<string>uni0489.glif</string>
	<key>uni048D</key>
	<string>uni048D_.glif</string>
	<key>uni048E</key>
	<string>uni048E_.glif</string>
	<key>uni048F</key>
	<string>uni048F_.glif</string>
	<key>uni0490</key>
	<string>uni0490.glif</string>
	<key>uni0491</key>
	<string>uni0491.glif</string>
	<key>uni0493</key>
	<string>uni0493.glif</string>
	<key>uni0494</key>
	<string>uni0494.glif</string>
	<key>uni0495</key>
	<string>uni0495.glif</string>
	<key>uni049C</key>
	<string>uni049C_.glif</string>
	<key>uni049D</key>
	<string>uni049D_.glif</string>
	<key>uni04A0</key>
	<string>uni04A0_.glif</string>
	<key>uni04A1</key>
	<string>uni04A1_.glif</string>
	<key>uni04A4</key>
	<string>uni04A4_.glif</string>
	<key>uni04A5</key>
	<string>uni04A5_.glif</string>
	<key>uni04A6</key>
	<string>uni04A6_.glif</string>
	<key>uni04A7</key>
	<string>uni04A7_.glif</string>
	<key>uni04A8</key>
	<string>uni04A8_.glif</string>
	<key>uni04A9</key>
	<string>uni04A9_.glif</string>
	<key>uni04B4</key>
	<string>uni04B4_.glif</string>
	<key>uni04B5</key>
	<string>uni04B5_.glif</string>
	<key>uni04B8</key>
	<string>uni04B8_.glif</string>
	<key>uni04B9</key>
	<string>uni04B9_.glif</string>
	<key>uni04BA</key>
	<string>uni04BA_.glif</string>
	<key>uni04BC</key>
	<string>uni04BC_.glif</string>
	<key>uni04BD</key>
	<string>uni04BD_.glif</string>
	<key>uni04C3</key>
	<string>uni04C3_.glif</string>
	<key>uni04C4</key>
	<string>uni04C4_.glif</string>
	<key>uni04C7</key>
	<string>uni04C7_.glif</string>
	<key>uni04C8</key>
	<string>uni04C8_.glif</string>
	<key>uni04D8</key>
	<string>uni04D8_.glif</string>
	<key>uni04E0</key>
	<string>uni04E0_.glif</string>
	<key>uni04E1</key>
	<string>uni04E1_.glif</string>
	<key>uni04FA</key>
	<string>uni04FA_.glif</string>
	<key>uni04FB</key>
	<string>uni04FB_.glif</string>
	<key>uni0500</key>
	<string>uni0500.glif</string>
	<key>uni0502</key>
	<string>uni0502.glif</string>
	<key>uni0503</key>
	<string>uni0503.glif</string>
	<key>uni0504</key>
	<string>uni0504.glif</string>
	<key>uni0505</key>
	<string>uni0505.glif</string>
	<key>uni0506</key>
	<string>uni0506.glif</string>
	<key>uni0507</key>
	<string>uni0507.glif</string>
	<key>uni0508</key>
	<string>uni0508.glif</string>
	<key>uni0509</key>
	<string>uni0509.glif</string>
	<key>uni050A</key>
	<string>uni050A_.glif</string>
	<key>uni050B</key>
	<string>uni050B_.glif</string>
	<key>uni050C</key>
	<string>uni050C_.glif</string>
	<key>uni050D</key>
	<string>uni050D_.glif</string>
	<key>uni050E</key>
	<string>uni050E_.glif</string>
	<key>uni050F</key>
	<string>uni050F_.glif</string>
	<key>uni0510</key>
	<string>uni0510.glif</string>
	<key>uni2000</key>
	<string>uni2000.glif</string>
	<key>uni2001</key>
	<string>uni2001.glif</string>
	<key>uni2002</key>
	<string>uni2002.glif</string>
	<key>uni2003</key>
	<string>uni2003.glif</string>
	<key>uni2004</key>
	<string>uni2004.glif</string>
	<key>uni2005</key>
	<string>uni2005.glif</string>
	<key>uni2006</key>
	<string>uni2006.glif</string>
	<key>uni2007</key>
	<string>uni2007.glif</string>
	<key>uni2008</key>
	<string>uni2008.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>uni200A</key>
	<string>uni200A_.glif</string>
	<key>uni200B</key>
	<string>uni200B_.glif</string>
	<key>uni2025</key>
	<string>uni2025.glif</string>
	<key>uni2074</key>
	<string>uni2074.glif</string>
	<key>uni2105</key>
	<string>uni2105.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2116</key>
	<string>uni2116.glif</string>
	<key>uniFB02</key>
	<string>uniFB02_.glif</string>
	<key>uniFEFF</key>
	<string>uniFEFF_.glif</string>
	<key>uniFFFC</key>
	<string>uniFFFC_.glif</string>
	<key>uniFFFD</key>
	<string>uniFFFD_.glif</string>
	<key>upsilon</key>
	<string>upsilon.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>xi</key>
	<string>xi.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.lnum</key>
	<string>zero.lnum.glif</string>
	<key>zero.smcp</key>
	<string>zero.smcp.glif</string>
	<key>zero.sup</key>
	<string>zero.sup.glif</string>
	<key>zeta</key>
	<string>zeta.glif</string>
</dict>
</plist>
