<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
    rel='stylesheet' type='text/css'>

  <link href="/css/up.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav pull-right hidden-print">
          <li>
            <a class="hidden-sm" href="http://github.com/caarlos0/up"
              title="Get this theme!">
              <i class="icon-download icon-large"></i>
            </a>
            <a class="visible-sm" href="http://github.com/caarlos0/up"
              title="Get this theme!">
              <i class="icon-download icon-large"></i>
              Get this theme!
            </a>
          </li>
          <li>
            <a class="hidden-sm" title="About me" href="/about">
              <i class="icon-user icon-large"></i>
            </a>
            <a class="visible-sm" title="About me" href="/about">
              <i class="icon-user icon-large"></i>
              About me
            </a>
          </li>
          <li>
            <a class="hidden-sm" href="/atom.xml" title="Atom Feed">
              <i class="icon-rss icon-large"></i>
            </a>
            <a class="visible-sm" href="/atom.xml" title="Atom Feed">
              <i class="icon-rss icon-large"></i>
              Atom Feed
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>

  <div id="footer" class="hidden-print">
    <section class="meta">
      <div class="container">
        <div class="row">
          <div class="col col-lg-2 col-offset-4">
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <i class="icon icon-twitter icon-4x"></i>
              <div>Follow me on Twitter.</div>
            </a>
          </div>
          <div class="col col-lg-2 next">
            <a href="https://github.com/{{ site.author.github }}">
              <i class="icon icon-github icon-4x"></i>
              <div>
                See my github profile.
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include analytics.html %}
  {% include gauges.html %}
</body>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/js/up.js"></script>
</html>
