<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>familyName</key>
	<string>Foxtail</string>
	<key>styleName</key>
	<string>Medium</string>
	<key>copyright</key>
	<string>Created by Wei Huang with FontForge 2.0 (http://fontforge.sf.net)</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>ascender</key>
	<integer>750</integer>
	<key>descender</key>
	<integer>-200</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string>2013-8-5: Created.</string>
	<key>openTypeHeadCreated</key>
	<string>2013/08/05 14:32:01</string>
	<key>openTypeNameVersion</key>
	<string>Version 001.000</string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>500</integer>
	<key>openTypeOS2VendorID</key>
	<string>PfEd</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>750</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>90</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>0</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>0</integer>
	<key>postscriptFontName</key>
	<string>Foxtail-Medium</string>
	<key>postscriptFullName</key>
	<string>Foxtail Medium</string>
	<key>postscriptWeightName</key>
	<string>Medium</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
</dict>
</plist>
