<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c_nna</key>
	<string>c_nna.glif</string>
	<key>c_pa</key>
	<string>c_pa.glif</string>
	<key>c_pha</key>
	<string>c_pha.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>component_1</key>
	<string>component_1.glif</string>
	<key>component_10</key>
	<string>component_10.glif</string>
	<key>component_2</key>
	<string>component_2.glif</string>
	<key>component_3</key>
	<string>component_3.glif</string>
	<key>component_4</key>
	<string>component_4.glif</string>
	<key>component_5</key>
	<string>component_5.glif</string>
	<key>component_6</key>
	<string>component_6.glif</string>
	<key>component_7</key>
	<string>component_7.glif</string>
	<key>component_8</key>
	<string>component_8.glif</string>
	<key>component_9</key>
	<string>component_9.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dn_a.alt1</key>
	<string>dn_a.alt1.glif</string>
	<key>dn_a.nukta</key>
	<string>dn_a.nukta.glif</string>
	<key>dn_a.nukta.alt1</key>
	<string>dn_a.nukta.alt1.glif</string>
	<key>dn_au.alt1</key>
	<string>dn_au.alt1.glif</string>
	<key>dn_bha</key>
	<string>dn_bha.glif</string>
	<key>dn_bha.alt1</key>
	<string>dn_bha.alt1.glif</string>
	<key>dn_bha.e</key>
	<string>dn_bha.e.glif</string>
	<key>dn_bha.e.alt1</key>
	<string>dn_bha.e.alt1.glif</string>
	<key>dn_bha.ra</key>
	<string>dn_bha.ra.glif</string>
	<key>dn_bha.ra.alt1</key>
	<string>dn_bha.ra.alt1.glif</string>
	<key>dn_chandra_a</key>
	<string>dn_chandra_a.glif</string>
	<key>dn_fa</key>
	<string>dn_fa.glif</string>
	<key>dn_fa.ra</key>
	<string>dn_fa.ra.glif</string>
	<key>dn_ga.e</key>
	<string>dn_ga.e.glif</string>
	<key>dn_ma</key>
	<string>dn_ma.glif</string>
	<key>dn_ma.ai</key>
	<string>dn_ma.ai.glif</string>
	<key>dn_ma.ai.anusvara</key>
	<string>dn_ma.ai.anusvara.glif</string>
	<key>dn_ma.e</key>
	<string>dn_ma.e.glif</string>
	<key>dn_ma.e.anusvara</key>
	<string>dn_ma.e.anusvara.glif</string>
	<key>dn_ma.na</key>
	<string>dn_ma.na.glif</string>
	<key>dn_ma.ra</key>
	<string>dn_ma.ra.glif</string>
	<key>dn_na</key>
	<string>dn_na.glif</string>
	<key>dn_nna.e.anusvara</key>
	<string>dn_nna.e.anusvara.glif</string>
	<key>dn_nna.half</key>
	<string>dn_nna.half.glif</string>
	<key>dn_nnna</key>
	<string>dn_nnna.glif</string>
	<key>dn_o.alt1</key>
	<string>dn_o.alt1.glif</string>
	<key>dn_pa.e</key>
	<string>dn_pa.e.glif</string>
	<key>dn_pa.ra</key>
	<string>dn_pa.ra.glif</string>
	<key>dn_pha.ra</key>
	<string>dn_pha.ra.glif</string>
	<key>dn_ssa</key>
	<string>dn_ssa.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.dot</key>
	<string>i.dot.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kana</key>
	<string>kana.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.alt</key>
	<string>n.alt.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v_a</key>
	<string>v_a.glif</string>
	<key>v_aa</key>
	<string>v_aa.glif</string>
	<key>v_ae</key>
	<string>v_ae.glif</string>
	<key>v_ai</key>
	<string>v_ai.glif</string>
	<key>v_ao</key>
	<string>v_ao.glif</string>
	<key>v_au</key>
	<string>v_au.glif</string>
	<key>v_e</key>
	<string>v_e.glif</string>
	<key>v_ea</key>
	<string>v_ea.glif</string>
	<key>v_ee</key>
	<string>v_ee.glif</string>
	<key>v_o</key>
	<string>v_o.glif</string>
	<key>v_oa</key>
	<string>v_oa.glif</string>
	<key>v_rhu</key>
	<string>v_rhu.glif</string>
	<key>v_u</key>
	<string>v_u.glif</string>
	<key>v_uu</key>
	<string>v_uu.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
